[2015-07-11 16:18] lorenzo commented on #6997
Ok, there is not much we can do about it. PHP 32 bit cannot represent such numbers, I would suggest in your case to use a string type, then.

[2015-07-11 16:32] chinpei215 commented on #6997
Thanks :)

[2015-07-11 22:30] kevinquinnyo commented on #5602
As someone who works in the web hosting industry, my opinion is that this is really only a problem in shared hosting environments, which are dying out in favor of virtualization, containers, and cloud solutions.  There are even turn-key chroot-type solutions like cagefs/php-selector to run multiple php versions on a shared server these days, so the incompatibility issue is not as big as it used to

[2015-07-12 00:03] jhli commented on #5602
I am using shared managed hosting for my small clients and 5.5/5.6 is no issue. The bigger clients run debian or red hat no prob and can basically decide what to use So :+1:

If there is need to make stuff easier for newbies there are other ways like virtual appliances, better cake bake styles, crud, web installers, prefixes working for bake and orm, cakeschool, etcetc.

[2015-07-12 01:30] tatarhy opened #6998 "Text::tokenize don't tokenize correctly when specified multi-byte character as separator"
I used Text::tokenize to tokenize by multi-byte character such as double width whitespace.
But It don't tokenize correctly.

I added test case to end of TextTest::testTokenize and the test become failure.

[code]

[code]

[2015-07-12 02:07] markstory commented on #6288
Closing as a pull request for the connection interface is up now.

[2015-07-12 02:07] #6288 closed

[2015-07-12 02:25] markstory commented on #6998
Pull request open now.

[2015-07-12 02:25] #6998 closed

[2015-07-12 03:09] Jayaramki commented on #6987
I am getting `/~cjramki/myCake/webroot/js/myAppScript.js` like this.

I have put break point to check where went wrong in UrlHelper's webroot method. My `$this->theme` value is empty. So, the condition at https://github.com/cakephp/cakephp/blob/master/src/View/Helper/UrlHelper.php#L154 this line goes to false block always for my app resources and also for plugin resources.

And My https://github.c

[2015-07-12 05:36] ADmad commented on #6987
You should never have "webroot" in your urls. It is a url rewriting issue. So as I already stated earlier manually set proper value for `App.baseUrl` config.

[2015-07-12 05:44] Jayaramki commented on #6987
I can't each time change my hardcoded url. So, is there any way to solve url rewriting issue?

[2015-07-12 05:48] ADmad commented on #6987
All you have to do is set the `App.baseUrl` config and use helpers to generate your urls.

 There is no bug here that needs to be fixed. If you need further assistance post your issue your stackoverflow.com. This issues tracker is not a help forum.

[2015-07-12 05:50] Jayaramki commented on #6987
ok thanks for your response... :D

[2015-07-12 10:06] kicaj opened #7001 "Select without any option"
Cake 2.5.8

There is no field name in `$this->request->data` after submit when field input select hasn't any option.

Now I must use `required` to `true` on this validation rules but I would like skip this...

[2015-07-12 10:09] ADmad commented on #7001
That's not possible if you are using FormHelper to generate the select. It adds a hidden field by default which ensure an empty string is POSTed if no option is selected.

[2015-07-12 10:14] kicaj commented on #7001
Select is created by FormHelper:

	<?php
		echo $this->Form->input('post_category_id', array(
			'class' => 'column-9',
			'label' => array(
				'text' => 'Kategoria',
				'class' => 'column-3'
			)
		));
	?>

When I set `empty` works good. But problem is when is without any option or without `empty`...

[2015-07-12 10:15] kicaj commented on #7001
And $postCategories is empty

[2015-07-12 11:13] ADmad commented on #7001
Ah this is a normal select not a multi-select. Wonder if html skips the select input in POSTed data if it does not have any options.

[2015-07-12 11:20] markstory commented on #7001
@ADmad Yes it does. @kicaj This is more an issue with HTML/browsers than with CakePHP.

[2015-07-12 11:20] #7001 closed

[2015-07-12 11:28] ADmad commented on #7001
@markstory We do take care of this wackiness for multi selects so I don't think it's wrong for people to expect the same for single value selects too.

[2015-07-12 11:50] Jayaramki commented on #6987
Got it worked Now. I have enabled 'mod_rewrite` module in my wamp, and commented the `baseUrl` in `app.php` file.

Now I'm getting `/myCake/myPlugin/js/myScript.js`

[2015-07-12 17:55] DSchalla opened #7002 "I18N Shell is creating Folder without Read+Execute Permissions for All"
After debugging for some time why I18N was not working on my system after initializing the environment with the I18N Shell I saw that the Shell does not add Read+Execute Permissions for all users, thus the webserver cannot read the files and does not fire an error or anything else.

https://github.com/cakephp/cakephp/blame/master/src/Shell/I18nShell.php#L95

I wondered that there has been no error

[2015-07-12 18:17] rchavik commented on #7002
Perhaps it's your umask that's causing it?

[2015-07-12 18:33] DSchalla commented on #7002
@rchavik: Did you take a look at the line I linked?

My umask is Ubuntu Default
umask: 002

[2015-07-12 21:17] mylux opened #7003 "Impossible to use CSS block into View Cells"
In CakePHP 3.0 I am trying to build a Dynamic menu based on user profiles.
I just noticed that it is impossible to do:

<code>
$this->Html->css('menupan.css',['block'=>true]);
</code>

It seems like the View Cells are loaded after the View Blocks were already rendered.

Is this the real purpose of View Cells, or we may consider this a bug?

Thanks in advance.

[2015-07-12 21:24] steefaan opened #7004 "IntegrationTestCase & SecurityComponent"
It seems there isn't a nice way to simulate the `fields` and `unlocked` hashes of the SecurityComponent in a controller test case. The CSRF token is pretty easy to handle in an extended IntegrationTestCase and I wished it would be similar with the hashes for the SecurityComponent. Let me give you an example to show what I mean. This is a part of my extended IntegrationTestCase:

[code]

As you can

[2015-07-12 22:15] markstory commented on #7001
Multiselects don't submit even of they have options and none are selected though. This seems like a far less likely case.

[2015-07-12 23:07] markstory commented on #7002
Adding world writable is not always a good idea. But noth havin even world read is a bit problematic.

[2015-07-12 23:23] markstory commented on #7003
Cells are not loaded after, but they do use separate view instances that do not share state with the enclosing view. This is intentional as cells are a lightweight replacement for requestaction.

[2015-07-12 23:58] markstory commented on #7004
If you could have a simpler to use API what would that look like?

[2015-07-13 00:06] dereuromark commented on #7002
We should probably use 775 as other parts in the core do as well, e.g. https://github.com/cakephp/cakephp/blob/master/src/Cache/Engine/FileEngine.php#L379

[2015-07-13 02:17] markstory commented on #7002
@dereuromark :+1:

[2015-07-13 09:21] DSchalla commented on #7002
@markstory @dereuromark Yeah, mixed up the chmod, was a little bit tired after the debug session. That sounds good.

[2015-07-13 09:25] omidahn opened #7007 "Mongodb driver"
Will there be Mongodb support for cakephp 3?

[2015-07-13 10:23] jhli commented on #7007
You can simply use it but the ORM is SQL oriented, so you ll have to figure out form and data validation, data filtering/retieval and writing. as far as I know.

[2015-07-13 10:28] jhli commented on #7001
If you are relying on what users send (e.g. Default/hidden data) instead of doing something like validators required true, then users might tinker with your app/from data to manipulate data and/or crash the app; imho.

[2015-07-13 11:04] ADmad commented on #7001
Woah, that escalated quickly.

[2015-07-13 11:12] omidahn commented on #7007
But there is no Mongo DB Driver out of the box

[2015-07-13 11:31] lorenzo commented on #7007
@okinaka there are currently no plans for creating a mongo db ODM. Let us know if you are interested in creating one so we can guide you in the process

[2015-07-13 11:31] #7007 closed

[2015-07-13 13:13] tanuck commented on #7007
@omidahn @lorenzo I brought this up on IRC sometime last week with the same outcome. So I've started on my own mongo DS plugin, I'd be happy with any help once I've pushed up the initial commits!

[2015-07-13 14:18] lorenzo commented on #7007
@tanuck great, just copy the link to your repo when you have it public!

[2015-07-13 15:43] markstory commented on #7002
Pull request up.

[2015-07-13 15:43] #7002 closed

[2015-07-13 17:07] alexkleinubing opened #7011 "Permissions reset to log and tmp dir?"
I have got some error of permissions.

![captura de tela de 2015-07-13 13 02 19](https://cloud.githubusercontent.com/assets/2112389/8655515/a8fd81b8-295f-11e5-867e-c1a5717d07a1.png)

I have set full 777 permission to directory and this work, but hours later, it need to set again, on file of persistent and model folders, on tmp directory...
I have set all day, again and again and again, i dont unde

[2015-07-13 17:10] ADmad commented on #7011
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2015-07-13 17:10] #7011 closed

[2015-07-13 22:28] andtxr opened #7012 "3.1 - Bug - Themed Flash Elements"
Seems that #5920 stopped to work after the merges of #6161

Going to check it later

[2015-07-14 03:08] markstory commented on #7012
Knowing how to reproduce the issue would be helpful. The test added in #5936 is still passing.

[2015-07-14 03:28] josephzidell commented on #4118
@lorenzo My 2c is to document this as the 3.x way of doing prefixes, fix bake, and call it a day.

[2015-07-14 13:47] andtxr commented on #7012
Going to do isolated tests right now.

[2015-07-14 14:17] steefaan commented on #7004
May this could be a solution:

[code]

[2015-07-14 14:20] adduc opened #7013 "Support for treating BINARY(36) in CakePHP 3.x"
Hello,

As I understand it, CakePHP 1.x and 2.x had support for treating both CHAR(36) and BINARY(36) database fields as UUID. While CakePHP 3.x supports treating CHAR(36) as UUID, it does not appear to offer the same behavior for BINARY(36) fields. Could this feature be added back in a future 3.x release? I would be willing to develop it.

[2015-07-14 14:22] steefaan commented on #7004
This way you have different possiblities. If you include the SecurityTrait to your controller test cases it will simulate a CSRF token and the Security token to prevent the black-holed error message. It's independ what data you will send with you `$this->post()` request in the test method, the token is always correct. You can event set your own

[code]

to the post data if you want. Seems to be th

[2015-07-14 15:24] burzum commented on #7004
:+1:

[2015-07-14 16:31] markstory commented on #7013
I'm assuming you're using mysql? I don't think we ever supported binary(36) in sqlserver or postgres.

In addition to handling the column reflection, we'd also need to solve how this uuid type is different from the string one. Right now all the uuid implementations use ascii encoded data. I don't think that is going to be feasible if we also have to handle binary blobs.

[2015-07-14 16:34] markstory commented on #7004
A trait is an interesting approach, that would let us use the same code in the helper and the test cases.

[2015-07-14 18:31] andtxr commented on #7012
It is actually working on 3.0.8.

But did not worked with cakephp/app [3.1] and cakephp/cakephp [3.1]
Even this branches are still unstable I preferred report.

You can check it from a fresh install and then:

* `bin/cake bake plugin Theme`
* Copy `src/Template/Element/Flash` to `plugins/Theme/src/Template`
* Add `public $theme = 'Theme';` to AppController class.
* Make some changes in the theme f

[2015-07-14 19:07] steefaan commented on #7004
I don't want to rush you but are you able to give me estimate how long it will take to have it on the master branch? Maybe I can help you with something to speed the process?

[2015-07-14 19:09] dereuromark commented on #7004
A trait sounds great :+1:

[2015-07-14 20:44] lorenzo commented on #7013
Binary(36) has only disadvantages over CHAR(36), that is why it is not supported.

Supporting BINARY(16) would be interesting, but requires important changes in how the Type system works (specifically using custom SQL each time the column is used in a query)

[2015-07-14 20:55] dereuromark commented on #7013
I think I tried with binary(16) and had to use https://github.com/dereuromark/cakephp-shim/blob/master/src/Database/Type/BinaryType.php for it.

[2015-07-14 21:07] markstory commented on #7004
@steefaan I don't have an estimate. Working in the evenings and weekends doesn't lend itself to giving reliable time estimates. If you need something fast, you might be best to use the solution you provided, or submit a pull request.

[2015-07-14 21:09] markstory commented on #7013
@dereuromark Ideally we'd have a binaryUuid type so we wouldn't be running regexp on potentially megabytes of binary data.

[2015-07-14 21:13] markstory commented on #7012
Thanks @andtxr I'll try reproducing tonight.

[2015-07-15 05:52] jc-developpement opened #7014 "problem rewrite url under xampp or wampserver with debug to false"
HI
i try actually cake 3 and i have a problem when i change debug to false in the config file. It does not find webroot but when the debug mode is enable, it's OK

I don't understant why ?

Thx

Jerem

[2015-07-15 05:53] ADmad commented on #7014
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2015-07-15 05:53] #7014 closed

[2015-07-15 05:58] antograssiot commented on #7014
@jc-developpement the home page is not accessible when debug is false by default.
See https://github.com/cakephp/app/blob/master/src/Template/Pages/home.ctp#L23-L25

[2015-07-15 07:40] quickapps opened #7015 "Response::file() & directory traversal [3.x]"
Currently the method `Response::file()` performs a very basic checking against "Directory Traversal" attacks by doing this:

[code]

This approach doesn't allow us to work with file names containing two consecutive dots symbols, e.g. `Some truncated name ... .pdf`

Proposed solution, remove filename from **$path** before checking:

[code]

[2015-07-15 07:50] Serginho opened #7016 "CakePHP 2.6.x Containable behavior produces too much innecesary queries"
If we have more that one level of depth, containable begins to execute innecesary queries.

it produces queries like

[code]
intead of
[code]

[2015-07-15 10:01] lorenzo commented on #7016
This is a known limitation of the behavior when containing too deeply nested associations. I would suggest not using the containable behavior for the problematic associations level and manually issuing the queries that will suit your need.

The limitation is very hard to fix without a big rewirte in the model layer, which is what happened for version 3.0. Closing as this was fixed in the most rece

[2015-07-15 11:14] #7016 closed

[2015-07-15 11:50] HavokInspiration commented on #7012
I was able to take a look at this.
It may be wrong but it seems that the ``$theme`` property of the ``AppController`` is not propagated to the ``View``.
If I set the ``$theme`` property in ``AppView`` it works as expected.
This explains the fact that tests are passing.

[2015-07-15 11:51] adayth opened #7018 "Add UrlHelper as property comment in Cake\View\View"
UrlHelper could be added to Cake\View\View to enable property autocompletion.

Related to: junichi11/cakephp3-netbeans#29

[code]

[2015-07-15 11:55] lorenzo commented on #7018
@adayth would you like to submit a pull request?

[2015-07-15 11:57] adayth commented on #7018
Sure, I'll do it.

[2015-07-15 12:01] ADmad commented on #7012
@HavokInspiration Yes, view related properties have removed from controller in 3.1. Instead of declaring `public $theme = 'Theme';` one should set `$this->getView()->theme = 'Theme'` in `beforeRender()`.

[2015-07-15 12:08] adayth commented on #7018
Done. I hope you find it useful ;)

[2015-07-15 12:14] HavokInspiration commented on #7012
@ADmad OK. We need to update the 3.1 doc around Themes then.

[2015-07-15 12:19] #7018 closed

[2015-07-15 12:26] ADmad commented on #7012
I'll check again and ensure the 3.1 docs are updated.

[2015-07-15 12:27] markstory commented on #7012
@ADmad Shouldn't we be handling the theme property in the same way as view/layout?

[2015-07-15 12:27] antograssiot commented on #7015
@quickapps would you like to submit a PR for this ?

[2015-07-15 12:29] ADmad commented on #7012
@markstory Usage like `$this->theme` is handled through the magic getter/setter. The problem is the magic getter/setter don't work when you declare those properties as `public $theme = 'Foo';`.

[2015-07-15 12:51] lorenzo commented on #7012
@ADmad I think we need to unset($this->theme) in the constructor and remember its initial value somewhere so it can be applied if it was not changed

[2015-07-15 12:52] ADmad commented on #7012
@lorenzo Or maybe we can do a `property_exists()` check and if the property is set pass it on to View class when it is constructed and then unset it. I'll look into it this weekend, unless someone has wants to handle it earlier :)

[2015-07-15 14:19] antograssiot commented on #7015
closed with #7021

[2015-07-15 14:19] #7015 closed

[2015-07-15 18:45] richerlariviere opened #7025 "inputContainer should be ignored by hidden inputs"
It could be a great enhancement to avoid hidden inputs from being wrapped by an inputContainer. In my case, I can see the div in the DOM. If it is impossible I guess we can add a new template type for hidden inputs.

**/config/app_form.php**
[code]

[2015-07-15 18:54] reiserfs opened #7026 "Internationalization & Localization not working"
Hi, im made all the steps to make localization work on my app

using the cakebook http://book.cakephp.org/3.0/en/core-libraries/internationalization-and-localization.html

1. created the folder inside src. mkdir -p src/Locale/pt_BR
2. i used the i18n shell to create the default.po. bin/cake i18n extract
3. copied the default.po to src/Locale/pt_BR, and translated some strings
4. changed the bootst

[2015-07-15 19:02] #7026 closed

[2015-07-15 19:38] ADmad commented on #7025
Can you provide a usage example which generates hidden input wrapped with input container?

[2015-07-15 19:51] richerlariviere commented on #7025
Of course! I removed the useless code, like classes and other non-input elements. My form is using a form template located in `/config/app_form.php``.

**Input declaration**
[code]

**Generated code**
[code]

[2015-07-15 19:54] richerlariviere commented on #7025
Oh, I'm feeling stupid. There is no problem with inputContainer...

However, the hidden input is wrapped with the input template. Is it useful considering the fact that this input is invisible?

[2015-07-15 20:02] ADmad commented on #7025
You should not be adding wrapper to the `input` template. [BootstrapUI](https://github.com/friendsofcake/bootstrap-ui) achieves layouts using bootstrap without adding any wrapper to the `input` template :)

[2015-07-15 20:02] #7025 closed

[2015-07-15 20:07] EOM opened #7027 ".editorconfig and stander for HTML * .ctp according to "w3schools" or "Bootstrap" similar to "PSR-2""
Hi,
This is not a bug, is a pleanteo on https://github.com/cakephp/cakephp/blob/master/.editorconfig
or standard HTML and JS in CakePHP.

CakePHP 3 does not set a standard for HTML .ctp * or * .js files ..?
As "w3schools"
http://www.w3schools.com/html/html5_syntax.asp
or "Bootstrap"
https://github.com/twbs/bootstrap/blob/master/CONTRIBUTING.md#code-guidelines

There is a standard style "CODE http:

[2015-07-15 20:15] bcrowe commented on #7027
I'd totally be cool with having these settings for .ctp and .js files since they do follow the standards at-large. Do you want to make a quick PR first and we can let the bikeshedding begin? :laughing:

[2015-07-15 20:22] ADmad commented on #7027
`.ctp` are essentially php files and hence follow same indentation standard as php files. Even if you consider them as HTML we would prefer using a consistent indentation. Core does not have any javascript files to setting a style for it is irrelevant.

That said these standards are for the cakephp core. You are free to follow whatever standard you like for your app.

[2015-07-15 20:22] #7027 closed

[2015-07-15 20:25] bcrowe commented on #7027
@EOM You might've wanted to put this issue on the cakephp/app repo instead of this one.

[2015-07-15 20:28] ADmad commented on #7027
@bcrowe It will have the same fate there too :)

[2015-07-15 20:29] EOM commented on #7027
I look for a standard type "PSR-2" but for all that is HTML, JS, JSON, CSS.
But found nothing, as similar as people of "w3schools"
http://www.w3schools.com/html/html5_syntax.asp
and "Bootstrap"
https://github.com/twbs/bootstrap/blob/master/CONTRIBUTING.md#code-guidelines

And I think it would be good to have one sinseramente for all to respect them.

Especially considering the problem of "4 space

[2015-07-15 20:30] ADmad commented on #7027
@EOM As I already stated earlier you are free to choose whatever standard you like in your app. No one is forcing you to use Cake's standards.

[2015-07-15 20:31] reiserfs opened #7028 "Problem with ->find()"
My CakePHP version 3.0.8
On my Controller i have this function (generated by cake bake) on add and edit functions.

[code]

I got this error
 Error: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'LIMIT 200' at line 1

Becouse is generating this QUERY wit

[2015-07-15 20:32] EOM commented on #7027
OK @ADmad and @bcrowe ,
I saw maybe my approach wrong with the file * .ctp.
As thanks for his opinion.

[2015-07-15 21:14] tonypresnow opened #7030 "Unable to read Cookie created in Cakephp 2 from Cakephp 3"
Is it possible to read a cakephp 2 cookie from within cakephp 3?

If not, I would like to request the feature to be included in a future release.

This is a particularly important issue for me, as I store an encrypted login cookie that I use to identify the user between several different cakephp applications.

[2015-07-15 21:14] bobmulder opened #7031 "Router::promote phpdoc"
Look at this line:

https://github.com/cakephp/cakephp/blob/f6a2e355348c8c5d45e04addc0242a60aeb73f1b/src/Routing/Router.php#L33

Looks like it's not existing anymore. Will this come back, or whats an alternative?

[2015-07-15 21:33] markstory commented on #7030
Yes it is if you use the AES mode. The rijndael mode is not supported by the SSL crypto set and should be avoided.

There are limitations in what cookie data can be read back from cake2 as cake2 only allows one cookie. However, simple keys should be portable.

[2015-07-15 21:33] #7030 closed

[2015-07-15 21:41] markstory commented on #7031
There is no promote() and it cannot come back as the scope trees make it impossible to move a route 'up' anymore. I will fix the doc block.

As for alternatives, you can either use scope() to make matches prioritized or actually connect your routes in the order you want.

[2015-07-15 21:41] #7031 closed

[2015-07-15 21:51] markstory commented on #7028
I can take a look at this.

[2015-07-15 21:51] markstory commented on #7012
Closing as there is a pull request open now to address this.

[2015-07-15 21:51] #7012 closed

[2015-07-16 00:17] zmonteca opened #7033 "SQL Server DSN Flags"
Is there a reason why 'MultipleActiveResultSets' is hard coded to false in the DSN connection string in the SqlServer driver (\Cake\Database\Driver\Sqlserver.php)?

[code]

[2015-07-16 01:05] markstory commented on #7033
Yes, because without it SQLServer queries frequently fail with errors related to open result sets.

[2015-07-16 01:05] #7033 closed

[2015-07-16 01:14] markstory commented on #7028
The following test case passes on SQLite, MySQL and Postgres. Please provide a reproducible way to cause the issue you're having as I currently cannot reproduce the issue:

[code]

[2015-07-16 01:17] markstory commented on #7028
The generated SQL from the above test is

[code]

As you can see no where clause is included.

[2015-07-16 01:17] #7003 closed

[2015-07-16 07:20] dereuromark commented on #7027
@EOM That's (not only) why [PSR2-R](https://github.com/php-fig-rectified/fig-rectified-standards/blob/master/PSR-2-R-coding-style-guide.md) uses tabs consistently throughout the code base. Feel free to use this community standard (and the former Cake 1,2 one) instead of the official one. As I and others do.
But there will be no changes here on the official side regarding your inquiry, I am pretty

[2015-07-16 12:09] evoluted opened #7039 "Bug with Hash::diff in at least 2.6.9 and 2.7.0"
I first noticed this in 2.6.9 but have just upgraded to 2.7.0 and the issue still happens or at least it appears to be an issue to me.

I have two arrays:
[code]
and
[code]
Doing a simple Hash::diff on them
[code]
But when I output $diff, it's giving me the following array.
[code]
I was expecting to be outputted
[code]
Is this not a bug or do I just not understand what Hash::diff is suppose to do?

[2015-07-16 15:21] zmonteca commented on #7033
Got it. I just experienced this inconsistent failure you mentioned. The reason I was playing with it was because I was reading about another CakePHP issue (https://github.com/cakephp/cakephp/issues/5797).

I'm current doing this insertion into SQL Server and every time the insertion works, but all subsequent requests fail.

This is with MultipleActiveResultSets=false, but if I toggle MultipleActiv

[2015-07-16 16:03] zmonteca commented on #7033
Solved this.

The code above needed to be rejiggered to close open cursors that apparently remained open from the execute. The problem was resolved using the following code instead:

[code]

[2015-07-16 16:05] reiserfs commented on #7028
I did a test here, and saw that only occurs when the driver is using an association.
Test find with a normal controller without association
        $login = $this->Login->find('list', ['limit' => 200]);
The SQL generated
SELECT Login.id AS `Login__id` FROM login Login LIMIT 200

Now with a controller with association tables.

Model:
[code]
The function add in src/Controller/AgendaMedicoController.

[2015-07-16 17:15] HavokInspiration commented on #7039
Looking at the code of ``Hash::diff()`` and running some tests, the result is expected.
The ``diff()`` method actually returns you the elements that are different between your two arrays.
In your case ``$data['CurrentOptions'][2]`` and ``$data['Options'][2]`` are different, so it returns you the elements from the first array you pass to ``diff()``.
It will not filter the result further than the fi

[2015-07-16 18:18] GuidoHendriks commented on #7039
I think @HavokInspiration is right. It compares the elements in two arrays, not recursively.

[2015-07-16 19:38] GuidoHendriks commented on #7028
I took a quick look at this issue. Was unable to reproduce it, but looking at this code I could imagine it going wrong. In my opinion there should be a better check to see if `$parts` is empty, the `count()` above is insufficient.

https://github.com/cakephp/cakephp/blob/74f3fd6df58e00b40d390a2c90c0bfed8cf8f5cf/src/Database/QueryCompiler.php#L126

[2015-07-16 19:45] ceeram commented on #7028
since you are calling `find()` on Medico table, could you paste that code instead of AgendaMedicoTable

[2015-07-16 20:07] Schlaefer opened #7042 "datetime marshaller ignores timezone"
This is an odd behaviour. Code example: https://gist.github.com/Schlaefer/61ff394ef7f8929826cf

Cake ignores the timezone information when saving the timestamps. What I would expect is that they are converted to UTC before storing them into the DB. At least not be equal.

[2015-07-16 20:15] lorenzo commented on #7042
Duplicate of https://github.com/cakephp/cakephp/issues/6571

[2015-07-16 20:15] #7042 closed

[2015-07-16 20:17] lorenzo commented on #7042
This means that you are currently responsible for normalizing the timezone on the time objects in your app. A good place to do this is by using entity setters.

[2015-07-16 20:48] Schlaefer commented on #7042
Thanks @lorenzo. Just to be sure, was it brought up in #6571 that you actually lose the timezone information on saving and you can't retrieve the correct dates after saving no matter if PHP or DB timezone is correct. So it's not only about retrieving the dates in the right timezone again, the dates are just wrong no matter what.

[2015-07-16 21:02] lorenzo commented on #7042
Understood, if this issue can be solved, it would be through #6571

[2015-07-16 21:39] reiserfs commented on #7028
@ceeram

[code]

[2015-07-16 21:39] reiserfs commented on #7028
All codes was generated by using bin/cake bake

[2015-07-16 22:05] urulab opened #7043 "passing options to subqueries on treebehavior finders for proper caching"
When I try to cache an object using TreeBehavior::find('path'), caching works fine on first query but in subqueries (lazy loading) not. The options array must be passed or extract some keys for use in get().

My call:
[code]
TreeBehavior.php:
[code]

[2015-07-16 22:08] markstory commented on #7028
It might be related to the association proxy attempting to add conditions. I'll see if I can get lucky trying that out.

[2015-07-16 22:10] markstory commented on #7039
Yes it is a non-recursive difference. The method is working as it always has.

[2015-07-16 22:10] #7039 closed

[2015-07-16 22:41] cercos opened #7044 "$this->render('custom_view') view variables problem CakePHP 3"
When using $this->render('custom_view') the custom view only has view variables set if $this->set() is called before $this->render().

Doesn't work:
$this->render('custom_view');
$this->set('data');

Works:
$this->set('data');
$this->render('custom_view');

[2015-07-16 23:39] markstory commented on #7044
Yes. The render() method renders the view when called. Variables set after that point will not be set as those lines have not executed yet.

Closing as you have to set view variables before render is called.

[2015-07-16 23:39] #7044 closed

[2015-07-16 23:43] markstory commented on #7043
I don't think this will or should work. If you want to cache the entire tree of operations use Cache:: remember(). Passing the cache option around will get complicated as on each contained operation, the cache key needs to be mutated. I think it is simpler and more explicit if the entire set of operations is stored as one cache key.

[2015-07-16 23:43] #7043 closed

[2015-07-17 02:28] markstory commented on #7028
Thanks, the knowing the query was coming from an association was very helpful. #7046 is open now.

[2015-07-17 02:28] #7028 closed

[2015-07-17 08:17] NaranjaWeb opened #7047 "enctype of post requests"
As is written in Upgrading to CakePHP 3.0(http://mark-story.com/posts/view/upgrading-to-cakephp-3-0), I found the integrations of web services in cakePHP3 is very useful and secure.

Some services require "multipart/form-data"(like validator.nu). On the other hand, my credit card company only accepts "application/x-www-form-urlencoded" for post request.

It seems that cakePHP3 always converts the

[2015-07-17 09:05] NaranjaWeb commented on #7047
Or this could be a bug that
Cake\Network\Http\Adapter\Stream::
_contextOptions['content']  is set to "multipart/form-data" format even when
headers['Content-Type'] is set to 'application/x-www-form-urlencoded'.

I changed Stream::_buildContent function to use http_build_query() when
headers['Content-Type']  ===  'application/x-www-form-urlencoded', and
it worked for my purpose.

I am looking forwa

[2015-07-17 09:12] kongkannika opened #7048 ""cake bake all" still use $this->Session-setFlash('message'); in 2.7.0"
In `cake bake all` of Cake 2.7.0, is using `$this->Session->setFlash("message");`

I read the change log that it is deprecated.

It is replaced by `$this->Flash->set("message");`

[2015-07-17 10:39] ADmad commented on #7048
Would you like to make a PR updating it?

[2015-07-17 12:35] sam56483 opened #7049 "ConsoleLog::write() <=> ConsoleOutput::write() incompatibility - Cake 2.x / 3.x"
Hello,

I have found an incompatibility between ConsoleLog::log() call to ConsoleOutput::write() and its prototype.

[cake 3.0.9] src/Log/Engine/ConsoleLog.php:line 93 "return $this->_output->write(sprintf('<%s>%s</%s>', $level, $output, $level), false);"
Look at the second parameter, it's a boolean.

[cake 3.0.9] src/Console/ConsoleOutput.php:line 186 "return $this->_write($this->styleText($messa

[2015-07-17 13:00] steefaan opened #7050 "ORM: Select fields from subquery"
Maybe it's not an issue and works as expected but I have problem to select fields from a subquery. Let me give you a simplified example which not make sense for a real usecase but shows the problem I have for another, more complex query.

These two lines:

[code]

will produce a query like:

[code]

As you can see this query will result in an error like:

[code]

Theoretically I'm able to modify m

[2015-07-17 13:03] tonypresnow commented on #7030
I'm still having trouble reading cakephp 2 cookies with aes encription from cakephp 3. I've updated the salt values so they match, and I'm using the aes type as indicated in the documentation.

Cakephp2
$this->Cookie->type('aes');
$this->Cookie->write('test1', 'tony', TRUE, '15 years');

Cakephp3
$this->Cookie->config('path', '/');
debug($this->Cookie->read('test1'));  // returns null

What do you

[2015-07-17 13:18] lorenzo commented on #7050
That is usually what I do: give nice aliases to fields in the subquery as I plan to use them in the main query

[2015-07-17 13:36] urulab commented on #7043
When I rewrite based in your indications:
[code]
I have: ```Error: You cannot serialize or unserialize PDO instances ```

[2015-07-17 13:42] steefaan commented on #7050
You mean like this?

[code]

It will produce:

[code]

But this way I need to rewrite the selects from both queries. If I only would do:

[code]

It would produce a query like:

[code]

and wouldn't work.

[2015-07-17 14:02] markstory commented on #7030
@tonypresnow All of the cookies stored by 2.x will be under a top level key. (The default is CakeCookie). In your 3.x code you would need to read `CakeCookie.test1`.

By simple keys, I mean cookie values that only store scalars. Complex array structures can be stored in cookies in both versions, however complex structures are not as portable.

[2015-07-17 14:04] markstory commented on #7043
@urulab You should try upgrading to 3.0.9. This issue was fixed there. Alternatively call `all()` on the find before caching.

[2015-07-17 14:12] markstory commented on #7047
This was fixed in #6854. Because the change could potentially break applications it was put into 3.1.

[2015-07-17 14:12] #7047 closed

[2015-07-17 14:28] urulab commented on #7043
After updating 3.0.8 to 3.0.9 as indicated the issue persist. But is bypassing with all().
Retriving with cache() mehod works fine, the problem persist in Cache::remember.

regards

[2015-07-17 14:30] tonypresnow commented on #7030
Thanks for getting back to me so quick! I see in debugkit that cakephp 3 can see the cookies created in cakephp 2 on the request tab. I've attempted to read the cookies with $this->Cookie->read('CakeCookie.test1') but all that is returned is an empty string.

$this->Cookie->check('test1') returns true.
If I disable encryption when writing the cookie in cakephp 2 and disable encryption when reading

[2015-07-17 14:40] markstory commented on #7043
I don't think the fixes in 3.0.9 address queries being serializable as we can't change pdo.

[2015-07-17 14:42] adayth opened #7053 "3.0.9 - Retrieveing plugin behavior from Table object fails"
After updating to 3.0.9 this line of my app started to fail:

[code]

Looking for loaded behaviors in that Table in the same context with ```->behaviors()->loaded()``` returns me the following:

[code]

If you don't know it yet, Proffer is a behavior inside Proffer plugin, so it's added to Table as follow:

[code]

Executing ```->behaviors()->loaded()```  after adding that behavior in that context

[2015-07-17 14:47] markstory commented on #7053
The fix for this is in #7051. This regression was added in #6942.

[2015-07-17 14:47] #7053 closed

[2015-07-17 14:57] markstory commented on #7050
I am not sure that the orm should be trying to auto resolve field aliases in subqueries. I would much rather we stay closer to you get what you type as it makes debugging easier, and makes userland code more direct.

[2015-07-17 17:45] markstory commented on #7049
#7056 is open now.

[2015-07-17 17:45] #7049 closed

[2015-07-17 17:46] markstory commented on #6945
@lequy1010 I still don't know how to reproduce this error. Is there a way you could send us even a section of the problematic input?

[2015-07-17 17:52] HavokInspiration commented on #6945
What about a non breaking space ? (Cmd Shift Space on a Mac I believe)
I can't find a way to do one on my Ubuntu but could that cause problems ?

[2015-07-17 18:21] lorenzo commented on #7050
I'm not sure what you mean, why do you need to change anything in the outer query?

[2015-07-17 20:16] steefaan commented on #7050
@lorenzo I don't want to change something in the query. I want to calculate the distance inside the subquery (not a part of the example) and I want all the other fields from the table. Best would be to change nothing in `select()`  but then I get an invalid query desribed in my first comment. As answer for my first comment you told me that you give nice aliases for the subquery but if you do so, y

[2015-07-17 20:49] lorenzo commented on #7050
[code]

[2015-07-17 21:05] steefaan commented on #7050
Thanks, but this is more or less what I meant. This means I need to rewrite all fields from `select()` in my subquery to be able to get these fields in my main query because the example you provided generates the following query:

[code]

Maybe a possibility to tell the ORM that aliasing is not desired in the subquery or even in the main query, if someone needs it, would be nice. What do you think

[2015-07-17 21:13] lorenzo commented on #7050
Yes you do need to rewrite the fields in the subquery, as I said in my frist message. Currently it is not possible to tell the ORM that the aliasing is not desired, but if you have an idea of how that could be implemented, I think I would be interested in the feature.

[2015-07-17 21:15] steefaan commented on #7050
`$subQuery = $this->find()->autoAlias(false);` maybe?

[2015-07-17 21:52] ArakTaiRoth opened #7058 "Entity accessors modifying data before being inserted into database"
So, this was tested with a datetime field, so perhaps there is more at work than I initially see, but I just wanted to see if this is an issue, or functioning as intended.

I have a `DateTime` column in MySQL. I am using the following code to convert a user entered `DateTime` field into a `Time` object:

[code]
This is in my `beforeFilter` function of my `Controller`. This converts the data accura

[2015-07-18 00:41] markstory commented on #7058
You shouldn't need to manually convert datetime columns. The orm does that as part of the marshalling process.

Acessors are supposed to be used when inserting data, as they define the entity's contract with the outside world. The saving process is part of that outside world which is why the accessors are used. Generally, I would avoid putting presentation logic in the entity classes. Instead I wo

[2015-07-18 01:35] ArakTaiRoth commented on #7058
Okay, and that's where I misunderstood. I had thought accessors were used to manipulate the data into something different, like virtual properties. Not that they were used to change how data was inserted.

[2015-07-18 04:11] lequy1010 commented on #6945
@markstory
i have not solve it yet,
have a the post same issues
http://rao5s.vn/5805-0-khong-khi-mat-lanh-canh-sac-da-lat.html
you can think about what can become reason ?

[2015-07-18 04:22] lequy1010 commented on #6945
@markstory
this is it's content that store in db,
i copy it from db as bellow

ĐÀ LẠT – THÀNH PHỐ  NGÀN HOA
Chi tiết: www.anhduongtourist.vn
===================================
Tìm một nơi nào đó có để thay đổi bầu không khí sau những ngày làm việc và mở rộng tầm nhìn về sự giàu có của thiên nhiên. Đà Lạt là điểm du lịch nổi tiếng sẽ cho bạn những trải nghiệm mới…
---------------------------------

[2015-07-18 07:15] #7058 closed

[2015-07-18 12:16] markstory commented on #6945
Thanks @lequy1010

[2015-07-18 12:19] markstory commented on #7058
They can also be used to create virtual properties. As only properties that are in the schema will be persisted. For could have a formtted_purchase_time property that doees what ypou have now.

[2015-07-19 10:06] daniouyea opened #7061 "Notice in 3.0.9 using FormHelper::input in a belongsToMany field"
When I update from 3.0.8 to 3.0.9 I am notified: **Notice (8): Undefined index: _ids [CORE/src/View/Form/EntityContext.php, line 226]**

### How to reproduce:
In a template, when I edit a post (Posts belongsToMany Tags).
[code]
If the post has tags works fine. If the post hasn't tags fails.

[2015-07-19 10:39] SplicePHP opened #7062 "Bake vendor plugin composer error"
If you generate a plugin with bake using a vendor namespace, the composer file is not constructed properly.

Console Input:
[code]

Current output:
[code]

Expected output:

[code]

[2015-07-19 11:01] SplicePHP commented on #7062
In addition I also saw that this effects the AppControllers namespace
[code]
should be
[code]

[2015-07-19 22:43] flashios09 opened #7063 "AuthComponent::logout() doesn't execute when session expire"
Hi,
I want to add some logic(eg. update the field logged to 0 in the users table) every time that i logged out an user.
I overwrite the ```AuthComponent::logout()``` method by creating an alias: ```App\Controller\Component\MyAuthComponent.php.```

```MyAuthComponent::logout()``` will be executed **only manually**:
An action in the controller has the ```$this->Auth->logout();``` method like the ```

[2015-07-20 01:44] markstory commented on #7063
This is expected. Sessions can time out in a few different ways that are hard/impossible for server code to catch:

* Cookies can expire and the browser will stop sending the sessionid. This we cannot catch.
* The client can clear their cookies, effectively expiring their session. This we cannot catch.
* The server timeout can expire a cookie. This we could catch, but given the other gaps there is

[2015-07-20 01:44] #7063 closed

[2015-07-20 02:37] flashios09 commented on #7063
@markstory Thanks for the explanations :+1:
I want just to treat the case when the session expire after x seconds of inactivity. I didn't understand why the ```AuthComponent::logout``` isn't executed. What's the method that will be called in this case to force the logout and redirect the user to the logoutAction ?

[2015-07-20 02:38] markstory commented on #7061
Pull request open now.

[2015-07-20 02:38] #7061 closed

[2015-07-20 02:41] markstory commented on #7063
You can't really force the logout, as the session has expired, and you no longer know who the user is. However,  the `unauthenticated()` method of each authentication adapter is fired when unauthenticated users are found.

[2015-07-20 02:55] flashios09 commented on #7063
@markstory ah ok now i think that i understand how it works(please correct if i'm saying something wrong), when the session expire there is no $_Session['User'] anymore and because we call the ```unauthenticated()``` method each time we open a page, an unauthenticated user is found so we will have a redirection to the login action. That's why the AuthComponent::logout isn't executed.

[2015-07-20 03:41] kongkannika commented on #7048
yes

[2015-07-20 10:44] robertpustulka opened #7066 "RFC 3.x EventDispatcherInterface and Registries"
I think `ObjectRegistry` should check itself whether it implements `EventDispatcherInterface` instead of checking if it has `_eventManager` property and [blind guess](https://github.com/cakephp/cakephp/blob/master/src/Core/ObjectRegistry.php#L285) it implements `eventManager()` method.

This of course would require all registries implement `EventDispatcherInterface`.

BTW I think that `EventManage

[2015-07-20 11:13] markstory commented on #7066
Why does checking the interface require all registries to implement the interface?

[2015-07-20 11:14] robertpustulka commented on #7066
Sorry, I meant all registries which use `EventManagerTrait`.

[2015-07-20 11:15] markstory commented on #7066
Renaming the trait with an alais sounds like a good idea to me.

[2015-07-20 11:15] catearcher opened #7067 "XmlView handles missing viewVars in _serialize differently than JsonView"
Consider the following example:
[code]

In this snippet, `_serialize` is set to an array of all fields this view *can* return. The `extraInfo` field is omitted if there is no extra info to be included in the response.

If this method is called as `foobar.json`, we always get a valid response. If it is called as `foobar.xml`, and `$extraInfo` is empty, an error is raised because the XmlView does no

[2015-07-20 11:16] markstory commented on #7063
Correct. Also because the code can't tell how recently a user's session has expired we don't know if this is their first or 100th request since their session expired.

[2015-07-20 13:20] robertsundstrom opened #7068 "Getting the raw SQL string from ORM"
How do I get the raw SQL string sent to the server from the ORM?

How do I intercept it in order to do custom work?

[2015-07-20 13:38] jpsaltship opened #7069 "Model#saveMany breaks if entity contains boolean fields with 'false' value, ver 2.7.0"
I use Model#saveMany to update many entities with boolean field like this:
[code]
Saving breaks after record with 'false' value assigned to boolean field.

I think problem is with checking result of storing single entity, please take a look:
https://github.com/cakephp/cakephp/blob/2.7/lib/Cake/Model/Model.php#L2342.
[code]
the condition checks fields values instead of result.

[2015-07-20 14:33] jippi commented on #7068
Hi,

Sounds like a question for stack overflow :)

[2015-07-20 14:33] #7068 closed

[2015-07-20 15:56] backstageel opened #7072 "Use cake 3.x ORM on Cake 2.x project"
I have a huge Cakephp project with almost 200 tables using cake 2.x. I want to do gradual upgrade to cake 3.x, so i want that some models use cake 3 ORM while others still use cake2.x models.

Is it possible to work like this? if so, is there any tutorial on how to do this?

Thanks in advance

[2015-07-20 16:32] markstory commented on #7072
Duplicate of cakephp/orm#2

[2015-07-20 16:32] #7072 closed

[2015-07-20 16:35] markstory commented on #7069
I think the return of save() and saveAssociated() needs to be bool cast for this to work as intended.

[2015-07-20 16:38] markstory commented on #7066
Closing as both halves of this have been addressed.

[2015-07-20 16:38] #7066 closed

[2015-07-20 16:44] markstory commented on #7067
I agree it shouldn't be possible to trigger a notice error from userland code. XmlView should work like JsonView. @catearcher Would you be able to do a pull request to remedy the issue since you already know what to fix?

[2015-07-20 16:56] markstory commented on #6945
That input still doesn't trigger the issue for me locally. Running the above through autoLink() yields:

[code]
Which does not include an `<br>` elements inside the href attributes.

[2015-07-20 16:56] #6945 closed

[2015-07-20 17:27] catearcher commented on #7067
@markstory Done!

[2015-07-20 18:51] ADmad commented on #7067
Closing as PR is opened.

[2015-07-20 18:51] #7067 closed

[2015-07-20 18:56] ADmad opened #7074 "4.0 - RFC - A new folder for controllers actions and prefix"
_From @andtxr on July 20, 2015 17:39_

4.0 - RFC - A new folder for controllers actions?

I was wondering about the possibility of adding a new folder to keep the controller actions templates separated from the others.

Right now the agglomeration of similar named folders prevent some prefix naming. For example:

There will be a restriction if someone has decided to use a route prefix like element

[2015-07-20 22:37] jhli commented on #7074
So if you got an AdminsController and an admin prefix it would be two folders named Admin and Admins?

[2015-07-21 00:04] andtxr commented on #7074
Right now it works that way @jhli

The folder for prefixed actions would keep existing, but inside a Prefix folder.

Following your example, in the current structure we should have:

src/Template/Admin/ (the folder for every /admin prefixed actions)
src/Template/Admin/Admins/ (the folder for every /admin prefixed actions of AdminsController)
src/Template/Admins/ (the folder for unprefixed actions

[2015-07-21 01:40] markstory commented on #7074
There are a total of 4 conflicting names:

* Cell
* Element
* Layout
* Email

Have you ever actually used any of those as a prefix or are we solving a hypothetical problem?

[2015-07-21 06:12] voycey opened #7075 "Additional find conditions (limit etc) ignored when paginating custom finder method"
CakePHP Version 2.7.0-dev

Possibly a duplicate of https://github.com/cakephp/cakephp/issues/6047

I'm not quite sure what this issue is - or whether it is simply a non-feature but I have spent a fair amount of time debugging it and I think I can see the reason but don't know the solution:

I have a custom finder that basically mangles some results for me:
[code]
I'm guessing it isnt wise to have

[2015-07-21 06:30] voycey commented on #7075
After looking at the pull request for the Cake3 version I think this needs to be handled in PaginatorComponent L334:

[code]

I'm just not sure how - is there a detector at this point to check that this has come from a custom finder, because at this point ```$this->settings``` shows my custom finder name + the limit:

![image](https://cloud.githubusercontent.com/assets/1065098/8794305/b3a48f1e-2fc

[2015-07-21 06:31] mohsen-ekhtiari opened #7076 "'updated (modified)' field not changing when injected in form and $fieldList is provided"
If SecurityComponent is not used and $fieldList array without 'updated' field is set for saving request data and user submits a form with 'updated' field, Cakephp does not change the 'updated' field value. I checked this from the UPDATE query.
It the form is not tampered with 'updated' field, there is no problem. Also if this field is added to $fieldList array, it will be changed with the request

[2015-07-21 06:46] ADmad commented on #7076
Please provide the data array, save() statement and resultant query showing the issue.

[2015-07-21 07:20] jhli commented on #7074
It is about consistency, too. Consistency makes things evident without exceptions. I do like the Action subdir! I am just not sure about the prefix one?

[2015-07-21 07:29] mohsen-ekhtiari commented on #7076
[code]
resulted query:
[code]

[2015-07-21 07:35] mohsen-ekhtiari commented on #7076
also if I replace `$this->Article->id = 11;` with `$this->Article->create();` to create a new article, I get an error for not providing the field (it is a Not Null field in db):
[code]

[2015-07-21 07:53] ADmad commented on #7076
Well the error says "'updated' doesn't have a default value" so either you haven't set default null as you claim or you need to clear model cache.

[2015-07-21 07:59] ADmad commented on #7076
If the `updated` field is explicitly set in data array then you need to include it in `fieldList` too.

[2015-07-21 08:05] mohsen-ekhtiari commented on #7076
Also I forgot to say if I remove the 'updated' field:
[code]
result query is:
[code]
So if someone tampers the form with 'updated' field it will not be changed.
And also I've had not any problem with setting 'created' and 'updated' as Not Null. As you see the create query has 'created' field but not 'updated' field.

[2015-07-21 08:12] ADmad commented on #7076
For the code provided above the sql query is expected.

Form tampering is a totally unrelated issue. Use Security component if you want to avoid form tampering.

[2015-07-21 08:19] mohsen-ekhtiari commented on #7076
So if the sql query is expected, why does cakephp add the 'updated' field to sql query when it does not exist in $data? And removes it from sql query when it exists in $data? This is obviously not a consistant way.

[2015-07-21 08:24] ADmad commented on #7076
It removed it because you provided a `fieldList` and did not include `updated`.

If you don't provide `updated` in data it is auto handled for you. If you explicitly provide value for it in data then you also need to explicitly include it in `fieldList`. The behavior is consistent and logical.

[2015-07-21 09:13] nojimage opened #7078 "HttpSocket when 'ssl_verify_host' is false, set the 'verify_peer_name' context option to false."
In CakePHP 2.x.

PHP >= 5.6.0, SSL context options add the `verify_peer_name` and this default value is `TRUE`.

http://php.net/manual/en/context.ssl.php

When the actual hostname and the common name of the certificate is different (like during development), if I want to disable the check of the hostname of the certificate, it must be written as below:

[code]

This is redundant.
I without having

[2015-07-21 12:10] mohsen-ekhtiari commented on #7076
You're right but I think if this field is auto magical and has special meaning it would be more logical if its meaning was preserved even if wrong efforts were made. Or else, simply this behavior could be turned off.
@markstory, could you please inform me of your idea?

[2015-07-21 12:29] ADmad commented on #7076
So you want the framework to just ignore user input and do stuff magically? Good luck having @markstory agree with your opinion.

[2015-07-21 13:11] mohsen-ekhtiari commented on #7076
Yes! When updated filed is not listed in $fieldList, it simply means we want to ignore it. Do you have other opinion?
Documentation says:

[2015-07-21 13:50] andtxr commented on #7074
Particularly I never experienced this kind of conflict, but as it is possible to happen and minor view components like the ones mentioned by @markstory has a special treatment, I am inclined to support the Action folder, or any other possible chosen name for it. But I am also in doubt about the Prefix folder.

[2015-07-21 14:40] arilia opened #7083 "2.7 JsonView throw warning with PHP < 5.3"
Just upgraded from 2.6.3 to 2.7 and I get this warning

    json_encode() expects exactly 1 parameter, 2 given in /var/www/sic/lib/Cake_2_7_0/View/JsonView.php, line 164]

I'm using PHP 5.2.9

[2015-07-21 14:47] ADmad commented on #7083
The fact that PHP version requirement for 2.7 has been bumped to PHP 5.3 isn't mentioned anywhere besides [composer.json](https://github.com/cakephp/cakephp/blob/2.7/composer.json#L21) :(

[2015-07-21 14:58] ADmad commented on #7083
Fixed in cakephp/docs#2978

[2015-07-21 15:36] ADmad commented on #7083
Reopening issue since as stated [here](https://github.com/cakephp/docs/pull/2978#issuecomment-123370571) problem exists in 2.6.5 also.

[2015-07-21 15:40] josegonzalez commented on #7083
Technically its fine for 2.7 to have this issue, but not 2.6. Should we make a new release of 2.6?

[2015-07-21 15:41] ADmad commented on #7083
We should.

[2015-07-21 17:05] markstory commented on #7076
Every single time we've done this in the past it has blown up in our (the maintainers of CakePHP) faces. I much prefer interfaces and code that does what it is told. If you are manually setting the updated field, that is the value you should get. There are use cases where the updated field should be manually set and having magic that overwrites user input makes those use cases impossible. By follo

[2015-07-21 20:22] mohsen-ekhtiari commented on #7076
@markstory, I'm only talking about saving model with $fieldList (third parameter of save method) provided.
 I mean when updated is not listed in $fieldList (so it is not expected to be passed in $data) simply ignore its value (as it is done now) but also fill it with the magic value (instead of removing it totally which is done now). Currently if $data has not updated field and it is not listed in

[2015-07-21 20:23] glkaup opened #7084 "cake 3.0.9 Conflicting view variables ($event and $events) creates very obtuse error"
I made a mistake in a Table Function trying to create a ->find('list') for an view select input.  The error was using an Object as an integer.  But during debug, the ->find('list', $params) was performed creating a new object.

Proceeding to the view, when trying to create a select using the same object, I got the following error log.  Since the ORM delayed the execution of the sql until it actual

[2015-07-21 21:06] markstory commented on #7076
If you are using a `fieldList` then only the fields you whitelist should be saved. No magic. FieldList is a security related option, and I don't feel comfortable adding any conventions or magic around those kinds of features. If you really want, you could use an application behavior to modify the whitelist used for the save operation as it is in a mutable array that is passed to `Model.beforeSave`

[2015-07-21 21:13] ezoterik commented on #7069
The same problem in version 2.6.9

[2015-07-21 21:16] lorenzo commented on #7076
I think @mohsen-ekhtiari is kind of right in what he expects, `fieldList` is mainly meant for preventing mass assignment, I find it odd that it would prevent automatic timestamp setting.

[2015-07-22 00:05] mohsen-ekhtiari commented on #7076
@markstory , @lorenzo , I've prepared a comparison:
Please compare these cases (which is current cakephp behavior).
In both the same policy is applied in saving (not whitelisting 'updated' through save's third arument: $fieldList=array('title')).
In the first case, $data contains 'updated' and in the second case not.
But cakephp's generated sql query does not contain 'updated' in first case, and c

[2015-07-22 01:18] voycey commented on #7075
I feel like it should be lines
154 - 159 that should be handling this - but I am not sure how to get $options[0] populated.

I have needed a quick fix for this for my project so I have replaced the above lines with the following:

[code]

This necessitates a change in the paginate call for my custom finder to:

[code]

I'm sure there is a better way of doing this external to this file but hopefull

[2015-07-22 03:08] ADmad commented on #7076
@lorenzo But it's not automatic if `updated` field is provided in data array.

[2015-07-22 03:12] ADmad commented on #7076
@mohsen-ekhtiari Why are you not using SecurityComponent?

Apart from this issue there can be other problems if you only rely on `fieldList`. E.g. Form can be tampered to remove a field or modify value of hidden field. Just using `fieldList` is not going to prevent either of those.

[2015-07-22 03:14] ADmad commented on #7084
So what do you expect the framework to do?

[2015-07-22 03:36] markstory commented on #7074
@jhli What is inconsistent about the current state though? The 'special' directories also contain templates, and theoretically you could reuse templates from a Cell and standard action as well. I'm not sure there is an actual problem here that causes people pain in their day to day work. Adding more directories adds complexity and right now feels like change for change's sake to me.

[2015-07-22 03:42] markstory commented on #7084
This doesn't seem like an issue with CakePHP but more how you've used it.

[2015-07-22 03:42] #7084 closed

[2015-07-22 04:02] markstory commented on #7075
There is no 'finder' option in the [current code](https://github.com/cakephp/cakephp/blob/2.7/lib/Cake/Controller/Component/PaginatorComponent.php#L154-L159); only 'findType'. Is there a reason you're not using `'findType' => 'scopes'` instead of the 0th value?

The current code you have where you use the finder name as a key is very unlikely to work as you want. You can completely set additional

[2015-07-22 04:02] #7075 closed

[2015-07-22 04:10] markstory commented on #7069
This sounds like it was caused by #6947

[2015-07-22 04:43] voycey commented on #7075
This information was tucked away on the pagination page and there was conflicting code on the custom finder types documentation - have submitted a pull request for change - thanks Mark!

[2015-07-22 04:58] markstory commented on #7078
Seems pretty reasonable to me.

[2015-07-22 05:38] GuidoHendriks commented on #7084
Although I get that you just shouldn't use reserved keywords, I feel like this is going to be an issue for more people. Events is quite a general term to use, pretty sure I have used it in some project before.

Isn't there anything we could do to make it a bit easier to know what's going wrong? When in debug, checking for reserved names when setting variables and giving a notice if they use one. S

[2015-07-22 05:50] ADmad commented on #7084
There are no "reserved" view var names enforced by the core.

[2015-07-22 07:15] mohsen-ekhtiari commented on #7076
@ADmad I do use SecurityComponent for some users actions (even using CAPCHA is some). But I do not use it for administrative actions which are mostly bulk AJAX post operations. Furthermore, I do not use it for mobile app submitting post requests.
Tampering a form to remove a field is not a concern for me. If the field value is required and could not be calculated, the whole request is invalid and

[2015-07-22 07:18] ADmad commented on #7076
That means you need SecurityComponent, period.

[2015-07-22 07:42] brandher opened #7088 "how to read record with composite primary key"
Hi there, really wondering how this works:

I have a table with a combined primary key. Its not necessary to have relational tablestructure in this case, because its only a temporary table to hold the products which a user puts in a basket.  I just want to ensure that at the moment of ordering the basket, the products will be still the same as when put in the basket, in case somebody is changing p

[2015-07-22 07:46] lorenzo commented on #7088
After you had specified what the primary key is (in database or in the initialize method)  :

[code]

You can now use the order in which the keys are defined to pass it to the `get()` function:

[code]

[2015-07-22 07:46] #7088 closed

[2015-07-22 07:54] brandher opened #7089 "cannot insert record- always the one and only record in table is update"
At the momen I run in the following problem:
I have a table 'Bproduct' (whcih means 'basket products') with a combined primary key. Its not necessary to have relational tablestructure in this case, because its only a temporary table to hold the products which a user puts in a basket. I just want to ensure that at the moment of ordering the basket, the products will be still the same as when put in

[2015-07-22 08:10] brandher commented on #7088
honestly that easy?
primary key is already defined in table.
did not think about specifying like that in get().
i could not find some hint in documentation, about that yesterday night. thanks so far.

[2015-07-22 08:17] brandher commented on #7088
Sorry, this is not working in this way.
I receive following error:
Record not found in table "bproducts" with primary key [38, 9, 2]

this is my table definition:
    public function initialize(array $config)
    {
        $this->table('bproducts');
        $this->displayField('name');
        $this->primaryKey('basket_id', 'user_id', 'id');
    }

this is the record in database:
![image](https://

[2015-07-22 08:37] mohsen-ekhtiari commented on #7076
I think you either not read what I said or not understood my previous comment.
Consider a page listing articles and each article has a button next to it which makes that article either published or unpublished. How do you implement it simply without using an iframe or a GET (!!) reuest with security token?

And how about api calls or RESTful web services for mobile apps interactions? Do you you of

[2015-07-22 09:05] AD7six commented on #7088
That's 3 arguments, not one.

[2015-07-22 09:50] brandher commented on #7088
thx, embarresing for me :-(

[2015-07-22 10:54] brandher commented on #7089
since I use the get method to read producst this issue does not exist any more

[2015-07-22 10:54] #7089 closed

[2015-07-22 11:54] markstory commented on #7084
From the stack trace it looks like you have something wrong with your query conditions, as an event object could not be cast into an int when binding the parameters for the query that was going to be executed.

[2015-07-22 11:54] markstory commented on #7069
Closing as a pull request is open now.

[2015-07-22 11:54] #7069 closed

[2015-07-22 12:06] ritesh-pandey opened #7091 "Number Helper - Add Ordinal Number Suffix"
This is simple function to add English ordinal number suffix after normal number. Function takes number as a parameter and returns number with suffix, like:
1st, 2nd, 3rd, 4th, 5th, 6th…

[2015-07-22 12:47] chinpei215 opened #7092 "ORM: Unexpected behavior with 'WHERE NOT IN' and empty array"
[code]
So this query returns no rows.
This may be a feature, but this is the opposite of what I expected.

In CakePHP 2.x:
[code]

In http://www.doctrine-project.org/jira/browse/DDC-3063 , they are talking about a same issue.

[2015-07-22 12:47] BassemN opened #7093 "Feature Request: Reading Mail Messages"
Hello,

Is there any plan to make reading mail messages feature like ZF do [here](http://framework.zend.com/manual/current/en/modules/zend.mail.read.html)?

Thanks,
Bassem

[2015-07-22 12:52] ADmad commented on #7093
No there isn't. You can just use the library you linked.

[2015-07-22 12:52] #7093 closed

[2015-07-22 15:11] glkaup commented on #7084
@markstory Yes Mark you're right... however... my real issue here is why does the stack trace start at index.php and go down thru FormHelper to SelectBoxWIdget::render when the actual invalid use of an Object was performed in a Table Function used by the controller.  The stack trace is of no real value since there are over 12 other queries and a half dozen select boxes in the view.

I did try to c

[2015-07-22 15:42] markstory commented on #7084
The stack trace starts in index.php as that's the origin of all request handling in CakePHP apps. As for why the stack trace ends in the selectbox. This is a result of query objects lazily evaluating. A query object doesn't execute until you start to fetch results from it. In your case this happened in the selectbox generation. You can force query evaluation by using `all()`, or `first()` as an ex

[2015-07-22 15:42] markstory commented on #7091
Perhaps you could put together a pull request of how you think the function could work?

[2015-07-22 15:53] dereuromark commented on #7091
Probably like https://github.com/dereuromark/cakephp-tools/blob/master/src/Utility/Number.php#L244-L258

[2015-07-22 15:54] markstory commented on #7092
Are you expecting that `notIn('id', [])` would generate `id IS NOT NULL`? We could also generate `WHERE 1 = 1` I guess as is a similar expression in many cases.

[2015-07-22 16:11] glkaup commented on #7084
On last question... would it be possible for cakePHP to have a "debug" mode or other setting that would turn off lazy evaluating?

[2015-07-22 16:36] JD-Robbs commented on #7091
PHP's NumberFormatter supports ordinal numbers and should also handle localisation, I believe: http://php.net/manual/en/class.numberformatter.php

[2015-07-22 16:41] chinpei215 commented on #7092
I think that it would be better to generate <code>WHERE 1 = 1</code>.

[2015-07-22 17:11] ahmedtabrez opened #7094 "How does cakephp deal with models that don't end with 's' (as plural)?"
<div class="post-text" itemprop="text">

<p>Let's say we want to create a model for entities like <code>children</code> and <code>indices</code> whose singulars are <code>child</code> and <code>index</code> respectively and not something we get by simply removing 's' from the end.</p>

<p><strong>Are such models compatible with cakephp ?</strong>
 Can <code>ChildrenController</code> be the control

[2015-07-22 17:19] ADmad commented on #7094
Normal English singularization / pluralization rules are used. Plural of `child` is `children` and vice versa, so that's what should be used in naming.

[2015-07-22 17:19] #7094 closed

[2015-07-22 17:21] ahmedtabrez commented on #7094
@ADmad, thanks .... I request the developers to make a mention of this in the docs. Thankyou.

[2015-07-22 17:24] ADmad commented on #7094
It already [is](http://book.cakephp.org/3.0/en/intro/conventions.html). The examples using  `person` to `people` makes it pretty clear that normal English grammar rules are followed.

[2015-07-22 17:25] ADmad commented on #7094
Whenever in doubt you can also use http://inflector.cakephp.org/ to check inflections for a word.

[2015-07-22 17:27] ahmedtabrez commented on #7094
Yup got it .... Thanks again @ADmad. Does Cakephp maintain a copy of such words in the core? or how does it deal with such exceptions?

[2015-07-22 17:30] ADmad commented on #7094
Check the code for `Cake\Utility\Inflector` class.

If you have further queries please ask on stackoverflow or the IRC channel. This issue tracker is not a help forum.

[2015-07-22 17:44] ahmedtabrez commented on #7094
Got it ... Thanks ...

[2015-07-22 18:46] JD-Robbs commented on #7091
Like so @ritesh-pandey? --> https://github.com/JD-Robbs/cakephp/blob/6637d19f30a38b3429340e5d848a4b0f3f5679a4/src/I18n/Number.php#L151-L167

[2015-07-22 18:48] dereuromark commented on #7091
Looks indeed quite good. If it works - I didn't see any localized tests so far on it.

[2015-07-22 18:53] JD-Robbs commented on #7091
I just ran it and English is obviously not a problem. In languages like German, for example, it's simply suffixed with a period `.` (1. = erste(r/s), [...]), or in Spanish with `º`, such as 13º = 13th.

I could write a test for this, but would obviously need to do some research to find something to compare to in other languages. Because, to be honest, I haven't ever tested i18n. :smile:

Also, rat

[2015-07-22 20:20] lorenzo commented on #7092
:-1: this is by design. Imagine using 1=1 on a delete query when you fail to validate or have a typo in a variable name. A SQL error is much more desirable for me than losing data

[2015-07-22 20:50] kyleweishaupt opened #7095 "Cake\I18n\Time numeric sorting in collection"
Not sure if this is is a framework issue or I'm doing something wrong with the ORM. I'm querying a couple different models and using a collection to display them sorted by the `modified` property to make a makeshift news feed. This is on the latest Cake release, 3.0.9.

The problem is in the sortBy method for the Collection. The expected behavior is all the various models to be in the `$recent` co

[2015-07-22 21:07] markstory commented on #7084
@glkaup Possible, but I don't think its a good idea. Just imagine how frustrating your scenario would be if you only ran into it in production?

[2015-07-22 21:17] lorenzo commented on #7095
Hmm, this is annoying... I'll take a look at it

[2015-07-22 21:55] markstory commented on #7076
@lorenzo I don't completely agree. If a specific value is provided for `updated` we should use that value and not overwrite it.

[2015-07-22 21:56] markstory commented on #7092
I am not very comfortable with the ORM generating `WHERE 1=1` clauses on what can very easily be a typo/mistake.

[2015-07-22 21:57] markstory commented on #7091
@JD-Robbs That looks pretty decent to me. I would read the default locale out of the `Locale` class though.

[2015-07-22 23:56] chinpei215 commented on #7092
If so, I think that you should throw an exception. <code>WHERE 1 != 1</code> isn't a SQL error:
[code]

[2015-07-23 00:06] ethankaminski opened #7096 "XSS vulnerabilities in FormHelper, with no option to turn on escaping"
There are XSS vulnerabilities present in FormHelper, and no way to turn on escaping. I've experienced this first-hand in version 1.3, and it looks like it's present in version 2.x (and probably 3.x) as well.

The instance that I've located so far is [FormHelper::input()](http://api.cakephp.org/1.3/source-class-FormHelper.html#561-605), in particular the statement `return sprintf(..., $text)`.

Thi

[2015-07-23 01:45] markstory commented on #7096
Why are the field labels for your application coming out of the database? Generally FormHelper prevents XSS in the places where we expect user defined content to be present. Label text is generally not controlled by the end user, and thus doesn't benefit from the automatic escaping that other aspects of FormHelper do.

I'm not as sure that the call you've provided works in 2.x and 3.x.  In 3.0 `Fo

[2015-07-23 01:53] markstory commented on #7092
In the sub-query case I don't think you'd ever end up with `1 != 1` though.

[2015-07-23 02:14] markstory commented on #7069
@ezoterik 2.6.10 has been tagged today.

[2015-07-23 06:23] ethankaminski commented on #7096
In the scenario I'm facing, we have an application which allows one set of users (which I'll call "providers", to distinguish from full administrators) who are allowed to design forms for other users ("consumers") to fill out. So, for instance, provider Alice might want to ask her consumers "What is your favourite color?", provider Bob might want to ask his consumers "What's your favourite animal?

[2015-07-23 06:33] yskkin opened #7098 "Disabling plugin behavior"
I'm using SoftDelete behavior https://github.com/CakeDC/utils with CakePHP 2.7.0.

`$actsAs = array('Utils.SoftDelete');` works fine for setting up behavior and
`$this->MyModel->Behaviors->unload('Utils.SoftDelete');` in controller works fine for unloading behavior.

However, `$this->MyModel->Behaviors->disable('Utils.SoftDelete');` does not work and instead,
`$this->MyModel->disable('SoftDelete')

[2015-07-23 08:56] dereuromark commented on #7092
Sounds to me we should go the 2.x way here and output `WHERE `id` IS NOT NULL`.

[2015-07-23 09:09] AD7six commented on #7092
I don't think that's what was meant. It's a clause guaranteed to return 0 rows. It's also, should you find it in your query log, an indicator of doing something wrong (why am I getting this clause? oh, there's a typo on that variable name generating an empty array etc.).

[2015-07-23 09:10] AD7six commented on #7092
I disagree, as that's almost always equivalent to putting no clause at all.

[2015-07-23 09:16] dereuromark commented on #7092
@AD7six Would it make sense to upgrade 2.x then to whatever is the solution here to have those behave similar here?

[2015-07-23 09:50] ritesh-pandey commented on #7091
@markstory I wrote this fix on top of @JD-Robbs
https://github.com/ritesh-pandey/cakephp/blob/283f89d63b41c10a65f290abf9d9298e918e6d18/src/I18n/Number.php#L317-L333

But I could see `ini_get()` being used in other parts of the code as well. Is that wrong?
@JD-Robbs Is it not that we will expose this function through NumberHelper? I just wrote this. https://github.com/ritesh-pandey/cakephp/blob/283

[2015-07-23 10:10] GLacourt opened #7099 "CakePHP 3 weird BTM errors"
Have a new error after an update of CakePHP (3.0 > 3.0.10). i've got 3 models:

### Model : ClasseOuvragesTable.php

    class ClasseOuvragesTable extends Table
    {
        /**
         * Initialize method
         *
         * @param array $config The configuration for the Table.
         * @return void
         */
        public function initialize(array $config)
        {
            $this->p

[2015-07-23 11:06] markstory commented on #7091
Looki good. With some test cases for the locale option and that it actually localizes output this could get merged easily.

[2015-07-23 11:13] markstory commented on #7096
I will update the contributor guidelines as well. That is another good place to have the security policy.

In your situation, I think you will need to manually escape label text. Given that this has behaved way for a number of years. Updating the documentation might be the best option we have. Changing the default behavior in a patch release could cause issues for people upgrading.

[2015-07-23 11:17] ADmad commented on #7099
"through" option is supposed to be a table class name, not actual db table name.

[2015-07-23 11:22] GLacourt commented on #7099
Sure you rigth however i wrote my tables above to give u a lot of information, actually i'm respecting the conventions so i don't really need the third model but at least it's declared.

I'm trying to solve it but i don't know what i'm doing wrong really. it worked last week.

[2015-07-23 12:37] chinpei215 commented on #7092
@markstory
The example shown in my previous comment, that will delete all records.
Because it generates a query like this:
[code]
But it might not be a good example.

What do you think about this ?
[code]
We expect that <code>expr NOT IN (value,...)</code> is the same as <code>NOT (expr IN (value,...))</code>.
( Source: http://dev.mysql.com/doc/refman/5.6/en/comparison-operators.html#function_not-

[2015-07-23 12:37] JD-Robbs commented on #7091
@ritesh-pandey Yes of course, I simply didn't connect the engine as I merely meant to show that PHP already handles ordinal numbers out-of-the-box. Anyway, good stuff! :smiley:

Maybe the second argument should simply be a flat string/null as I don't think there are any other potential options for `NumberFormatter::ordinal` that could be exploited in future. Not sure!

[2015-07-23 13:23] lorenzo commented on #7099
@GLacourt You just need to use the right class name for that option, or just leave it empty

[2015-07-23 13:24] #7099 closed

[2015-07-23 13:31] GLacourt commented on #7099
I really don't understand, i'm using the right name, and the generated query is good, it's just those warnings. When i'm using contain i don't have this issue.

[2015-07-23 13:40] lorenzo commented on #7099
Do you have a class named "classe_elements_classe_ouvrages"? It should probably be "ClasseElementsClasseOuvrages"

[2015-07-23 13:54] GLacourt commented on #7099
Yeah i declared one, i made a mistake i wanted use `joinTable` key and not `through`. As i said i'm respecting the conventions so if i just use `$this->belongsToMany('ClasseElements');` it works also.

the worst here (or i'm missunderstand something) it's if i'm doing this:
    $this->ClasseElements->find('list')
        ->matching('ClasseOuvrages', function ($q) use($someCdt) {
            return

[2015-07-23 13:56] lorenzo commented on #7099
What is the configuration that makes the error happen?

[2015-07-23 14:04] ndm2 commented on #7099
@lorenzo It seems that empty conditions passed to `where()` cause `null` to end up in `Query::join()` when associations are being attached. This happens in `attachTo`, where the dummy query will return the default value for the `where` part, which is `null`.

**https://github.com/cakephp/cakephp/blob/3.0.10/src/ORM/Association.php#L545-L549**

[2015-07-23 14:11] GLacourt commented on #7099
Database config:

![diagram](https://cloud.githubusercontent.com/assets/9000415/8852208/1efd7700-3154-11e5-989d-a11144d319e1.png)
![diagram1](https://cloud.githubusercontent.com/assets/9000415/8852209/1eff28a2-3154-11e5-8395-4b9df4f702c1.png)
![diagram2](https://cloud.githubusercontent.com/assets/9000415/8852210/1f020644-3154-11e5-9683-04bb5ee05cd6.png)

the query:

    $customerIds = $this->Compt

[2015-07-23 15:15] lorenzo commented on #7099
@ndm2 do you have an example?

[2015-07-23 15:22] ndm2 commented on #7099
Sure, here's a test

[code]

[2015-07-23 15:27] lorenzo commented on #7099
@ndm2 please open another ticket with that test case, That will help having a clean track of the error

[2015-07-23 15:43] ndm2 opened #7102 "Attaching associations trips over empty conditions"
Empty conditions for `matching()` are causing `null` to be passed to `QueryAssociation::_addConditions()`, resulting in an error as an array is being expected.

Here's a test case that triggers the error:

[code]

The `null` value stems from the dummy query, where `clause()` will return the default value, which is `null`.

**https://github.com/cakephp/cakephp/blob/3.0.10/src/ORM/Association.php#L5

[2015-07-23 15:44] ndm2 commented on #7099
@lorenzo Done so...

[2015-07-23 20:03] markstory commented on #7102
I can take a look at this.

[2015-07-23 22:02] ethankaminski commented on #7096
Thanks for updating the contributor guidelines.

Hrm... yeah, I might patch it locally then, as well as recommend that my team looks into upgrading to 3.x. The fact that there IS a version of CakePHP which supports the behaviour I'm after is encouraging, it's just that we're two major versions behind at this point.

[2015-07-24 01:20] markstory commented on #5997
Closing as adding columns add more permissions that are being correctly checked by AclComponent.

[2015-07-24 01:20] #5997 closed

[2015-07-24 01:28] steamcomputer opened #7105 "Using reserved names on table fields cause the ORM crash"
$tokens = TableRegistry::get('tokens');
$token = $tokens->create(["key" => "327f5a66584f66ed48022db9e454061c2d7608bb"]);
$tokens->save($tokens);

This code raises a Database Error

Error: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'key, created) VALUES

[2015-07-24 01:46] markstory commented on #7098
Fixed with #7106

[2015-07-24 01:46] #7098 closed

[2015-07-24 01:49] markstory commented on #7096
Contributing docs updated in #7104 and docs updated in b3a192add0e0c50c544b0670b43125efcbbaff05

[2015-07-24 01:49] #7096 closed

[2015-07-24 01:50] markstory commented on #7105
You need to enable [quoteIdentifiers in your database configuration](http://book.cakephp.org/3.0/en/orm/database-basics.html#configuration). Identifiers are not quoted out of the box as it impacts performance and is generally not necessary.

[2015-07-24 01:50] #7105 closed

[2015-07-24 02:17] markstory commented on #7102
This issue was caused by #7028.

[2015-07-24 02:25] markstory commented on #7102
Pull request with a fix is up now.

[2015-07-24 02:25] #7102 closed

[2015-07-24 02:57] mohsen-ekhtiari commented on #7076
@markstory I don't mean to ignore user input. I mean if cakephp drops part of the user input (updated and created fields) because it is not allowed in fieldList array, why not return to its original behavior and fill them with the values it was supposed to and did if those ignored values were not provided?
And if the user is supposed to change these fields (updated and created), why not he/she add

[2015-07-24 02:57] mohsen-ekhtiari commented on #7076
@markstory I don't mean to ignore user input. I mean if cakephp drops part of the user input (updated and created fields) because it is not allowed in fieldList array, why not return to its original behavior and fill them with the values it was supposed to and did if those ignored values were not provided?
And if the user is supposed to change these fields (updated and created), why not he/she add

[2015-07-24 11:45] AndersTrier opened #7110 "$paginate['contain'] exposes hidden fields"
I have a CompaniesTable.php in my model that contains this association
[code]
And in User.php entity I have
[code]

Now, when I in a controller do
[code]
The hidden fields from the users table are as expected not shown. However if i spell CreatedBy a bit different, like:
[code]
All fields, including the hidden ones are included in the result.

[2015-07-24 11:48] lorenzo commented on #7110
Exposed in what way? `$_hidden` is only used for json serialization

[2015-07-24 12:24] AndersTrier commented on #7110
The response generated by
[code]
Includes a "created_by": { "name": "a" ... } where the 'password' field is not shown, if we had set `$paginate['contain'] = 'CreatedBy'`.

If `$paginate['contain'] = 'createdby'`, the response includes the field "CreatedBy": in which all the hidden fields are also shown.

[2015-07-24 12:26] GuidoHendriks commented on #7110
@lorenzo Doesn't it use the auto-generated model by not using the correct association name which doesn't have `hidden` data?

[2015-07-24 12:40] AD7six commented on #7110
Please demonstrate that - i.e. show what's happening and in what way it's not what you expect.

[2015-07-24 13:37] markstory commented on #7076
@mohsen-ekhtiari Fields not in the `fieldList` cannot be modified by user input.

[2015-07-24 17:37] aydot opened #7111 "List Collection methods in alphabetical order"
Can we have this in alphabetical order?
http://book.cakephp.org/3.0/en/core-libraries/collections.html#list-of-methods

I can go ahead and do this if there was no reason for the 'un-alphabetized' list.

[2015-07-24 18:10] mohsen-ekhtiari commented on #7076
@markstory But do you confirm one of the cases 1 and 2 (I mentioned in https://github.com/cakephp/cakephp/issues/7076#issuecomment-123513279) is not desirable? If your answer yes, which one?

[2015-07-25 02:15] markstory commented on #7076
@mohsen-ekhtiari I think case 1 and 2 are fine with the current behavior. I could see how someone would expect that in case one the updated value would be ignored, and the automatic value would be used instead though.

[2015-07-25 02:19] markstory commented on #7111
Pull request up now.

[2015-07-25 02:19] #7111 closed

[2015-07-25 03:51] mohsen-ekhtiari commented on #7076
@markstory In fact I came to this behavior by an accidental test! I was testing the $fieldList feature to see how it works. And by chance I thought what if someone add an updated field to the form (which all my models have). I expected the newly added updated field by tampering the form (or originally a POST) does not have effect on current behavior of the action because it was banned by $fieldLis

[2015-07-25 12:25] markstory commented on #7062
Pull request up now.

[2015-07-25 12:25] #7062 closed

[2015-07-25 22:03] jhli commented on #7093
+ for debugging there is mailcatcher.

[2015-07-26 06:01] chinpei215 opened #7112 "3.0: Lack of support for per-column collation on bake fixtures"
I am using CakePHP 3.0.10 now.
My database server is MySQL 5.5. But I think it's the same as other databases.

To reproduce this issue, create table like this:
[code]

Run <code>bin\cake bake fixture Articles</code>
Now ArticlesFixture has baked, but there is no 'collate' key on settings of <code>permalink</code>:
[code]
Thus, this table fixture cannot be created actually.
I will get an error mess

[2015-07-26 11:12] HavokInspiration commented on #7112
Apparently, the collate option is not returned in the final ``Schema\Table`` object when reflecting a Table (but it is returned by the ``SHOW FULL COLUMNS`` SQL query) (for MySQL anyway, I did not check for Postgres. I don't know if SQLite supports it). That would explain why it is not baked.

[2015-07-26 13:06] markstory commented on #7112
We don't support per-column collations in the schema system, as MySQL is the _only_ database that has the concept of per column collations/charsets.

[2015-07-26 20:00] chinpei215 commented on #7112
Other databases also seem to support for per-column collation. Though I don't know well them.

PostgreSQL (as of 9.1)
http://www.postgresql.org/docs/9.1/static/collation.html
SQLite
http://www.sqlite.org/datatype3.html#collation
SQL Server
https://msdn.microsoft.com/en-us/library/ms174979(v=sql.120).aspx

Aside from that, it may be inconvenient at least in Japanese language :(
For example, we have

[2015-07-26 20:16] mylux opened #7115 "Setter method call in EntityTrait"
Hello,
I would like to know what's the reason to have the following piece of code in the way it is, in EntityTrait:

https://github.com/cakephp/cakephp/blob/master/src/Datasource/EntityTrait.php#L252-L256

In these lines of code, it calls the setter method of an entity (if it exists) and then expects the property being set to be returned by the setter to, again, force a manually property setting i

[2015-07-26 21:43] lorenzo commented on #7076
@markstory

* If the value is provided, and allowed in fieldList, the value should be used
* If the value is not provided, the automatic timestamp should be used, regardless of the fieldList
* If the value is provided and is blocked by fieldList, the automatic timestamp should be used. The user is preventing malicious users from manually passing the timestamp, but is definitely not opting out of t

[2015-07-27 00:24] aydot commented on #7111
@markstory Thank you!

[2015-07-27 06:38] codercms opened #7116 "[3.0.10] Warning in app rules before saving"
Hello! I receiving a warning, after saving associated model

Warning (2): array_combine(): Both parameters should have an equal number of elements [CORE/src/ORM/Rule/ExistsIn.php, line 102]

PHP: 5.5.9
MySQL: 5.5.43

My schema:
[code]
Warning source is UserGroups model (exist in Groups rule):
[code]
Groups Model:
[code]
UsersTable model:
[code]
Saving code:
[code]
In all entities of thoose model t

[2015-07-27 07:00] AndersTrier commented on #7110
[code]
Returns as expected the following where the hidden fields from the users table are not exposed:
[code]

If i write `$this->paginate['contain'] = 'Createdby';` instead, the following is returned. Notice that the field "created_by" is now called "CreatedBy", and the "password" field is included.

[code]

[2015-07-27 07:38] lorenzo commented on #7116
You table `groups` has no defined primary key. Either create the primary key on the table or call `$this->primaryKey('id')` in the `GroupsTable` class

[2015-07-27 07:38] #7116 closed

[2015-07-27 11:54] biesbjerg opened #7118 "[2.7] Bug in I18n / __x / context when reading .mo file"
When using __x() for translations the translated string from the po file is not being used.

Consider the following line:

[code]

After running extract and translating the extract string using PoEdit my default.po looks like the following:

[code]

If I debug the __x() / I18n::translate() call I see the following data was extracted from the generated .mo-file:

[code]

The relevant output is:

[c

[2015-07-27 12:20] Kepro opened #7119 "log in cell"
It is possible to add $this->log('message'); to cell also? i working on CMS using cells as modules
and some times i want a log something

[2015-07-27 12:45] robertpustulka commented on #7119
Use [LogTrait](https://github.com/cakephp/cakephp/blob/master/src/Log/LogTrait.php)

[2015-07-27 12:48] Kepro commented on #7119
@robertpustulka  thanks! it's working

[2015-07-27 12:48] #7119 closed

[2015-07-27 16:01] chinpei215 commented on #6975
@xandje Did you associate OtherTables with EventsTables as <em>'Others hasMany Events'</em> ?
If so you cannot filter Events on primary where clause. (Forgive me if I am wrong.)
Perhaps, 'conditions' should be moved into 'Events' array.
[code]

[2015-07-27 17:16] vnt commented on #4118
We can create a sponsorship for this feature? Who needs of this function for cake bake can make a donation?

[2015-07-27 20:28] markstory commented on #7076
@lorenzo OK, lets reopen the issue so we don't forget. I'm guessing the same rules should be applied for `created` fields as well?

[2015-07-27 20:43] markstory commented on #7112
I stand corrected on MySQL being the only database to implement per-column collations. Right now per column collations have not been implemented. However, I don't see a good reason to not merge a pull request that added them.

[2015-07-27 20:53] markstory commented on #6776
I think fixing this issue is outside the scope of how HttpSocket works. If you're interacting with misbehaving servers, you should look at more robust/fully featured solutions like ext/curl.

[2015-07-27 20:53] #6776 closed

[2015-07-27 20:57] markstory commented on #7115
The setter methods are expected to return the property value to be set, not set them directly. This was done to help reduce repetitive code in each/every setter method.

Null is a valid state for properties. The setter code cannot assume that null means the property shouldn't be modified.

[2015-07-27 20:57] #7115 closed

[2015-07-27 21:47] nfedyk opened #7121 "HttpSocket chocks on 0 in data stream"
When ```$this->read()``` returns a string of 0 while loop exists without fetching the rest of stream data.
There should be a check for proper boolean false on data read.
![screen shot 2015-07-27 at 5 44 32 pm](https://cloud.githubusercontent.com/assets/223364/8918665/7365ca32-3487-11e5-8a25-9f0110de89c1.png)

[2015-07-27 21:54] nebojsac opened #7122 "Missing Memcached->add() method"
I needed this today as it's very useful for atomic Memcached setting that helps avoid overwriting the same key. Ended up adding it to my core files, and it works as advertised so I thought I'd send it this way.

I'm a bit new to how this contributing on github works, so please let me know if I need to do something differently, if this is even something you'd want to add.

It adds an add() method t

[2015-07-27 21:55] nfedyk commented on #7121
I fixed it with the following code, instead of
[code]
I used
[code]

[2015-07-27 22:19] dereuromark opened #7123 "Regression with date year dropdown and empty value"
The form itself has a (upgraded from 2.x to have 0 as empty value key)
[code]
The form is just fine, 3 dropdowns and the year range is as expected:
[code]

But once posted the range becomes huge, adding in all values from 0. Whereas it should just stay at the first empty value of the form).

Not sure if the optgroup part is necessary or desired, that wasn't the case with 2.x.

[2015-07-28 00:03] Tomicapo commented on #5356
I just tried to install CakePHP 3 on the grid service provided by mediatemple.net (shared hosting).
I believe it's not a shitty provider. But anyway, I just couldn't do it due to this intl extension problem.
Can someone tell me if the only way I'm going to be able to use CalePHP 3 is to change my provider (or my plan for a much more expensive one) ???

[2015-07-28 02:00] markstory commented on #5356
Duplicated in #6908. We're going to continue relying on ext/intl as it is the best option there is for internationalization, however the discussion in #6908 gives some alternative plugins that might help patch the intl methods you will need with stubs.

[2015-07-28 02:05] markstory commented on #7122
Having a method that is only supported by one backend is generally something we avoid as it makes the interface/abstraction less useful. Backends are supposed to be swappable, which stops working if methods simply don't work in the majority of backends.

If we could come up with implementations for the other backends, even if the guarantees around atomic set were looser, there would be a better ch

[2015-07-28 02:06] markstory commented on #7121
What version of CakePHP are you using?

[2015-07-28 02:18] markstory commented on #7123
Why isn't the empty value a string?

[2015-07-28 02:41] markstory commented on #7121
Pull request open now.

[2015-07-28 02:41] #7121 closed

[2015-07-28 03:11] markstory commented on #7110
I did some digging on this, and because the alias name does not match the association alias, the data is not mapped into an entity. Instead it is left as an array. This is why the hidden field settings are not applied.

The root cause of this issue is that associations are stored in a case-insenstive way. This was done to catch duplicate association definitions more easily. I think ensuring that t

[2015-07-28 03:23] markstory commented on #7110
Pull request up now.

[2015-07-28 03:23] #7110 closed

[2015-07-28 04:05] nebojsac commented on #7122
Makes sense. From what I can see, Redis, Memcache and APC have the equivalent "add only if not exists" method built in so it's worth adding it in, and implementations for the rest shouldn't be a problem.

The bigger issue for me would be testing some of them(like WinCache) after I've added them. But since I'd basically just be re-using the already implemented get/set stuff it might be fine. I'll c

[2015-07-28 04:34] nebojsac commented on #7122
Added equivalent add() methods to other Cache engines, where available(Redis, APC, Memcache). Otherwise made non-atomic implementations.

https://github.com/nebojsac/cakephp/commit/f95e1e2392a442180915790dd7951d475d01dbfb

[2015-07-28 04:47] nebojsac commented on #7122
Updated Cache and CacheEngine https://github.com/nebojsac/cakephp/commit/596b7fad7e974d852661ce730aa2a90d34e95776

[2015-07-28 05:01] dakota commented on #5356
@tomicapo, as a first step. I would suggest contacting mediatemple's support and asking them to enable Intl. If they are not willing then they are (in my opinion) a shitty provider. For the cost of a mediatemple shared hosting you can get quite a decent box from digital ocean.

[2015-07-28 07:15] dereuromark commented on #7123
As mentioned above that was the 2.x way of defining the key as not `''` but `'0'`.
But if that is now a limitation that is on purpose, I am fine with always sticking to `''`.

[2015-07-28 07:34] eAliwei opened #7126 "call to Cake\Network\Http\Client response error in php 5.4.16"
[code]

[code]

[2015-07-28 12:38] robertpustulka opened #7127 "3.x TranslateBehavior::groupTranslations fails for empty hasOne properties."
Following example:
[code]

fails with:

`$row` in `TranslateBehavior::groupTranslations()` appears to be `null`. I think it fails when a `$comment` has no `$attachment` associated with it.

Using 3.1 dev branch.

[2015-07-28 12:45] lorenzo commented on #7127
Do you have an idea for how to fix this?

[2015-07-28 12:46] robertpustulka commented on #7127
Simple check for `if ($row instanceof EntityInterface)` in groupTranslations seems like a quick fix, but I'm not sure it's the right solution.

[2015-07-28 12:53] lorenzo commented on #7127
That actually sounds like a good solution

[2015-07-28 13:02] nfedyk commented on #7121
Thank you for quick response.

[2015-07-28 13:12] lorenzo opened #7128 "[RFC] PHP 7 use assert() where we expect user errors to happen"
An idea for the future, when we decide using PHP 7 features.

The more we maintain the code, the more defensive error we add, this improves the user experience as developers get informed of their errors before finding them in production. We should add more, but one of the reason I have not added a lot of them is that some are expensive to calculate.

The idea then is to migrate all developer error

[2015-07-28 20:43] steefaan opened #7130 "i18nFormat() on a non-object"
I have the following column in my database:

[code]

As you can see the value for the field can be `NULL` for example if a user don't want to provide the birthday date. Now I want to show all users in my admin area in a list. Some users have a valid birthday date, others have `NULL`. The problem is that `i18nFormat` will result in a fatal error when you call it with a `NULL` value. For sure this w

[2015-07-28 21:05] lorenzo commented on #7130
Yes, that is standard PHP, you need to check if there is a value before calling method on it. You can use `$entity->has('field') ? $entity->field->method()` in your templates

[2015-07-28 21:05] #7130 closed

[2015-07-28 23:39] markstory commented on #7128
Is the thinking that we would disable assert() in production environments or rely on php server config?

[2015-07-28 23:48] markstory commented on #7123
But why is a key needed at all? Are you trying to set the empty state of just one input?

[2015-07-28 23:59] Tomicapo commented on #5356
Thanks @dakota I had already done that but they couldn't install it... So, they have their shitty aspects. But taking into account other things, they're actually quite good. For now, I just got a VPS with WHM from IntoVPS, but I'll check Digital Ocean as well.

[2015-07-29 00:31] markstory commented on #7122
Looking pretty good. If you fixed up the coding standards, and added some tests, this would make a good pull request now.

[2015-07-29 00:38] jeanbez opened #7132 "Possible Paginator sort bug?"
Hello,

When I try to define the default order in the pagination using the 'order' key alone everything works ok, the same can be said when using the pagination sort in the view by defining the 'sortWhitelist'. However those two options do not work correctly when combined. The code is bellow, please let me know if I am  doing something wrong.

[code]

[2015-07-29 01:34] markstory commented on #7132
What isn't working the way you expected?

[2015-07-29 01:52] jeanbez commented on #7132
Well, I expected the results to be order by id when first opening the page, however that i not true, they appear on random order. Only when I click on the id they get sorted.

[2015-07-29 02:32] markstory commented on #7132
Well Problems.id is not in the whitelist.

[2015-07-29 02:43] codercms opened #7133 "[3.0.10] Question - how to display nested validation errors"
Here is code of form
[code]
Here is validation rules
[code]

So i specially made a mistake, and i got this
![image](https://cloud.githubusercontent.com/assets/4526911/8948836/6471273c-35b4-11e5-952c-7b97b56ad3ee.png)
No errors are displayed, but errors are exists:
![image](https://cloud.githubusercontent.com/assets/4526911/8948848/8e6c9ee0-35b4-11e5-824a-22a6e5c00e96.png)

[2015-07-29 03:05] markstory commented on #7133
Have you tried making your input names `files.0.file` and `files.1.file`?

[2015-07-29 03:13] codercms commented on #7133
I did it right now, but this not helps.
Could it be affected by the fact that the entity has no "physical" field "files" and not associated?

[2015-07-29 03:27] markstory commented on #7126
Could you provide a dump of the header values at that point? I tried doing some requests to the `https://api.weixin.qq.com/cgi-bin/token` URL and was not able to get a response that triggered the issue here.

[2015-07-29 03:29] markstory commented on #7133
Yes. If the second last element in the path is not an entity errors cannot be read.

[2015-07-29 03:29] #7133 closed

[2015-07-29 03:51] boshrin opened #7135 "[2.7.1] Console throws error when mb_ functions emulated"
It appears that sometime between 2.6 and 2.7.1 Inflector::underscore and some other functions were made multibyte aware. However, when the native PHP functions are not available, this generates an error with Console:

    % ./Console/cake
    PHP Fatal error:  Call to undefined function mb_strtolower() in /mnt/hgfs/src/comanage/git/registry/lib/Cake/Utility/Inflector.php on line 487

    Fatal err

[2015-07-29 04:37] eAliwei commented on #7126
![image](https://cloud.githubusercontent.com/assets/6028737/8950038/824a4376-35ee-11e5-9794-8c1a210e28f0.png)

@markstory

[2015-07-29 07:47] dereuromark commented on #7127
Closing as PR is now open.

[2015-07-29 07:47] #7127 closed

[2015-07-29 07:50] dereuromark commented on #7132
Yep, the 'sortWhitelist' does not contain the `Problems.id`, only the primary id. Closing as invalid.

[2015-07-29 07:50] #7132 closed

[2015-07-29 11:00] lorenzo commented on #7128
For now I would rely on server config, but we could look into offering a way for conditionally toggle it.

[2015-07-29 12:36] jeanbez commented on #7132
Got it! But I found quite strange since both id and Problems.id refer to the primary key (primary id) for that table. And if you only use the Problems.id in the 'order' option without setting the 'sortWhitelist' Cake sorts it...

[2015-07-29 12:38] dereuromark commented on #7132
I wonder if we can make it less strict here (Primary.id === id). But as of right now the outcome is as expected.

[2015-07-29 16:28] doshu opened #7137 "Add a toRaw() function to a query result"
when working with a very big query resultset, disable marshalling is not enough to improve performance.
disabling marshalling will not create a new entity but the fields like datetime will be always parsed.

for example calling toArray() on a big resultset with some datetime fields, will always parse all datetime fields to create a Time object. this is not always necessary.

this can be resolved c

[2015-07-30 02:02] macnie opened #7140 "[3.0] How to use subdomain in cakephp 3.0"
i want use a subdomain instead subdir, like is:
[code]
to
[code]
I tried many methods, but I didn't solve my problem.
The problem has been bothering me for two months.
I didn't find any solution on Google.
Why CakePHP does not make a solution to this situation?

[2015-07-30 02:03] markstory commented on #7135
Seems pretty safe given the code in the middle of those lines. Pull request open now.

[2015-07-30 02:03] #7135 closed

[2015-07-30 02:04] markstory commented on #7137
Have you tried using unbuffered queries? That at least defers loading all the data into memory.

[2015-07-30 02:06] markstory commented on #7137
Also if you don't want all the typecasting features you can use the connection class to execute queries and get low level statement objects.

[code]

[2015-07-30 02:10] markstory commented on #7140
The route classes already support a `_host` parameter when generating routes. Additionally, you can use custom route classes to create subdomain aware routing that accepts/parses parameters from wherever you need.

Closing as I think by using the host options, and/or custom route classes this shouldn't be hard to do.  CakePHP doesn't include sudomain routes by default because they are not generall

[2015-07-30 02:10] #7140 closed

[2015-07-30 02:12] markstory commented on #5472
Closing as a pull request is up now.

[2015-07-30 02:12] #5472 closed

[2015-07-30 02:22] markstory commented on #7126
Thanks, I'm guessing you have an http stream provider that isn't curl. I have a pull request up that changes how we detect header metadata from the stream.

[2015-07-30 02:22] #7126 closed

[2015-07-30 02:23] markstory commented on #7128
I bet lots of people will make a mistake in their server config and leave assert() enabled :cry:. Perhaps it could be an opportunity for us to educate people though.

[2015-07-30 02:24] macnie commented on #7140
thanks @markstory for reply my question .  but write custom route classes is hard to me , Feel so helpless:(

[2015-07-30 03:23] ADmad commented on #7128
I hope it doesn't require educating shared hosting providers too :stuck_out_tongue:

[2015-07-30 04:20] dakota commented on #7128
Luckily that's something we won't need to worry about for a couple of years :trollface:

[2015-07-30 06:04] doshu commented on #7137
Using ConnectionManager is not bad, but doesn't allow to use the power of query builder

[2015-07-30 06:20] robertpustulka commented on #4412
STI at least should be quite easy to implement. I could try it in some spare time.

[2015-07-30 07:53] lorenzo commented on #7137
I think having a feature to disable type casting (the actual slow part of the result set class) could be handy... something like `$query->castResults(false)`

[2015-07-30 07:55] lorenzo commented on #7128
@markstory Well, as long as they have `debug => false` the only downside to doing that is a performance hit

[2015-07-30 11:18] yskm opened #7143 "3.0 PaginatorHelper::numbers() doesn't work well with option 'modulus'"
[code]

I expect that this code output like this:
`1...5...10`

but, PaginatorHelper::numbers() outputs all numbers.
 Setting `0` to option `modulus`, this method doesn't work well.

[2015-07-30 12:06] robertpustulka opened #7144 "3.0 CounterCacheBehavior and belongsToMany"
`CounterCacheBehavior` seems to be working only with `belongsTo` associations. Which isn't a surprise as old 2.x `counter_cache` option also worked only with that type of association AFAIR.

I think that it could be worth trying to implement that behavior also for `belongsToMany`. I'm aware that there's a workaround using this behavior on belongsTo in a custom `through` table. The downside of this

[2015-07-30 12:12] markstory commented on #7128
I wonder how many cases there are where people are catching defensive errors and ignoring them. It looks like the assert handler could use debug to toggle exceptions/logging which is nice.

[2015-07-30 18:06] wisamhussain commented on #6509
A standalone CakePHP Date/Time library with 0 dependencies would be ideal.

[2015-07-30 18:47] markstory commented on #7144
So are you suggesting we add docs, or improve the code?

[2015-07-30 18:48] markstory commented on #7137
@doshu You should be able to use the Cake\Database\Query class to get a query builder for the lower level APIs I think.

@lorenzo How would that mode interact with hydrate()?

[2015-07-30 18:52] markstory commented on #7143
Why wouldn't you just output the first and last links? I don't see how a modulus of 0 would ever work.

[2015-07-30 19:03] lorenzo commented on #7137
@markstory they are not actually related, hydration does not depend on casting. I would expect that in most of the cases someone wanting raw values would also opt-out of object hydration

[2015-07-30 20:30] dereuromark commented on #7143
@markstory I suspect it works with prev and next links. At least it did in my tests.

[2015-07-31 01:45] markstory commented on #7143
Closing as there is a pull request open now.

[2015-07-31 01:45] #7143 closed

[2015-07-31 01:53] markstory commented on #7137
Would it be useful to have casting off, and hydration on? I'm not sure re-saving those entities will always work well.

[2015-07-31 02:29] markstory commented on #7118
Pull request open now.

[2015-07-31 02:29] #7118 closed

[2015-07-31 06:15] doshu commented on #7137
$query->castResults(false) should be for speed up query. enable hydration and disable object casting have no sense. In some cases could be usefull to use hydration with no object casting, but this is not the main goal of this proposal

[2015-07-31 06:27] robertpustulka commented on #7144
Maybe update the docs for now and try to upgrade the behavior for 3.1?
I could try to do this but right now I don't have time for it :(

[2015-07-31 07:45] jc-vogel opened #7148 "3.0 Paginator count() throws SQL error"
After using the 'matching' method in a subquery the paginator component throws an error: SQLSTATE[HY093]: Invalid parameter number: number of bound variables does not match number of tokens
This happens when the paginatorcomponent tries to count the total results.
- Subscription belongsToMany Statuses
- Subscription belongsTo Routes
- Routes belongsTo RouteDepartures && RouteDestionations

In cont

[2015-07-31 07:57] dereuromark opened #7149 "2.7: Shortened version of plugin shells only works 2nd time"
New in 2.7 is that the shells are supposed to work without the plugin prefix.
But in fact it only works after once called verbosely.

So (Setup.Maintenance shell)

    cake Maintenance

fails, but

    cake Setup.Maintenance
    cake Maintenance

works then.
Is there a way we can actually short-call it right from the beginning?
Otherwise the value of it is questionable.

v: 2.7.1 (latest)

[2015-07-31 07:58] lorenzo commented on #7148
Seems like a bug in `count()`. It should detect that the finder is complex enough to choose another counting strategy.

[2015-07-31 08:01] jippi commented on #7128
please, please don't sacrifice speed for people being stupid :)

[2015-07-31 09:29] lorenzo commented on #7128
That is exactly what this ticket is about, have the benefits of defensive programming without the performance hit

[2015-07-31 09:35] AD7six commented on #7128
This sounds like a good idea to me.

[2015-07-31 10:00] biesbjerg commented on #7149
Is that supposed to work at all?

From the release 2.7 notes:
[code]
Source: http://bakery.cakephp.org/2015/07/11/cakephp_2_7_0_released.html

I read it like `cake Maintenance` should work only if `MaintenanceShell` is located in a plugin called `Maintenance`?

[2015-07-31 10:07] dereuromark commented on #7149
I think (or thought) the backport of 3.x aimed to to what 3.x can, any shell can work without the plugin prefix if there is no collision in naming.

[2015-07-31 10:22] robertpustulka commented on #7149
Sorry, it's my failt. I thought that the idea of 3.0 short shell calls is that the shell has the same name as the plugin it resides in.

[2015-07-31 10:36] ionas opened #7150 "3.X ORM, distinct() should behave like select() and allow a single string"
[code]
... does not work cause distinct expected an array. Encapsulating both field strings in an array of 1 element works. Select allows a single string, but distinct not. Is there a reason for this?

[2015-07-31 11:31] rahulgupta1 opened #7151 "Tree behaviour recover"
Hi,
In tree behaviour there are 3 possibilities to run recover function

$this->Model->recover();
$this->Model->recover('parent');
$this->Model->recover('tree');

By mistake i passed 13456 inside function and it gets executed and it corrupted all the table.
$this->Model->recover('13456');
Please explain about this? and why it did not shown error.

[2015-07-31 12:33] lorenzo commented on #7151
Because we trusted developers to only pass the specified options. You can recover your table by calling `recover()` again

[2015-07-31 12:33] #7151 closed

[2015-07-31 13:34] codercms opened #7152 "[3.0.10][ORM] Question - how to delete many to many cascade"
Hello! I have a problem with deleting many to many associated data through map table.

Attachments <> UserAdsAttachments <> UserAds

So, when i removing UserAds, i want also remove UserAdsAttachments and Attachments.
But Attachments are stay not deleted.
Сan i avoid using of following code to delete Attachments manually:
[code]

I have following schema:
[code]

Models:
[code]

[2015-07-31 14:22] markstory commented on #7128
From the docs, assert() allows you to put assertion conditions as strings, which are only evaluated if assert() is turned on. That would help improve performance if assert() was disabled @jippi

[2015-07-31 14:29] markstory commented on #7152
BelongsToMany records are not supposed to be removed when the parent record is removed. This is intentional as generally the other record (Attachments in your case) could be used by multiple UserAds. Deleting one of the UserAds shouldn't delete Attachments that are shared.

You will need to write application logic to see if there are unused attachments and remove those, as this isn't something I t

[2015-07-31 14:29] #7152 closed

[2015-07-31 14:33] markstory commented on #7144
I'm fine with updating the docs for now.

[2015-07-31 15:01] antograssiot commented on #7095
Closing as #7153 is open now

[2015-07-31 15:01] #7095 closed

[2015-07-31 15:03] chinpei215 commented on #7123
Is that a way to specify the value of an 'empty' option? I have just learned it :)
[code]
[code]
Indeed, 3.x outputs an unnecessary optgroup.
[code]

[2015-07-31 15:08] ADmad commented on #7128
Setting `zend.assertions` to `-1` makes it zero cost for production use.  [Ref](https://github.com/tpunt/PHP7-Reference#expectations)

[2015-07-31 16:32] bharat27 opened #7154 "sanitation issue of the Controller::header() function in library"
hey Team ,

My security team reviewed our new application code and found out that the function Controller::header() in the cakephp library not using any mechanism to sanitization the parameter. When investigate further found that header() is simply passing the parameter to "$this->response->header($status)" which return the array of parameter in response without sanitizing it.

Can you please let

[2015-07-31 18:01] Oxicode commented on #7154
Check http://www.elladodelmal.com/2014/10/x-xss-protection-http-header-y-los.html

[2015-07-31 18:36] markstory commented on #7154
I am not familiar with the type of issue your team is concerned about. Do you have an example of what they are concerned about? Generally headers don't contain user data outside of location and cookie data.

[2015-07-31 18:41] markstory commented on #7137
Sure, but the orm would have to continue working correctly even when modes that shouldn't be used together are. What I want to avoid is adding modes that create more issue reports than they solve.

I feel like there are a few different suggestions here already that would allow you to address the performance issues you are experiencing. Each solution is not without tradeoffs, but adding modes also

[2015-07-31 18:42] markstory commented on #7149
What changes in the second run? Is the cache primed?

[2015-07-31 18:44] markstory commented on #7123
Ok, I understand what is going on here now. I will look into a fix.

[2015-07-31 20:20] JeroenDeDauw opened #7155 "Single test failure on master"
Steps taken:

* git clone https://github.com/cakephp/cakephp.git
* cd cakephp
* composer install
* phpunit

Error output:

[code]

PHP 5.6.9-1+deb.sury.org~trusty+2 (cli) (built: May 24 2015 15:46:23)
PHPUnit 4.7.3

After encountering the error I looked at the instructions in the readme, copied `phpunit.xml.dist` to `phpunit.xml` and re-ran the tests. Same result.

[2015-07-31 23:10] ionas opened #7157 "3.x SQL Injection Issue and/or Questions"
[code]

1. Could there be done anything against the requirement of manually adding injection projection (here with a quick ```addslashes()``` hack cause I don't know how to access ```PDO::quote()```)?
Edit: Probably $this->connection()->quote($var). See below.

2. Book does not document ```->from()```: http://book.cakephp.org/3.0/en/orm/query-builder.html

3. Had to do a rather dirty hack to get t

[2015-08-01 00:36] markstory commented on #7155
Yes, I think this is related to the time of year it is and strtotime() shenanigans. As without any code changes this test has started to fail.

[2015-08-01 00:47] markstory commented on #7157
addslashes() does not prevent SQL injection. Given that you are putting user content into the 'field' name half of a query expression the ORM can't do much as those values need to be treated as identifiers most of the time.

You might want to use the FunctionBuilder instead of concatenating strings. From what I remember, it would correctly escape the user content.

[code]

Should work if my memory

[2015-08-01 04:01] markstory commented on #7148
matching() doesn't feed into the 'complex' check in Query::count(). Only group/distinct/union do. Perhaps the presence of matching clauses should too.

[2015-08-01 04:01] markstory commented on #7155
Tests are passing now :+1:

[2015-08-01 04:01] #7155 closed

[2015-08-01 05:30] antograssiot commented on #6835
closing as

[2015-08-01 05:31] antograssiot commented on #6835
closing as #6846 is open now

[2015-08-01 05:31] #6835 closed

[2015-08-01 11:33] markstory commented on #7157
The above generates the following SQL:

[code]

I'll update the documentation to make this scenario clear and the pitfalls of using strings.

[2015-08-01 11:33] lorenzo commented on #7148
The actual problem is the sub query in select.

[2015-08-01 11:41] ndm2 commented on #7157
@markstory Maybe a separate (easy to find) section about how exactly the ORM _can_, and where it _can not_ prevent SQL injections would be useful? For now the docs just say that the ORM helps to prevent SQL injections, and then there's the hint for raw expression, but that's about it, which doesn't seem to be overly helpful, especially for people that aren't used to CakePHP.

[2015-08-01 11:42] markstory commented on #7157
@ndm2 Where would you see something like that fitting in?

[2015-08-01 11:47] ndm2 commented on #7157
Not entirely sure, I guess ideally it would be a new section in `General > Security` or `Database Access & ORM`, which could be linked to from various places in the `Query Builder`, `Database Basics`, etc sections where applicable.

[2015-08-01 12:04] markstory commented on #7157
Would it make sense in the Query Builder docs? Perhaps before the 'More Complex Queries'  section?

[2015-08-01 12:28] ndm2 commented on #7157
I guess generally that would make sense, but hudging from all the question I've seen on SO, all the SQL injection vulnerabilities that people built, and how they react (if at all) when you tell them about it, I guess my concern with this would be that it may already be buried too deep, as those who need to be taught about it most, are those who aren't overly keen on reading docs.

There are so man

[2015-08-01 12:56] ionas commented on #7157
:+1: There should be a very concise but prominent chapter on SQL Injections which closes with the argument that if you use the upper level, easy ORM features you are protected but if you are composing complex queries and change the left side of comparison operations or use custom expressions you will need to add protection yourself. There should also be a note how to use cake to manually add escap

[2015-08-01 13:18] ionas commented on #7157
@markstory yep, your suggestion on how to build a mysql function with left side variables and injection projection by PDO seems to work. Thank you:
ORM Finder:
[code]
Composed SQL:
[code]
Formatted SQL (http://poorsql.com/)
[code]

[2015-08-01 13:30] ionas commented on #7157
Edit: the 2nd appliance of the levenshtein ORM sql function in order() misses ASC, no idea how to add that.

[2015-08-01 14:36] ionas commented on #7157
Interim solution, should protect against SQL injections:
[code]
**Note**: There should be a note about ```$this->connection()->quote()``` in the book.

[2015-08-01 14:53] ndm2 commented on #7157
@ionas That note should include a warning I think, as [PDO::quote() has its pitfalls](http://php.net/manual/en/pdo.quote.php), usually it's better to use prepared statements.

Alternatively you could for example use an expression that glues stuff together using a whitespace

[code]

that's basically the same as

[code]

Or maybe even use raw SQL fragments and explicit bindings

[code]

[2015-08-01 14:59] ionas commented on #7157
@ndm2 - yes I found bind() too but could not figure out how to utilize it from the book and function headers. I think the last example of yours is the best cause it is very transparent what is going on. Tried that but no luck.
[code]
**Error** SQLSTATE[HY093]: Invalid parameter number: number of bound variables does not match number of tokens

[2015-08-01 15:16] ionas commented on #7157
Note: Another problem AFAIK is the parentheses around the 2 UNION sub queries ... somehow the generated query requires me to put the inner order by on the very outer query.

[2015-08-01 15:34] ndm2 commented on #7157
@ionas  Oops, I forgot about that, parameters always need to be bound on the outer most query, as that's the only query whichs value binder is going to be used to prepare the statement.

The parenthese are around the queries are necessary so that for example using `ORDER BY` in the unionized queries is possible at all. Not sure tough whether and how the various DBMS support that, MySQL supports it

[2015-08-01 15:38] ionas commented on #7157
Thats not true, the raw query I posted above works without them. If you add order() after union() it will still go into one of the queries anyway and you need this HACK that I did apply to have a custom outermost query that will do the ordering.

I can get around the issue and apply a double ordering (by table_order and by levenshtein) but generally the forced parentheses don't help.

I did apply

[2015-08-01 15:40] ionas commented on #7157
[code]

Error:
[code]

[2015-08-01 15:47] antograssiot commented on #7150
closing as a PR is open now

[2015-08-01 15:47] #7150 closed

[2015-08-01 15:48] ionas commented on #7150
Thanks!

[2015-08-01 15:59] ndm2 commented on #7157
I'm just talking theory here, I can't test it right now, and as I said, I'm not sure how the various DBMS handle that :) Just had a look at the the MySQL docs, they say that you should use the parentheses if you want to order the individual selects, and/or the outer reults

https://dev.mysql.com/doc/refman/5.6/en/union.html

As for the error, not sure, maybe things are being handled differently wi

[2015-08-01 16:01] ionas commented on #7157
In case you care, here is the create table statement. The SQL statement that I made up and tested is up there.
[code]

[2015-08-01 17:58] ndm2 commented on #7157
Ah, silly me, missed the `:` in the `bind()` call, of course it should be `bind(':street', $street)`, not `bind('street', $street)`.

As for the parentheses, I just gave it a try with MySQL, and they are definitely required here, without them it ends up with an error

They don't seem to be required when using only a single `ORDER BY` clause after/in the second query, which will be interpreted as t

[2015-08-01 22:16] ndm2 opened #7161 "3.x - Authentication - Validate and notify about invalid hashes?"
Seeing that regulary questions pop up on SO regarding login problems, and that in many cases the problem is that the hash wasn't stored correctly (column length too short, password not being hashed at all, etc), I was wondering whether it might be helpful to check the hash for validity before trying to compare it, and spit out a warning that makes developers aware in case there's something wrong w

[2015-08-01 22:24] ionas commented on #7157
@ndm2:

1. the sql query at the top in the comments only uses one single set of parentheses yes has an order by on one inner inner one and the outer one.

2. I did try :street.
[code]

Error:
    SQLSTATE[HY093]: Invalid parameter number: number of bound variables does not match number of tokens

Query:
[code]

[2015-08-01 22:26] ionas commented on #7157
As for the parentheses around the order by custom expression... I don't think my current issue is with that (but with binding and PDO) but I do wonder as well how to get rid of those.

[2015-08-01 22:42] ndm2 commented on #7157
@ionas Looks like I got confused by the different SQL dumps, as the first one has the order in the second query, and the second one has it in the first query, so while scanning over this I thought there were order clauses for _both_ queries... sorry for the hassle, my bad.

Regarding your example, I've just copy & paste tested it, and the query is being executed without errors (after ditching the

[2015-08-01 22:51] ionas commented on #7157
How do I get the query result result AFTER PDO binding?
I do setup soundex like this:
```'SOUNDEX(LOWER(street))' => 'SOUNDEX(' . $street . ')',``` ... not correct?

[2015-08-01 22:59] ndm2 commented on #7157
"DebugKit > Sql Log" tab... or enable query logging on DBMS level.

And yea, that's what you'd like it to say, but it won't do that, it will handle the value as a single string, you'll need something like

[code]

---
25 comments so far, sorry everybody for cluttering the issue tracker :)

[2015-08-02 01:42] markstory commented on #7161
If only MySQL would fail queries when data is truncated.

[2015-08-02 02:12] markstory commented on #7157
@ionas Given the complexity of the query you're creating, using the query builder seems like a ton of overhead, and a great deal of additional complexity. Have you considered just executing some vanilla SQL with bound parameters?

[2015-08-02 10:57] ionas commented on #7157
I have but I did not think of this query to be too complex and I don't know how to setup a query just with bound parameters. Also I can't chain the queries then, can I? And then, the query IS working using something like ```'levenshtein(' . $this->connection()->quote($street) . ', LOWER(Geodata__street)) ASC',``` for ordering - that's okay, isn't it?

What I can do to reduce complexity is running

[2015-08-02 14:00] ndm2 commented on #7157
@ionas Binding like this really works just fine with your code

	->order([
		// ...
		'levenshtein(:street, LOWER(Geodata__street)) ASC'
	])
	->bind(':street', $street)

If you still receive the invalid parameter number error, `debug()` the query returned by your method to see what params are being bound.

[2015-08-02 14:44] ionas commented on #7157
Invalid parameter number: number of bound variables does not match number of tokens

[code]

[2015-08-02 15:26] markstory commented on #7157
I've added more pointers to the docs on how to execute SQL in cakephp/docs#3040.

[2015-08-02 19:40] flashios09 opened #7162 "[Enhancement] Add a 'select' key to the AuthComponent config"
I'm using the **AuthComponent** and i want to specify the **Users Table fields**.
By default the **BaseAuthenticate::_query($username)** select all the fields from the Users Table:
[code]
We can't specify the fields to select in the AuthComponent config like this:
[code]
So i override the **BaseAuthenticate::_query($username)** by creating a custom **MyFormAuthenticate::_query($username)** in the

[2015-08-02 20:05] xavier83ar commented on #6518
Although second's options have been fixed to be the same of minutes, it still there is an issue with the correct value to set for the "second" option key.
Although documentation indicates that 'second' => true is required to show seconds selector, doing it ends up with a RuntimeException. I know that this could be only a documentation outdated issue, but I think that it's far more intuitive having

[2015-08-02 21:03] nebojsac commented on #7122
Thanks for the feedback! Finally got back to this. Fixed coding standards(sorry if I missed any of them) and added tests:
https://github.com/nebojsac/cakephp/commit/bb3e69fa9e850593d8f346069706c81fa82a9f74

[2015-08-02 21:48] ionas opened #7163 "3.x ORM issue with order() and prepared statement bindings"
Use Case:
UNION ALL of 2 select statements, ORDER BY the combined union result, both union parts feature different SQL functions (if soundex matches, return union_table_order = 1, if levenshtein matches return union_table_order 2)
Ref: https://github.com/cakephp/cakephp/issues/7157#issuecomment-127014553

Reduced case:
[code]

**ERROR:**
SQLSTATE[HY093]: Invalid parameter number: number of bound v

[2015-08-02 21:55] ionas commented on #7163
Note if I outcomment this line:
[code]
**ERROR**:
[code]

```debug($queryC);``` :
[code]

[2015-08-02 22:18] chinpei215 commented on #7140
@macnie It is not so difficult to write custom route classes. Let's try. I don't know 3.x well yet but the routing system seems more easily and more flexible than 2.x one. I wrote an example for you a couple of hours ago. It may contain bugs. But I hope this will be of your help.

src/Routing/Route/Route.php
[code]
src/Routing/Route/InflectedRoute.php
[code]

src/Routing/PrefixedRouterTrait.php
[c

[2015-08-03 01:35] macnie commented on #7140
@chinpei215 Great masterpieces! Friendly enthusiasm! Thank you very much! ，the perfect test that pass your code In the local project !

[2015-08-03 01:57] chinpei215 commented on #7140
@macnie Not at all :) And please do more test if you release the project. I didn't test a lot.

[2015-08-03 02:29] markstory commented on #6518
The following works fine for me in a cake3 app.

[code]

Where does the documentation say `second => true` should work?

[2015-08-03 02:36] markstory commented on #7163
I'll take a look, see if the same problem shows up with a simpler query/order by.

[2015-08-03 02:37] markstory commented on #7162
Why?

[2015-08-03 02:38] markstory commented on #7122
@nebojsac Could you make a pull request with those changes?

[2015-08-03 02:42] flashios09 commented on #7162
@markstory to prevent selecting all the fields in the users table. We can specify the **contain** option but we can't specify the fields to select from the users table !
What do you think ?

[2015-08-03 03:08] josegonzalez commented on #7162
@markstory I feel as though I mentioned this before, but perhaps a better option would be to allow a user to specify a custom finder. Would be simpler than adding new query options to the list and allows as much flexibility as the user needs in querying for data imo.

[2015-08-03 03:25] ADmad commented on #7162
@flashios09 Sounds like you are cramming too many fields into users table which should otherwise be moved into a separate profile table.

@josegonzalez Adding `finder` options is a very good idea.

[2015-08-03 07:11] nebojsac commented on #7122
@markstory done!
https://github.com/cakephp/cakephp/pull/7165

[2015-08-03 07:13] nebojsac commented on #7122
Should I have merged it into the master branch first?

[2015-08-03 07:42] Marlinc opened #7166 "Create intermediary 'ControllerEvent'"
I think it would be useful to create a intermediary `ControllerEvent` that would be used in Components instead of the regular `Event`. This would allow easy autocompletion of the return value of the `subject` method.

[2015-08-03 07:54] lorenzo commented on #7166
This sounds like a good idea to me

[2015-08-03 11:00] lorenzo commented on #7163
I'm confident that the problem here is not the order clause, but that the placeholders in the subqueries / union queries are not being bound correctly

[2015-08-03 11:06] Marlinc commented on #7166
The same could possibly be applied to table events as well? Although I'm not sure if it would make as much sense in that case.

[2015-08-03 11:09] Marlinc commented on #7162
I like adding a ```finder``` option as well. I don't think the component should be responsible for manipulating the query to such great of a detail.

[2015-08-03 11:51] markstory commented on #7122
Closing as we can continue discussion in  #7165

[2015-08-03 11:51] #7122 closed

[2015-08-03 11:51] markstory commented on #7166
Couldn't the same be done for the View events too?

[2015-08-03 11:52] markstory commented on #7162
:+1: to a finder.

[2015-08-03 11:54] markstory commented on #7162
Closing as a pull request is up, that will let you limit the fields that are loaded.

[2015-08-03 11:54] #7162 closed

[2015-08-03 12:15] jhli commented on #7166
:+1: for consistency across MVC.

[2015-08-03 12:17] jhli commented on #7137
Should be named raw() simular to sql() imho

[2015-08-03 12:18] markstory commented on #7163
I'll check that as well @lorenzo

[2015-08-03 12:53] Marlinc commented on #7166
Is there any other use case were this could be useful?
On 3 Aug 2015 8:15 pm, "HT-Studios" <notifications@github.com> wrote:

[2015-08-03 13:10] ravage84 commented on #7128
:+1: to the idea and :sunglasses: to use the opportunity to educate people.

[2015-08-03 13:15] Marlinc commented on #7161
@markstory how about changing the SQL mode on runtime? https://dev.mysql.com/doc/refman/5.1/en/sql-mode.html

[2015-08-03 13:23] Marlinc commented on #7128
That sounds like a great improvement over things like ```trigger_error``` :+1:

[2015-08-03 14:53] flashios09 commented on #7162
@ADmad Even if i separate the users table into two tables(adding a profile table) i will need a **JOIN** to  select the profile table fields and store it in the Session when connecting a user.
That's why i merge the two tables(users and profile) into one table and i prefer to specify the fields to select.
+1 for the **custom finder** suggested by @josegonzalez

[2015-08-03 15:01] jhawkwind commented on #6518
This was mentioned in the original issue ticket. That at the documentation here: http://book.cakephp.org/3.0/en/views/helpers/form.html#creating-date-and-time-inputs

It says:

[2015-08-03 15:11] xavier83ar commented on #6518
Yeah, setting `'second' => []` works, but again, I still think that having to set an option to an empty array to making it appear isn't very intuitive.
Anyway, that's my opinion and could be subject of discussion, the issue here is to have documentation fixed to be updated with how it works.

[2015-08-03 15:16] ADmad commented on #7162
@flashios09 Your statement sound pretty contradictory to me. On one hand you want to be able to select only some fields (which will be stored in session) and on other hand you say you would still have to join the profile table to store all profile fields too in session.

But never mind, I don't want to get into that discussion. I have already opened a pull request to help you achieve what you need

[2015-08-03 15:36] flashios09 commented on #7162
@ADmad  There is a **misunderstanding**,  i don't want to have **two tables** (users and profile) that's why i want to **specify the fields to select from the users table**. If i have two tables i can just **add the profile table to the contain config** option like this:
[code]
I prefer merging the users and the profile tables into one table, you like to separate them into two tables :)

Thanks fo

[2015-08-03 19:01] markstory commented on #6518
Shouldn't be hard to make `second => true` work. I'll take a look.

[2015-08-03 19:05] markstory commented on #7157
Closing as the documentation has been updated, and the order() problem has been split into a separate issue.

[2015-08-03 19:05] #7157 closed

[2015-08-03 19:15] jhli commented on #7157
Thanks!

[2015-08-03 19:21] markstory commented on #7161
I don't think changing the SQL mode in the ORM is a good idea, it might not be surprising to developers and dba's.

[2015-08-03 20:45] markstory commented on #7123
Pull request up now.

[2015-08-03 20:45] #7123 closed

[2015-08-04 10:29] burzum opened #7169 "Is there any reason why the Marshaller can't work with entity objects?"
I'm trying to "copy" an associated record to another, I have to use $entity->toArray() because the marshaller won't take the entity object which implements array interface.

Doing this

[code]

will result in:

while this will work

[code]

So why not changing the marshaller to work with entity objects as well? Entity implements the array interface and can be treated as array. One minor stumbling

[2015-08-04 14:09] janriokrause opened #7171 "2.x: Containable retrieves too much data"
Containable will retrieve a lot of more data than requested under certain circumstances. Take a look at the following example with the [database schema](http://pastebin.com/yQEb9Bje). I have simplified the whole code and associations to a minimum to reproduce the bug.

After some tests, I figured out that the bug first appeared from `v2.1.1` to `v2.1.2`.

[code]

[code]

[code]

[code]

[code]

[c

[2015-08-04 14:21] lorenzo commented on #7171
I have never seen this problem before, version `2.1.x` was released a long long time ago, have you first tried using a version of the framework that is supported?

[2015-08-04 14:22] lorenzo commented on #7169
Because it is meant to convert entity data into entities, not entities to entities.

[2015-08-04 14:22] #7169 closed

[2015-08-04 14:24] janriokrause commented on #7171
Yes, the bug still appears in `v2.7.1`.

[2015-08-04 14:25] lorenzo commented on #7169
On changing the method internals: I wouldn't personally like repurposing the method for anything else that is not just plain request data conversion. The method is not a cloning tool

[2015-08-04 14:28] burzum commented on #7169
The data is not coming from a request. The user wants to turn a Leads record / entity into an account, contact or both. If the validation for the account/contact + associated data doesn't fail the Leads record is deleted. The lead is looked up by id, there is not even a POST involved.

If you have a better idea how to do that I'm open for suggestions. However, the need to call toArray() here just

[2015-08-04 14:39] janriokrause commented on #7171
Of course, I use the most recent `v2.x`. I just did some tests by downgrading every version from `v2.7.1` to figure out when the bug was first introduced. This revealed the update from `v2.1.1` to `v2.1.2`. Thought that would be a helpful information? :-) All versions released later on are affected.

[2015-08-04 14:44] lorenzo commented on #7169
I understand you have a specific use case for your app that can be solved wither by calling `newEntity()` or `$entity->set()`, but I don't think your specific case means that the framework should support it by default.

If this were to be added, the only option that would guarantee that everything will be working as usual is to internally convert the entity to an array.

[2015-08-04 14:56] lorenzo commented on #7171
@janriokrause I think that would point to a misconfiguration of your asociations or perhaps a behavior/beforeFind that is adding more stuff to contain. By looking at your simplified example I'm confident to say that the problem is not in the core, since I have worked in plenty applications with similar use cases without experiencing this problem.

It would help to either have a reproducible test c

[2015-08-04 22:06] janriokrause commented on #7171
@lorenzo, I'm sorry to contradict you, but you actually **can** reproduce the bug with only my code posted above. I tested every version from `v2.1.1` to the most current `v2.7.1` and as said, the bug started to appear in `v2.1.2` The app only consists of the 5 models, the 1 controller and my database schema linked above with a fresh CakePHP installation. Nothing else. No behavior, no plugins, no

[2015-08-05 02:21] markstory commented on #7154
ping.

[2015-08-05 03:03] markstory commented on #7163
I was able to reproduce the SQL syntax error. MySQL does not like the following order clause

[code]
It will however accept

[code]

However, when using an expression object in `order()`, there doesn't seem to be a way to generate the specific bit of SQL. I was able to reproduce the SQL syntax error with:

[code]

Given that objects cannot be array keys would accepting 'tuples' or additional argum

[2015-08-05 04:14] Marlinc commented on #7154
I'm very interested to know what could be sanitized in the response headers.

[2015-08-05 06:37] lorenzo commented on #7163
I think i prefer the "tuple". Another solution could be having methods line orderAsc() and orderDesc()

[2015-08-05 06:39] lorenzo commented on #7171
No problem in contradicting, this is what the issue tracker is for. I will give it a try today

[2015-08-05 06:43] lorenzo commented on #7171
Ok, looking at your code again, I notice that there is a field() inside the afterFind(). That is the reason this problem happens for you. Can you try using a find() instead with callbacks => false as an option an see if the error persists?

[2015-08-05 06:47] lorenzo commented on #7171
yeah, I had missed entirely our afterFind() logic before. This is actually a sad limitation of the containable behavior,

[2015-08-05 06:48] lorenzo commented on #7171
Aaahrg fat fingers, sorry for closing

[2015-08-05 07:45] Marlinc commented on #7166
I've opened a pull request for this #7173

[2015-08-05 08:10] ADmad commented on #7166
Closing as PR is open.

[2015-08-05 09:45] Spriz opened #7174 "3.x: Baked models does not contain validation for required FK's"
Having Users and Comments table, with a User hasMany Comments relationship:

If the `user_id` on a in the `comments`-table is required, I'd expect it to also include following when baking the model:

`
$validator
  ->add('user_id', ['rule' => 'uuid'])
  ->notEmpty('user_id');
`

Is that just me being wrong?

[2015-08-05 09:53] davidyell commented on #7174
I'd think this would be a domain rule for the `RulesChecker`.

Something like this,
[code]

[2015-08-05 10:24] nebojsac opened #7176 "EmailComponent throwing Fatal error on missing or invalid subject"
When sending an email with either a missing subject or a subject string with weird utf8 characters, EmailComponent throws a Fatal error on this line:

https://github.com/cakephp/cakephp/blob/2.8/lib/Cake/Controller/Component/EmailComponent.php#L312

Is there a reason for why $this->subject isn't being checked like the other parts of the email?

I'm not sure if it should just return false or throw

[2015-08-05 10:34] ionas commented on #7163
Right now ```->order()``` can take a list of hashes like:
[code]
... to sort by multiple columns. Won't mixing that parameter style with the tuple style create problems?

Would:
[code]
... then be the new interface thus order either taking a string or 1-n hashes?

If that's not an option because ```->order()``` can be chained ```->orderAsc()``` and ```->orderDesc()``` easier to implement and will

[2015-08-05 12:19] markstory commented on #7174
From what I remember bake adds domain rules for each foreign key field. Using a validator is tricky, as foreign keys are not always populated from request data, which would cause validation to fail.

[2015-08-05 12:21] markstory commented on #7176
I think checking and raising an exception is a reasonable approach.

[2015-08-05 12:52] stefan-hausmann opened #7177 "3.x: Entity Subclassing"
I thinking of a way to make CakePHP's ORM system even a little bit more flexible. It's great that now we have the feature of getting real entity objects back from our queries instead of just simple data arrays.
We even can modify the entityClass to be used for a given table object.

But what if we have a table that has e.g. a "type" column and we want to use different types of entityClasses for th

[2015-08-05 13:08] AD7six commented on #7177
This looks like a duplicate of https://github.com/cakephp/cakephp/issues/4412

The entity class used is [determined by the table object](https://github.com/cakephp/cakephp/blob/master/src/ORM/Marshaller.php#L109-L110) and not dependent on the entity row data in the current implementation.

[2015-08-05 13:10] SanderSander opened #7178 "2.x Unable to use persistent connections in beforeSave callbacks"
The beforeSave callback is called in the middle of the saving operation so when the transaction allready has begun, instead BEFORE the transaction begins.

I had some issues with some transactions in the beforeSave, and with the session_write_close method  (only when sessions are stored in the database). The session_write_close method is also called when an exception is thrown in the beforeSave me

[2015-08-05 13:31] stefan-hausmann commented on #7177
@AD7six: thanks for referencing #4412, looks like that's the same idea.

[2015-08-05 13:37] Marlinc commented on #7177
Will discussions be continued here or in the other issue?

[2015-08-05 13:41] Spriz commented on #7174
It does indeed add domain rules, I just think it's weird it doesn't add the validator on the "not null"-fields from mysql - and I'm pretty sure it did at some point.

Even though it's not populated from request data, it should still be filled in the entity between the request data and the conversion to an entity - but I guess that would be up to the programmer to do in the controller? At least we

[2015-08-05 14:15] ADmad commented on #7177
Closing as duplicate of #4412.

[2015-08-05 14:15] #7177 closed

[2015-08-05 14:45] chinpei215 commented on #7174
@markstory @Spriz It seems an implementation bug for me. The concept would be correct.

When <code>Articles belongsTo Categories</code>, bake generates an application rule for FK in <code>ArticlesTable</code>:

[code]
Look at the arguments carefully. <code>['category_id']</code> and <code>'Categories'</code>. They would be passed to the ExistsIn class.

[code]
(Source: https://github.com/cakephp/c

[2015-08-05 15:49] markstory commented on #7177
@Marlinc I think having one thread for single table inheritance is for the best.

[2015-08-05 15:52] markstory commented on #7178
I would expect that all the before events happen in the same transaction. This is important with higer levels of transaction isolation as you want to have a consistent snapshot of the data base for the whole 'operation' which in this case is `save()`.

Closing as won't fix as I don't think having separate transactions is a good idea and will likely lead to more problems than it solves.

[2015-08-05 15:52] #7178 closed

[2015-08-05 16:47] Spriz commented on #7174
I think you misunderstood what Schema::isNullable() is doing - check out: http://api.cakephp.org/3.0/class-Cake.Database.Schema.Table.html#_isNullable :smile:

[2015-08-05 16:56] stefan-hausmann commented on #4412
@robertpustulka: coming from #7177 (haven't seen this issue here before), do you already have an idea / a plan how and where in the cakephp core to implement this? would like to discuss it here as I would like to have this feature, too!

[2015-08-05 18:01] novasdream commented on #6279
@salines use your like something like
'''
yourdomain.com/admin/
'''
not
'''
yourdomain.com/admin
'''

[2015-08-05 20:12] robertpustulka commented on #4412
@stefan-hausmann I've implemented a tiny behavior for something like STI, but without entity subclassing. It works for multiple Table classes sharing a single db table using a discriminator column.
I'm open to implementing something more powerful if you have an idea how this could work.

[2015-08-05 20:31] chinpei215 commented on #7174
@Spriz I thought L82-90 were written for nullable foreign keys. I mean a table like this:

[code]

Then, it seems reasonable to me that checking whether or not Articles.category_id is nullable. However, it seems not reasonable checking Categories.category_id.

But I might misunderstand as you said :)
Thanks and I'm sorry for my broken English.

[2015-08-05 21:58] ndm2 commented on #7154
Maybe the OP is refering to the fact that `Controller::header()` (which doesn't exist in 3.x anymore) says it would expect a string, but actually accepts an array too, as the value is passed directly to `CakeResponse::headers()`?

Given that someone passes user data to `Controller:header()` without checking whether it's in the expected format, this could lead to possible header injections. However

[2015-08-06 01:51] markstory commented on #7174
Yes it did, but a number of people had issues saving associations as validation would always fail if you saved an article and its comments for example.

[2015-08-06 02:06] markstory commented on #4412
If multiple table classes can share a db table, then the entity issue is also solved. If you have Model\Table\AdministratorsTable and Model\Entity\Administrator, the ORM cares not what the parent classes of Administrator are.

[2015-08-06 02:09] markstory commented on #7163
Now that you bring up the multiple argument issue @ionas I would rather have `orderAsc()` and `orderDesc()` be separate methods as @lorenzo suggested.

[2015-08-06 02:21] markstory commented on #7176
Fixed with #7179

[2015-08-06 02:21] #7176 closed

[2015-08-06 02:36] markstory commented on #7149
#5681 was the pull request that added the short aliases feature. While the code is correct, this issue is caused by the global class name index in `App`. Because on the second run the class cache has been primed, `App::uses()` can always find the shell class as it knows where to find it.

I don't think there is a way around this issue unfortunately. The behavior you've seen here was never intended

[2015-08-06 02:36] #7149 closed

[2015-08-06 02:46] Marlinc opened #7180 "View variables not available when not explicitly calling getView"
View variables are not being set in the ```View``` class unless ```getView()``` is explicitly called before the rendering of the template starts.

This is happening in CakePHP 3.1 beta 1 and is possibly due to the setting of view variables being moved into https://github.com/cakephp/cakephp/blob/3.1/src/View/ViewVarsTrait.php#L61-L85

[2015-08-06 02:54] cercos opened #7181 "CakePHP 3 - Plugin with admin prefix association error"
It seems that the table associations when inside plugin with prefix routing are not being associated properly.  It throws an error that my current table is not associated with the table in the contain clause.  It works when outside of the prefix route

[2015-08-06 02:55] ADmad commented on #7180
Well the view vars are copied from controller to view class on each call of getView(). Please provide example code to reproduce the issue.

[2015-08-06 02:58] ADmad commented on #7181
Table associations unrelated to routing. Please provide example code or test case to reproduce the issue you are having.

[2015-08-06 06:03] robertpustulka commented on #4412
That's true more or less, but what I understood from @stefan-hausmann request is that a UsersTable would know how to hydrate entities, thus Users->find() would return User entities as well as Administrator, Client  etc. On the second thought that's not quite good solution...

[2015-08-06 07:07] robertpustulka commented on #4412
I made my plugin available here: https://github.com/robotusers/cakephp-table-inheritance
It can be the base for the core implementation if you like.

[2015-08-06 07:18] lorenzo commented on #7174
You are right,  the nullable checking part seems to be wrong

[2015-08-06 07:46] ashwanisinghh opened #7182 "Inflector::slug is not returning the formatted string"
I am using Inflector::slug to convert the string into slug.
but it just returns some short form slug.
 e.g-\
       Inflector::slug('Test Category','-');
returns 't-t-o';

can anyone help on this

[2015-08-06 07:55] dereuromark commented on #7182
You should always mention the exact CakePHP version you are using.
Are you sure you didnt change the inflection rules of the Inflector somewhat? Never seen that issue before with such "normal" ascii strings.

[2015-08-06 07:56] ashwanisinghh commented on #7182
no i havn't changed anything in Inflector and my version is 2.6

[2015-08-06 07:57] ashwanisinghh commented on #7182
public static function slug($string, $replacement = '_') {
		$quotedReplacement = preg_quote($replacement, '/');

		$merge = array(
			'/[^\s\p{Zs}\p{Ll}\p{Lm}\p{Lo}\p{Lt}\p{Lu}\p{Nd}]/mu' => ' ',
			'/[\s\p{Zs}]+/mu' => $replacement,
			sprintf('/^[%s]+|[%s]+$/', $quotedReplacement, $quotedReplacement) => '',
		);

		$map = self::$_transliteration + $merge;
		return preg_replace(array_keys($map),

[2015-08-06 08:25] dereuromark commented on #7174
PR: https://github.com/cakephp/cakephp/pull/7183

[2015-08-06 08:25] #7174 closed

[2015-08-06 08:39] pbaire opened #7185 "bug:DBOSource isConnected method doesn't check the real status of connection"
In 2.x version the isConnected method doesn't check the real status of connection but returns an instance value setted when the connection is created.
I maked a simple workaround to effectively check the presence of connection by executing a "dumb" query (SELECT 1)
pull request @ https://github.com/cakephp/cakephp/pull/7184

[2015-08-06 08:47] Tresmollo opened #7186 "3.x - ORM - func->case return a string to func->sum()"
When using a case expression inside a sum expression, the case return the result as a string

[code]
[code]
the generated SQL request is :
[code]
Due to the 'quotes' around the `SUM` for the `billable_time` and `non_billable_time` doesn't work and output `0`

when manualy sending this request (without the single quotes around `Jobs.duration` :
[code]
MySQL return the correct values

[2015-08-06 08:51] lorenzo commented on #7186
You need to use `['column_name' => 'literal']` if you want the ORM to not safely escape the values you pass to it. Another option is using an expression object instead.

[2015-08-06 08:51] #7186 closed

[2015-08-06 08:56] arilia opened #7187 "source() method on aliased plugin Entity"
about this question I opened in stackoverflow

http://stackoverflow.com/questions/31848771/cakephp-3-0-get-table-object-from-aliased-plugin-entity

what I did

    //plugins/Users/src/Model/Table/GroupsTable.php

    $this->belongsTo('Parents', [
        'className' => 'Users.Groups',
        'foreignKey' => 'parent_id'
    ]);

---
    // Some controller

    $groupsTable = TableRegistry::get('Us

[2015-08-06 09:07] Tresmollo commented on #7186
Thanks for the tips, I've  tried with `['column_name' => 'literal']` but it doesn't work either, the query outputed is
[code]
I guess I will try my luck with the expression object

[2015-08-06 09:25] lorenzo commented on #7186
I would personally use a QueryExpression, specifically a `IdentifierExpression` for that case. I will check if the CaseExpression supports literals.

[2015-08-06 09:28] lorenzo commented on #7186
I see there is support for literals: https://github.com/cakephp/cakephp/blob/master/src/Database/Expression/CaseExpression.php#L128

I guess it should be used like this:

[code]

[2015-08-06 09:37] Marlinc commented on #7180
I found out what the problem is. It has to do with the ```beforeRender``` in the ```Controller``` class. Croogo plugins set view variables when the ```beforeRender``` event gets called. The new version of CakePHP however only calls ```getView()``` before the event gets dispatched.

This can be seen in: https://github.com/cakephp/cakephp/blob/3.1/src/Controller/Controller.php#L555-L565

[2015-08-06 09:50] Tresmollo commented on #7186
Well, adding the englobing array did something, now I've got a fatal error xD
[code]

[2015-08-06 10:11] lorenzo commented on #7186
Ok, so I don't know... just wrap your identifier in an IndentifierExpression. I will look into what is the actual syntax for literals in the CaseExpression and document it

[2015-08-06 10:29] markstory commented on #7182
What version is your PCRE library? This reminds me of the problems people had with old versions of PCRE.

[2015-08-06 10:34] markstory commented on #7187
But the source() method returns the 'alias' of the association/class, not the class name. Is this causing you problems?

[2015-08-06 10:46] arilia commented on #7187
I have an entity, and I need to instantiate its table.

If I use `TableRegistry::get();` with the alias I don't get the right table if the entity comes from a plugin. How can I get the entity table? Is there another way than unig `source()`?

[2015-08-06 10:53] markstory commented on #7180
Setting view variables in the beforeRender callback seems quite reasonable. Perhaps Controller::render() can re-fetch the view after that event?

[2015-08-06 10:54] Marlinc commented on #7180
That's what I thought as well. Re-fetching could definitely be an acceptable solution.

[2015-08-06 10:56] markstory commented on #7185
Closing as there is a pull request open now.

[2015-08-06 10:56] #7185 closed

[2015-08-06 11:18] markstory commented on #7187
Pull request up now #7188

[2015-08-06 11:18] #7187 closed

[2015-08-06 12:17] Tresmollo commented on #7186
The `IdentifierExpression` did the trick !
[code]
Thanks a lot for the help !

[2015-08-06 12:57] janriokrause commented on #7171
Even with `'callbacks' = false` in my `find()` the output differs from my expectation. `AgeGroup` does not belong on the first level. I requested `Result.AgeGroup`, not `AgeGroup`. See below:

[code]

[2015-08-06 13:08] ravage84 commented on #7161
May be a small note/hint in the docs at the right place(s) could help those lost souls? :smiling_imp:

Or something like this https://github.com/cakephp/docs/pull/3067/files ?

[2015-08-06 13:30] markstory commented on #7161
A note in the docs sounds reasonable @ravage84.

[2015-08-06 13:35] lorenzo commented on #7171
`'contain'` needs `callbacks => true`

[2015-08-06 16:38] danielzzz opened #7191 "the 3.x docs about email is not correct"
the info here is marked as 3.x but it works only for 3.1
http://book.cakephp.org/3.0/en/core-libraries/email.html

[2015-08-06 17:56] quantum-x opened #7192 "2.X Response->Vary() should be cumulative"
Problem: Response->vary() is not cumulative. IE, if called multiple times, the previously set value is discarded instead of being placed into an array.

Suggestion: Response->vary() should exhibit consistant behaviour as Response->header()

[2015-08-06 17:56] quantum-x commented on #7192
If deemed important, please let me know, and I will send in my PR

[2015-08-06 18:48] ADmad opened #7193 "3.x - Unable to set reusable formatter with custom pattern"
## The what

I wanted to set a non-default number format for a particular currency so I did:

[code]
`Number` class stores and reuses the formatter for each locale and type pair so I expected the new pattern to be uses when using

[code]
But the returned string still used the default pattern for `INR`.

## The why

The reason for this is, though formatter instance for locale and type pair are cach

[2015-08-06 18:56] ADmad commented on #7191
This issue was moved to cakephp/docs#3075

[2015-08-06 18:56] #7191 closed

[2015-08-06 19:01] ADmad commented on #7180
Sounds good to me too. @Marlinc Would you like to make a PR?

[2015-08-06 20:15] janriokrause commented on #7171
Unfortunately, `'callbacks' => true` does not change anything when put in `'contain'`.

[2015-08-07 01:36] jhli commented on #7161
I think it is okay to change the mode or put an out commented in the datasource config. Question is if the mode can easily be changed with little previleges?

[2015-08-07 01:54] markstory commented on #7083
Fixed with 2.6.10

[2015-08-07 01:54] #7083 closed

[2015-08-07 02:20] markstory commented on #7192
If each call adds, how would someone replace the set values? Currently you can 'add' with

[code]

[2015-08-07 02:22] markstory commented on #7161
@jhli My issue is that changing SQL modes varies greatly between each dbms. Is this really a common enough problem where we need platform abstraction and code to support what is generally a self-inflicted issue?

[2015-08-07 02:29] markstory commented on #7193
The proposed solution sounds good to me. One thing that doesn't make sense to me is why the pattern is overwritten. In your example, your options don't define `options['format']` so I would have expected the formatter to remain unchanged.

[2015-08-07 04:41] sdustinh commented on #7161
I've always wondered why bake wasn't extended for common database fields. This is probably a good example. Something like:

[code]

... but then I just made a migration.

[2015-08-07 05:27] Marlinc commented on #7180
Sure, will do

[2015-08-07 05:39] Marlinc commented on #7180
A pull request has been opened: #7195

[2015-08-07 05:39] #7180 closed

[2015-08-07 08:11] lorenzo commented on #7193
I don't really understand this issue... What `$number` in your case?

[2015-08-07 08:19] stefan-hausmann commented on #4412
@robertpustulka: thanks, I'll take a look and think about how to implement this as a core feature.

[2015-08-07 13:36] burzum commented on #4118
[This solves it mostly for me](https://gist.github.com/burzum/3aaea92e13b70f66f514), except in bake. But it's easy to rename the files and class names.

The only thing you'll have to do this

[code]

[2015-08-07 14:38] quantum-x commented on #7192
Hi @markstory
Presumably by doing manually unsetting the particular array value.
In reality, it would mirror the behaviour of $response->header():

[code]

Again, I'm not sure if this is important, but I would expect that a header that could take multiple options would behave in a similar manner to its sibling methods - I got caught out with this.

Thanks kindly.

[2015-08-07 16:53] flashios09 opened #7198 "[3.1] Can't update the framework from 3.0 to 3.1 using composer"
Hi,
I want to update the framework from the version 3.0 to 3.1 using composer.
I run the command ```composer require cakephp/cakephp:"~3.1"``` in the terminal but i have this error:
**Your requirements could not be resolved to an installable set of packages.**
That's a screenshot
![image](https://cloud.githubusercontent.com/assets/1313482/9140957/e6df2762-3d2c-11e5-8793-68265e96b558.png)

That's m

[2015-08-07 16:56] ADmad commented on #7198
Use the versions of various of various libs/plugins as per [composer.json](https://github.com/cakephp/app/blob/3.1/composer.json) of app skeleton's 3.1 branch.

[2015-08-07 16:56] #7198 closed

[2015-08-07 17:06] flashios09 commented on #7198
@ADmad Thanks, i just replaced the old **composer.json** file with the new one, run the command ```sudo composer update``` and it works :)

[2015-08-07 18:28] #7193 closed

[2015-08-08 00:51] markstory commented on #7144
Docs have been updated now - closing.

[2015-08-08 00:51] #7144 closed

[2015-08-08 01:40] markstory opened #7201 "Add ViewConfig proxy"
As discussed in #7195. The deprecation of the controller properties is nice, as it makes the contracts between controllers and views explicit and based on methods not properties. However, the current getView() based code is problematic as view instances are cemented a bit too early often. To keep the separation that we've gained and fix the usability issues that have been introduced a view configu

[2015-08-08 01:58] markstory commented on #7163
Pull request up now for the two new methods. See #7202

[2015-08-08 01:58] #7163 closed

[2015-08-08 07:01] shingosama opened #7203 "Problem with plural and i18n translate function"
Hello, I have a problem concerning translation and plurality. All functions that I try to use, but they go back only singular. I did several tests trying to see what was going on in the source code of cakephp, but I did not find anything wrong.

[code]

[code]

[code]

Am I the only one to experience this issue?

Thank you for your help.

[2015-08-08 15:48] markstory commented on #7203
What do your translation files look like? There are quite a few tests that cover the plural forms that work. Also plurals are working fine locally:

[code]

[2015-08-08 17:01] shingosama commented on #7203
Thanks for your answer. The problem was with my setup. I set "fr-FR" inftead of fr_FR in my bootstrap.php file:

[code]

and have generated new translation files. The plural now works.

[2015-08-08 17:01] #7203 closed

[2015-08-08 17:11] lorenzo commented on #7201
I like this :+1:

[2015-08-08 19:56] markstory commented on #7201
Cool, I'll try implementing in the next few days.

[2015-08-09 03:32] Marlinc commented on #7201
Looking good indeed.

Could the same be applied to email sending as well possibly? At the moment
there's a special method for assigning a template.
On 9 Aug 2015 3:56 am, "Mark Story" <notifications@github.com> wrote:

[2015-08-09 06:37] ADmad commented on #6698
Monthly ping :)

[2015-08-09 06:44] #6889 closed

[2015-08-09 14:46] JustDoItSascha opened #7205 "3.x - AuthComponent - _unathorized() - Redirect problem when user has no access to referer()"
I'm struggling with a problem in cake 3 and I don't know if it's my fault or a bug. When I have two users with different authorization configs  and User A logs out and User B logs in right after, but has no access to the referer location, the redirect is not correct.

Because the redirecting method tries to access the location from loginRedirect, but the url which is generated is not correct, beca

[2015-08-09 18:25] markstory commented on #7205
What does your auth component configurarion look like?

[2015-08-10 06:30] JustDoItSascha commented on #7205
[code]

In the _unauthorized Method you call referer() with default route and second parameter true. This returns /subdir/ROUTE/TO/REFERER and then the redirect() or better the Router::url() prepends this string with the actual subdir.

Either the referer() method should return the url without the basedir or the Router::url() has to be detained from prepending the basedir a second time.

[2015-08-10 17:47] tmazur commented on #6578
Unfortunetely getMockForModel does

    unset($config['ds']);

So the only solution is to mock schema.

[2015-08-10 18:08] markstory commented on #7205
Thanks, I'll try reproducing and seeing if the change you made has any other side-effects.

[2015-08-10 18:14] JustDoItSascha commented on #7205
You're welcome. If you need some other Information, just ask. I think the logical error behind the issue is, that the url goes through router::url() two times in this special case...

On Mon, Aug 10, 2015 at 8:08 PM, Mark Story <notifications@github.com>
wrote:

[2015-08-10 18:49] pperejon opened #7208 "LocaleSelectorFilter shouldn't set default locale"
Hello!
Recently I had some problems with the *Translate behavior* in a new app I'm developing using CakePHP 3.0. The prob was that translations queries were never executed because of this two reasons:
* [the comparison between the current locale and the default locale at the beginning of the *beforeFind*](https://github.com/cakephp/cakephp/blob/master/src/ORM/Behavior/TranslateBehavior.php#L195-L1

[2015-08-10 19:06] HavokInspiration commented on #7205
@markstory Might be the same issue as here https://github.com/cakephp/cakephp/issues/5878

[2015-08-10 20:29] lorenzo commented on #7208
Would you like sending us a pull request with your proposed fix?

[2015-08-10 20:34] jhli commented on #7076
It means though that you have no easy way of doing blackLists including automatic field as used to (as schema array diff blacklist) and would need to instead manually disable the auto timestamping behaviour.

[2015-08-10 20:40] jhli commented on #7050
I had the same problems in my custom subquery and defined inner fields as aliased to the same name and it felt strange. At least the docs about from should hint at that (not sure, currently on gprs train mobile).

[2015-08-10 22:22] beporter commented on #6696
Better bump the milestone back again-- I have too much client work. Even my weekends are spent working on paying projects at the moment. Thanks for your patience.

[2015-08-11 01:30] markstory commented on #7205
@HavokInspiration Agreed, but this time in 3.x

[2015-08-11 05:49] aygee opened #7211 "Hash::sort to support ignore case"
Hi,

I think Hash::sort should support ignore case. I'm proposing to take a new parameter $ignoreCase. If this is set to true, we can combine the $type flag with SORT_FLAG_CASE using the bitwise OR to make the sort case insensitive.

It's easy to implement and I can create a pull request.

[2015-08-11 06:42] jippi commented on #7211
boolean arguments are terrible for readability imo. Rather see an options array with 'ignoreCase' => true'

[2015-08-11 07:20] pperejon commented on #7208
Sure! This is going to be my first collaboration to open source using git, github, unit tests, and so on. The pull request will be ready in a few minutes. Though is an ultra-simple change I hope I make no mistakes :)

[2015-08-11 07:22] Marlinc commented on #7208
@pperejon don't worry. Its easy to do and very rewarding :smile:

[2015-08-11 07:44] lorenzo opened #7212 "RequestHandlerComponent should have a config for the automatic view types"
Currently the `RequestHandlerComponent` responds automatically to json and xml depending on the Accept header, but there are cases were you do not want to support both formats, as it involves more testting and edge cases.

The RequestHandler should be able to get a configuration array with the possible automatic view types that should be inspected for.

[2015-08-11 07:49] Marlinc commented on #7212
Would it make sense to look at the extensions in the ```Router``` to determine what formats to support?

[2015-08-11 08:07] lorenzo commented on #7212
no much @Marlinc, extensions are only for lazy developers. The actual feature is header detection, but we could make sure that if the extension is supported then it would make sense to respond to that format as well.

[2015-08-11 08:11] Marlinc commented on #7212
That's what I thought, as it would generally be expected

[2015-08-11 12:30] chonz0 commented on #6642
I would suggest you to take a look at #3446, where there seems to be an explanation and a workaround/solution to this. Hope this helps.

[2015-08-11 13:11] ADmad commented on #7208
Closing are related PR is open.

[2015-08-11 13:11] #7208 closed

[2015-08-11 13:48] markstory commented on #7212
What if there were no default types?

[2015-08-11 16:11] markstory commented on #7211
We could expand the $type option to allow new states as well. We don't already have an options parameter.

[2015-08-11 16:25] markstory commented on #6608
It sounds like this was an issue with the documentation that has since been corrected. Closing.

[2015-08-11 16:25] #6608 closed

[2015-08-11 20:58] sdustinh opened #7216 "3.x Apache environment variables aren't loaded for CLI scripts"
The main discussion for this was over on cakephp/migrations#107.

Basically I have environment variables that are set in my apache config. When I use any of the CLI scripts they won't have access to those environment variable settings because apache is never used. I'm not sure there is anything that can be done about this on the framework side (at least easily) but I figured I would at least open

[2015-08-11 22:48] aygee commented on #7211
I agreed. Adding $options just for 'ignoreCase' is overkill. @markstory, do you reckon expand the $type to have regular_case, string_case, natural_case for the case insensitive options?

Also, can this be added to v2 as well please?

[2015-08-11 23:39] jadb commented on #7216
My preferred method for env vars is to use https://github.com/josegonzalez/php-dotenv - makes it trivial to share them between CLI and web.

[2015-08-12 01:44] markstory commented on #7216
We can't make apache environment variables available in your terminal environment. You'll have to solve this one on your own :smile:

[2015-08-12 01:44] #7216 closed

[2015-08-12 01:45] markstory commented on #7211
@aygee We can totally add this kind of thing into 2.8. Other than using names like `regularCase` etc. I think adding more type options seems like a good idea.

[2015-08-12 04:41] aygee commented on #7211
I created a pull request in #7217. I created an extra parameter instead of expanding the $type because the solution will be simpler, rather than having to check the $type for regular_ignore_case, string_ignore_case, natural_ignore_case, etc...

What do you think?

Sorry this is my first time contributing so please bear with me

[2015-08-12 04:42] aygee commented on #7211
Also, I noticed that AppVeyor build failed. What have I missed there?

[2015-08-12 04:53] antograssiot commented on #7211
@aygee don't worry, appveyor faillure is normal, it is not configured to work on 2.x branches.

[2015-08-12 11:34] ionas commented on #6679
Did set cakephp, bake to 3.1 and manually imported 3.1 app skeleton css files.
https://gist.github.com/ionas/7505988a068f208e1373
I have following issue with Flashes not rendering like they did in 3.0 (full width above main content):
<img width="1083" alt="screen shot 2015-08-12 at 13 30 42" src="https://cloud.githubusercontent.com/assets/106845/9223009/b61fc924-40f6-11e5-9cec-9e20c1eac819.png">
I

[2015-08-12 15:05] alexlambson opened #7220 "Deep associations returns null on ngnix"
Hello,

We are on CakePHP 3.0.7

I am using Apache and my coworker is using ngnix. We found that deep associations using dot notation in ->contain() do not work on his ngnix server, but they work on my Apache server. I wish I had an error code to give, but it simply returns a null object when we execute the query.

I can get any info you guys think will be helpful.

[2015-08-12 15:56] markstory commented on #7220
I suspect there are other differences than nginx/apache.  There isn't anything in the ORM that is using environment variables or server related features so the issue must be somewhere else.

[2015-08-12 18:37] Kepro opened #7221 "paginator custom URL"
Hi all,
i have problem i have route
[code]
i have url /my/houses/1/cars but paginator still want to go to /my/cars :/ and there is no way to change it

[2015-08-12 19:49] ADmad commented on #7221
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2015-08-12 19:49] #7221 closed

[2015-08-13 00:10] markstory commented on #7211
Closing as there is a pull request open now that we can continue to discuss and work on.

[2015-08-13 00:10] #7211 closed

[2015-08-13 00:38] jadb commented on #7220
Turn on your database logs maybe?

From my Vagrant machine (edit to fit your environments):

[code]

[2015-08-13 02:29] alexlambson commented on #7220
Alright. I'll post everything I can get when I get back to work tomorrow. SQL logs as well. I'll also post if I find out the issue. For now we are just nesting ->contain()

[2015-08-13 02:41] markstory commented on #7201
Closing as #7223 is open now.

[2015-08-13 02:41] #7201 closed

[2015-08-13 04:53] steji113 commented on #7205
Is this the same issue as #4812 ? I have been able to reproduce the same issue even with the fix for #4812 present.

[2015-08-13 05:41] akinwale opened #7225 "3.0 - When the primary key type of an entity is UUID, a new value is always generated even if a value is set before saving"
Assuming I have the following table definition.
[code]

With my ItemsTable class defined and the primary key set to the Guid field, every time I try to call the save method on a new entity, a new value is generated which overwrites the data value.

For example:
[code]

I was able to trace this to `Cake\ORM\Table#1489`
[code]

My workaround was to obtain the field value from the `$data` array if se

[2015-08-13 06:07] robertpustulka commented on #7225
CakePHP can handle uuid PKs by itself, you don't have to generate it manually.

[2015-08-13 10:13] segy opened #7226 "Cake\I18n\Time has setToStringFormat but json_encodes as ISO8601"
Not sure if this is a defect. I would like to modify the way *Cake\I18n\Time* is json_encoded and for me the logical behavior would be to return json_encoded __toString value. But it is set to ISO8601.

I would suggest changing it to:

    public function jsonSerialize()
    {
        return $this->i18nFormat(); // maybe better to $this->__toString()
    }

but if this is a desired behavior, I wou

[2015-08-13 10:13] danielzzz opened #7227 "add checking of "naughty strings" to the security component"
maybe it would be a good idea to add some option to validate user input against this list of bad strings from this other gh project
https://github.com/minimaxir/big-list-of-naughty-strings

[2015-08-13 11:35] Kepro commented on #7221
@ADmad i think this is missing feature from the latest cake php for 1.3 and 2.x i find this option but in 3.x they doesn't exist
http://book.cakephp.org/3.0/en/views/helpers/paginator.html#creating-sort-links

[2015-08-13 11:44] hdogan commented on #7227
I think you can use [your own validation provider](http://book.cakephp.org/3.0/en/core-libraries/validation.html#adding-validation-providers) (or custom validation rule) which implements this feature. It's not necessary to include it in core.

[2015-08-13 12:05] ADmad commented on #7221
Exactly what feature are you referring to? You have linked `PaginatorHelper::sort()` which has the same signature and works similarly in 2.x and 3.x.

[2015-08-13 12:06] ADmad commented on #7227
As @hdogan stated it can be easily done using custom validator in app/plugin. Doesn't need to be in core.

[2015-08-13 12:06] #7227 closed

[2015-08-13 12:26] AD7six commented on #7225
@robertpustulka should be possible to insert with a specific id though

[2015-08-13 13:22] robertpustulka commented on #7225
@AD7six Would it work if you did this: `$entity->isNew(false)`?

[2015-08-13 13:49] markstory commented on #7221
The sort method works fine. Your URLs are probably missing the required parameters to match your resource routes. Make sure you set the various id properties using options().

[2015-08-13 13:54] Kepro commented on #7221
@markstory  i read all documentation and i don't find how to change url, still go to /my/cars and not to /my/houses/1/cars where yo set correct property, thanks for sample

really sorry for this

[2015-08-13 13:56] markstory commented on #7221
The [options method](http://book.cakephp.org/3.0/en/views/helpers/paginator.html#modifying-the-options-paginatorhelper-uses) lets you set the required URL parameters so your routes will match. I suspect that you need house_id there.

[2015-08-13 13:58] markstory commented on #7205
@steji113 That issue was for string URLs. This sounds related but not the same. I've not had a chance to take a look at this one yet though.

Are you also able to reproduce with similar settings as @JustDoItSascha used?

[2015-08-13 20:13] lorenzo commented on #7226
I think adding a method to control the format is the best idea. Do you want to contribute that?

[2015-08-13 21:40] jhli commented on #7227
And the list itself... 50%+ meh or even too opinionated.

[2015-08-14 02:02] markstory commented on #7225
Inserting with a specific ID is not possible for autoincrement keys though. Both Postgres and SQLserver disallow setting specific values.

Changing the code as described above might cause issues with autoincrements, so I'm not sure its quite as simple as it initially seems, but I might be wrong.

[2015-08-14 02:11] markstory commented on #7226
This new method should probably be static. Calling it on every `Time` instance would suck.

[2015-08-14 04:16] markstory commented on #2331
I tried again using request() and still wasn't able to reproduce the issue. I also don't understand how changing those two lines could remedy the issue. The request data needs the complete auth data which is generated when `_setAuth` is called.

[2015-08-14 04:16] #2331 closed

[2015-08-14 05:25] akinwale commented on #7225
Indeed. I would imagine adding checks for the primary key metadata to verify if it's an identity column (SQL Server) or a serial (PostgreSQL). My code is simply a workaround for the project I'm currently working on until there's a proper fix.

[2015-08-14 05:45] ndm2 commented on #7225
@akinwale For something that is less of a workaround, you could instead override `Table::_newId()` to return `null`, this will cause the possible primary key set in the data to be used. All non-UUID database types currently do that, they return `null` for new IDs.

[2015-08-14 06:13] kongkannika opened #7229 "Validate still query to database when there is field "id" in a model that doesn't have table `$useTable = false`"
Model that doesn't have table to validate form register

[code]

Controller call the `validateUserRegister()` in model `Api`

[code]

Browser request with below data is OK:

[code]

But when the request with this data, it shows an error :
[code]

[code]
I think there is a bug on validation core of CakePHP when the table is not used, it still query to database on the table with the name of model.

[2015-08-14 06:23] #6972 closed

[2015-08-14 07:48] taurus49 opened #7230 "[Cakephp 3.x] Custom Datasource"
Hello everybody,

i need to create an ldap datasource but don't find any help on how creating custom datasource. Someone to help me ? Tnx

[2015-08-14 07:49] ADmad commented on #7230
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2015-08-14 07:49] #7230 closed

[2015-08-14 09:09] GuidoHendriks commented on #6407
It uses an `andWhere` now for quite a while, so the problem doesn't exist any longer. Still not recommended because of it uses a trait?

[2015-08-14 09:15] tanuck commented on #7229
My guess is this is caused by the call to `$model->exists()` in the `ModelValidator::errors()` method. I'm not sure whether it is correct to skip it when `$useTable = false` though. I would normally write a custom datasource for when my model is interacting with an API.

Maybe a bit of a dirty fix would be for you to reset the value of `$model->primaryKey` so that the model id doesn't get set when

[2015-08-14 13:48] fheider opened #7232 "Update datetime fields doesn't set the entity as modified"
If you modified a datetime field in an entity, e.g. addDays, the entity would not be set as modified and so nothing would be saved.

Reproduce:
    $item = $tbl->get($id);
    $item->datetime->addDays(2);
    ==> nothing will be saved, because the entity doesn't get, that something has modified

My current workaround:
    $item->datetime = (new Time($item->datetime))->addDays(2);

I don't know if

[2015-08-14 15:08] Kepro commented on #7221
@markstory but this is query params, still i can't use /my/houses/1/cars
i think still this is a missing feature... you create greate resource in resource but i think this is not a good...

[2015-08-14 15:14] ADmad commented on #7221
It's not just query params. You can use the url array the same way you it anywhere else and set keys like `controller` etc. and your custom route elements too.

[2015-08-14 15:16] ADmad commented on #7221
The description below the example code even states _"The above adds the `en` route parameter to all links the helper will generate."_

[2015-08-14 15:24] Kepro commented on #7221
och.. one big thx guys.. sorry one more time, also one last question
this is working
$this->Paginator->options(['url' => ['controller' => 'houses/1/cars']]);
also
$this->Paginator->options(['url' => ['controller' => 'measurers', 'action' => '1/usages']])

but is ugly it's only one way hot to use custom url? Big Thanks for your great work

[2015-08-14 16:27] ADmad commented on #7221
In future please use the resources I linked earlier if have problem figuring something out.

[2015-08-14 21:28] jhli commented on #7216
@jadb i can only hope to see this land in 3.2 or some 3.1.x?

[2015-08-14 21:38] jhli commented on #7216
Ref https://github.com/cakephp/cakephp/issues/4396

[2015-08-14 21:59] markstory commented on #7232
The ORM is unable to track property changes in nested objects. You _can_ use methods on the datetime instances, but you'll need to hint the ORM with `$item->dirty('datetime', true);` This is the same behavior as associations have.

[2015-08-14 21:59] #7232 closed

[2015-08-15 00:08] ionas opened #7233 "3.1 RFC: Convenience methods for extracting request data / query strings (from form submits)"
So I came across this and thought about why there was the wish to get back the old findAllByX magic. Ref: https://github.com/cakephp/cakephp/pull/7209

I think it is simply less typing.

Too shorten the code required to filter data I'd much more like to see some convenience controller methods like ```->pd()``` ```->qs()``` for example. pd for post-data and qs for query-string.
Typing comparison:
[

[2015-08-15 08:19] ADmad opened #7234 "3.1 - Don't set layout based on mailer name"
Having used the new mailer a bit I would prefer if it didn't auto set layout based on [mailer name](https://github.com/cakephp/cakephp/blob/3.1/src/Mailer/Mailer.php#L120).

I could have all my mailers extend a custom mailer which sets the layout to avoid this issue, but imo existing behavior is not a good default. I don't think it's common enough to have multiple layouts for emails. Whatever chan

[2015-08-15 08:34] HavokInspiration commented on #7234
I agree.
I generally have one layout with logos / footer / etc. and whatever needs to change is done within my templates.

[2015-08-15 13:00] ionas commented on #7234
:+1:  As long as there is a way to manually set the email template layout I think there should be no convention that sets it to something else than the 'default' html/text email template layout.

[2015-08-15 13:48] markstory commented on #7234
Closing as a pull request is up.

[2015-08-15 13:48] #7234 closed

[2015-08-15 13:51] markstory commented on #7233
What if the shorthand was on the ORM instead of request data reading? I'm not a fan of the proposed names, but I think the idea is reasonable, and reminds me of Rails' [Controller::params](http://guides.rubyonrails.org/action_controller_overview.html#parameters).

[2015-08-15 14:04] ionas commented on #7233
* I'd say its a transformation of request data/params and thus this is inherently a job that the controller should do. If you agree I can try to prep a PR for this next week. Are there any helpers for transforming Dot Notation to conventional Array Access in the framework already?
* I don't care about the names, they just should be ***very short*** (2-3 charactes) - I am not sure if PHP can do it

[2015-08-15 14:12] ADmad commented on #7233
They should be proper descriptive names which don't kill readability.

[2015-08-15 14:13] ionas commented on #7233
so ```$param('username')```?

[2015-08-15 14:25] ADmad commented on #7233
You can already do `$this->request->data('user.profile.field')`

[2015-08-15 19:46] markstory commented on #7233
I'd prefer not to add global variables/global functions that proxy instance objects. The instance resolution and context binding can be complicated.

[2015-08-16 00:45] sdustinh commented on #7233
What about an opt-in behavior? I've done something similar to this on a lot of my models to solve that problem and avoid using `findAllByX` functions: `$this->Users->findAllByRequest($this->request);`

The only thing that really stopped me from moving forward with developing it more was that the `implementedFinders` key on behaviors don't support regex snippets like the router class (now i'm wonde

[2015-08-16 01:09] jhli commented on #7233
Takes away control and relies on mass assignment and accessible. Not bad but not close to what is proposed here (separat issue/ticket?. Also meh without AppTable. Possibly a core behavior then?)

[2015-08-16 02:21] ionas commented on #7233
I really like the short variable names $qs() and $pd() in particular but I get it... like this then?
[code]
(Still untestet code)

[2015-08-16 05:14] steji113 commented on #7205
At first glance it seems our configurations are pretty similar. On any unauthorized redirect, if you are running out of a subdirectory on your web server we will start to see URLs with the subdirectory duplicated.

[code]

[2015-08-16 08:01] Sonik511 opened #7238 "cakephp 3 fresh installation issue"
I have php 5.4.42 on Linux with Apache and mysql. All the required extensions are loaded and I did a fresh install of cakephp 3 using the command

It installed everything but when I went to the URL instead of opening the page it showed me following error
Parse error: syntax error, unexpected T_OBJECT_OPERATOR in c3/config/bootstrap.php on line 107

[2015-08-16 08:59] AD7six commented on #7238
What's the contents of your config/bootstrap.php file?

[2015-08-16 09:14] Sonik511 commented on #7238
I did not change anything in any of the files. This is the default file which comes with installation

[2015-08-16 09:16] Sonik511 commented on #7238
the line 107 is as marked below
/**
 * Register application error and exception handlers.
 */
$isCli = php_sapi_name() === 'cli';
if ($isCli) {
line 107 ------>>>>>>  (new ConsoleErrorHandler(Configure::read('Error')))->register();
} else {
    (new ErrorHandler(Configure::read('Error')))->register();
}

[2015-08-16 09:17] lorenzo commented on #7238
You need php 5.4 for running cakephp

[2015-08-16 09:17] #7238 closed

[2015-08-16 09:17] ADmad commented on #7238
Your PHP version is definitely not what you claim it to be.

[2015-08-16 09:18] Sonik511 commented on #7238
$ php -v
PHP 5.4.42 (cli) (built: Jun 16 2015 00:23:52)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2014 Zend Technologies

[2015-08-16 09:19] ADmad commented on #7238
Check using `phpinfo()`, your web server might be using different version than CLI.

[2015-08-16 09:23] Sonik511 commented on #7238
Thanks a lot. You are right. Php info is showing 5.3.29. Need to check with my hosting provider to correct this.

[2015-08-16 09:44] lorenzo commented on #7233
I think this belongs in a plugin, look at https://github.com/friendsofcake/search for reference

[2015-08-16 09:46] lorenzo commented on #7212
@markstory that could work as well, but I see it more difficult to implement because of BC

[2015-08-16 13:30] jhli commented on #7238
Couldn't we test the minimum pho version in the frontcontroller / before shell buildup?

[2015-08-16 17:18] tanuck commented on #7229
@markstory do you think it's correct to change the behaviour of `Model::exists()` when `$useTable = false` ?

[2015-08-16 17:40] AD7six commented on #7238
@jhli how would that be helpful?

[2015-08-16 20:19] jhli commented on #7238
We won't have tickets like this. To many (newboes) it is also not clear that cli and webserver php may differ and they wonder why the framework crashes despite php -v reporting a good version.

[2015-08-16 21:56] markstory commented on #7233
@lorenzo I can see how a sugar interface could help keep controller code succinct. I have concerns with defaulting to reading merged parameters though as it enables sloppy practices like POST requests with all the parameters in the query string.

[2015-08-16 22:00] markstory commented on #7212
Good point a config option with a compatible default value makes sense then.

[2015-08-16 22:52] markstory commented on #7229
That method could always return false if useTable is false.

[2015-08-17 02:33] markstory commented on #7205
Thanks for the help on this. #7239 is open now.

[2015-08-17 02:33] #7205 closed

[2015-08-17 08:28] tanuck commented on #7229
Maybe. I guess you wouldn't be able to specify `'on' => 'update'` in your validation ruleset if that was the case?

[2015-08-17 09:04] kongkannika commented on #7229
@tanuck actually, I just want to register new user in API service from phone. Accidentally, in the request their set the field "id" with number. I don't think why I use `'on' => 'update'` in this case.

And there are many other validations like `validateUserForgotPassword()`, `validateUserLoginFacebook()`, `validateProductUpdated()` and so on. If in request has field "id", it shows the errors abov

[2015-08-17 09:17] NaranjaWeb opened #7240 "Dashed Route, why not ctp files?"
Cake 3.1.0 beta2:
I followed your suggestion and installed Dashed Route for our standard routing rule.

After changed all the view template files into dasherized ones,
I found that the ctp files still should have to be underscored.

I traced the source and found the line which determines the file name.

3.1.0 beta2 \Cake\View\View::_getViewFileName line 986

	$name = $viewPath . $subDir . Inflecto

[2015-08-17 09:21] Phillaf opened #7241 "Impossible to override theme templates?"
Plugins are usually considered second-class citizens to our app. Yet themes override everything, and I believe it's currently impossible to override them from the app.

https://github.com/cakephp/cakephp/blob/master/src/View/View.php#L1075

The paths are resolved in this order

[code]

I think this path should be at the top of the list

[code]

I can open a pull request if it make sense.

[2015-08-17 11:39] Marlinc commented on #7240
I kind of like using underscores for template files more than using dashes

[2015-08-17 12:59] NaranjaWeb commented on #7240
Yes, this is the matter of preference.

I don't object underscore templates to be the cakePHP3's standard,

but it would be nice if I can choose the format.

Those who don't hesitate to use hyphens in the file name may feel
natural to put the template name same as its url.

Previous rule:
http://example.com/my_controller/my_action <-> my_action.ctp

Current rule:
http://example.com/my-controller/m

[2015-08-17 13:05] AD7six commented on #7240
I don't think that's a good idea.

Historically the templates matched the controller method name, and the controller method name matched the url action parameter by default.

So whereas before you'd have

    underscored -> underscored -> underscored

Now with dashed route you've got:

    dashed -> underscored -> underscored

(The Dashed route class _still_ produces an underscored `action` parame

[2015-08-17 13:53] ADmad commented on #7240
Nope, it produces `camelCased` action name. PSR2 doesn't like underscored method names.

[2015-08-17 13:58] ADmad commented on #7240
I don't see the need for changing or making the file name inflection configurable either.

At best we can just put that particular line which underscores  $name in a separate method and people can override if they like.

[2015-08-17 14:05] lorenzo commented on #7241
Themes are meant to override templates in the app, that is by design. If you need a different order it is easy to override `_paths` in your AppView class

[2015-08-17 14:28] NaranjaWeb commented on #7240
Overridable is fair enough.

All of actions in my project are camelCased to follow PSR-2 rules.
(By setting Custom Route)
dashed -> camelCase -> underscored

Thus, template names are no longer same as action names.
It is just the manner how we change, from camelCase to
snake_style or dash-style.

In my case, myAction becomes my-action in url,
but the template(content itself) name should be my_acti

[2015-08-17 14:57] ADmad commented on #7240
@NaranjaWeb Would you like to make a pull request with suggested change?

[2015-08-17 15:36] jmenges opened #7243 "Not possible to stop login redirect anymore"
Hello there,
i've been using cakephp for a while and have recently upgraded my platform the 3.* branch (Current version: 3.0.10).
Now i have run into a problem that is quite unexpected to me.

When i authenticate a user, e.g post to /users/login i always get 302 found redirects. Before i had a setup, where i had a ajax submit of my form to the login action and depending on the results i'd return s

[2015-08-17 15:40] ADmad commented on #7243
The AuthComponent does not have any automatic redirects anymore after authentication. The redirect is being done by your app code.

[2015-08-17 15:47] jmenges commented on #7243
Oh my. I'd been searching everywhere.
My Ldap Authenticator was redirecting on unauthenticated, even for ajax requests.
Thanks for the heads up!

[2015-08-17 15:47] #7243 closed

[2015-08-17 16:30] kostalihas opened #7244 "cakedc search Use AND/OR connector"
in my query request i have this surprise: LEFT JOIN dcsearch.competences AS Competence ON (CompetencesUser.competence_id = Competence.id) WHERE ((((Competence.competence LIKE '%First\%%') AND (Competence.competence LIKE '%Second\%%'))) OR (Competence.competence LIKE '%Third\%%')))

this is my model user.php

public $hasAndBelongsToMany =

array(
        'Competence' => array(
            'with' =>

[2015-08-17 17:01] NaranjaWeb commented on #7240
I am very happy that @ADmad suggested a pull request,

I tried a couple of hours and I feel at a loss.

I blame my ability.
To be very honest, making a pull request is a big challenge to me. Also, I have few experience writing tests. I am glad if someone supports my opinion and write some codes. Anyway, I will try. Thank you.

[2015-08-17 17:15] josegonzalez commented on #7244
As this is not an issue with the CakePHP core, I would file an issue with the plugin you are using [here](https://github.com/cakedc/search/issues).

[2015-08-17 17:15] #7244 closed

[2015-08-17 17:32] kostalihas commented on #7244
this is my project and my databases​
 DcSearch.rar
<https://drive.google.com/file/d/0Bz7Z2Rmt3ts5N3p2MGFsODg4WTQ/view?usp=drive_web>
​

2015-08-17 18:16 GMT+01:00 Jose Diaz-Gonzalez <notifications@github.com>:

[2015-08-17 17:54] kostalihas commented on #7244
i want search by competence java+oracle,sql
then the method of the request competence must know java is first oracle is
second and sql is thirth
thank you.

2015-08-17 18:31 GMT+01:00 kostali hassan <med.has.kostali@gmail.com>:

[2015-08-17 22:34] jeanbez opened #7246 "Paginate by virtual fields?"
Is it possible to paginate by a virtual field? If not, is this possible or planned?