[2016-02-05 17:34] #8181 closed

[2016-02-05 17:37] markstory commented on #8190
Not everyone uses CakePHP's migrations.

I would test backfills, but schema changes should be covered by the application/plugin's tests.

[2016-02-05 17:38] markstory commented on #8187
This gets me all the time. I'll take a look at I routinely have to do silly things like `mysql -u root -e 'drop database testdb; create database testdb;`

[2016-02-05 17:40] markstory commented on #8189
Not including a DOM ID is intentional. If you want auto-generated ID attributes you'll need to use input().

Adding IDs at this point could break applications by introducing duplicate ID attributes on the page.

[2016-02-05 17:42] markstory commented on #8177
I'll take a look.

[2016-02-05 18:06] xavier83ar commented on #8189
Yes, I imagined that was intentional, but don't you think that the use case I've put as an example is at least inconsistent and unintuitive? Also, right now, if you use the `input()` method more than once, with the same name, you'll get duplicate ids. If you said that talking about to change the api, you're right, and I know that we can change it just like that. But, I think the real problem here

[2016-02-05 19:49] ADmad commented on #7804
Closing as related PR was closed.

[2016-02-05 19:49] #7804 closed

[2016-02-05 19:51] ADmad commented on #7831
Closing, we now have a `2.next` branch.

[2016-02-05 19:51] #7831 closed

[2016-02-05 20:36] HavokInspiration commented on #8190
There's the possibility to test your migrations... in some way.
You can use the ``Migrations`` class which will allow you to run migrations in a non-shell environment. You can see [the doc for this class here](http://book.cakephp.org/3.0/en/migrations.html#running-migrations-in-a-non-shell-environment).

This should allow you to test that your migrations are correctly running in the various enviro

[2016-02-05 22:27] markstory commented on #8189
I think having `id` => true` is a reasonable backwards compatible way for people to opt into automatic ID generation.

[2016-02-05 22:54] HavokInspiration commented on #8187
Yeah, I usually have the problem, and it is bugging me as well.
My first hunch would be to wrap the ``FixtureManager::load()`` call from ``FixtureInjector::startTest()`` in a try/catch and find a way to wipe the db if an exception is caught. There might be a cleaner way to do it though.

[2016-02-06 01:01] jhli commented on #8189
Could we in any way make available 'FormHelper::domId()', too?

[2016-02-06 02:19] markstory commented on #8187
I remember in 2.x the fixture manager would remove drop tables and recreate them the first time they were used. This might have gotten lost when foreign key management was improved to fix ordering issues.

[2016-02-06 02:41] dereuromark commented on #7804
I still believe using tokenizeing this easily and safely possible.

[2016-02-06 02:47] markstory commented on #7857
This was fixed in 2.7.10. See #8125

[2016-02-06 02:47] #7857 closed

[2016-02-06 02:48] markstory commented on #1884
Closing as CacheHelper is deprecated and won't be improved any further.

[2016-02-06 02:48] #1884 closed

[2016-02-06 04:54] ADmad commented on #7804
@dereuromark Then feel free to follow up and make a PR.

[2016-02-06 09:13] HavokInspiration commented on #8187
Hm, I might have done it unintentionally indeed.
My memory might be failing me but I remember having the issue since I start contributing to the project.

However your solution is better.

I can give it a look if you want.

[2016-02-06 09:16] marc60 opened #8193 "Truncate text function / inside html tags"
I use the latest function truncate from cakephp.

This function truncate also words inside of html tags for example:

[code]

truncate to:

[code]

What I want is, skip all words inside of html tags

Is this possible?

[2016-02-06 11:08] rchavik commented on #7831
What's the difference between `2.x` and `2.next` ?

[2016-02-06 11:13] half2me commented on #8187
Wouldn't it be easier to simply wrap it in a transaction? If using try/catch, we could just abort the transaction on failure. Let the database do the cleanup for us?

[2016-02-06 11:42] ADmad commented on #8187
@half2me Not all db engines support transactions.

[2016-02-06 19:23] Zuluru commented on #7848
Okay, if I understand correctly, you're saying that this code *should* cause a black hole, because the `test` field is not submitted (as a result of JS disabling it), but I never explicitly call `unlockField()`?

    echo $this->Form->create(false);
    echo $this->Form->input('test', ['type' => 'text', 'id' => 'test', 'secure' => false]);
    echo $this->Html->scriptBlock('document.getElementById

[2016-02-06 19:49] markstory commented on #7831
2.x is the current stable 2.x release. While 2.next is the 'next' 2.x release.

[2016-02-06 19:58] markstory commented on #7848
No that will not be blackholed as the 'additional' field was not submitted. If that field was not disabled, the form would be blackholed.

[2016-02-06 19:59] markstory commented on #8193
No. That is not possible.

[2016-02-06 19:59] #8193 closed

[2016-02-06 19:59] markstory commented on #8187
MySQL for example does not support schema changes inside transactions.

[2016-02-06 20:01] markstory commented on #7933
I've still not had any luck in reproducing this. I tried an innerJoinWith() last night.

[2016-02-07 06:54] saeideng opened #8196 "No way to get a single transaction in HasMany::link(), unlink()"
hi
follow :https://github.com/cakephp/cakephp/pull/8194
for every $targetEntities entity, 1 transaction query per entity is run
for example:

[code]

but: must just 1 BEGIN & COMMIT runs for all query

[2016-02-07 11:39] asifameer commented on #8196
Yes it is a problem here.

[2016-02-07 15:19] mohsen-ekhtiari opened #8197 "View Caching system ignores spaces between non-ascii characters in the url"
The following urls are treated the same by view caching system:

http://example.com/search?name=%CE%B1+%CE%B2 (plus between alpha and beta)
http://example.com/search?name=%CE%B1%CE%B2 (no plus between alpha and beta)

As I examined the _beforeDispatch_ method of _CacheDispatcher_, I found the problem in the slug generated by Inflector::slug() method which converts both _+%_ and _%_ to underscore.

[2016-02-07 15:34] mohsen-ekhtiari commented on #8197
I've created the pull request, too.

[2016-02-07 16:04] AD7six commented on #8197
It would be more appropriate to e.g. [hash the url, instead of slug it](https://github.com/cakephp/cakephp/blob/2.next/lib/Cake/Routing/Filter/CacheDispatcher.php#L53) than modify `Inflector::slug` to do something it's not expected to do.

[2016-02-07 16:13] markstory commented on #8196
There does seem to be transactional() wrapper missing around the unlink and relink operations. The `unlink()` method also does not support doing all unlinks with a single transaction.

Does it make sense that in all of these methods the `$options['atomic']` key should enable doing all changes in a single operation?

[2016-02-07 16:18] mohsen-ekhtiari commented on #8197
But I think hashing the url makes it difficult to find and clear the cache.

[2016-02-07 16:37] markstory commented on #8197
But having spaces in filenames seems wrong for 'slugged' filenames.

[2016-02-07 16:45] mohsen-ekhtiari commented on #8197
It is not actually space character, it's a plus "+" in the url, which seperates words from each other.

[2016-02-07 16:47] AD7six commented on #8197
@mohsen-ekhtiari a plus is a url encode space.

[2016-02-07 16:54] mohsen-ekhtiari commented on #8197
@AD7six: Yes you're right. But the issue still exists. and I can't distinguish between words with non-ascii characters.

[2016-02-07 16:58] mohsen-ekhtiari commented on #8197
I think changing the plus(es) sign to underscore before passing it to Inflector::slug() is a good idea.

[2016-02-07 20:30] half2me opened #8199 "assertHeader is asserting equality instead of containment"
I am writing unit tests for my API which always returns json responses.
I use `$this->assertHeader('Content-Type', 'application/json');` to make sure that the appropriate json headers are set. However I have the charset=UTF8 header also set. The test fails with:
[code]

Instead of asserting if the two strings are equal, shouldn't it just assertContains?

[2016-02-07 20:40] dereuromark commented on #8199
Well, assertContains should return false positives for sth like

    application/js vs application/json

etc.
Might not be a valid example, but there might be some out there. Whatever you change it would also effect all header checks.

So it would maybe be better to split at `;` for `Content-Type`, making the first part the relevant comparison part here.

[2016-02-07 22:14] markstory commented on #8199
The behavior you're observing is intentional. We could add an `assertHeaderContains()` but I don't think changing `assertHeader()` is wise.

[2016-02-07 22:41] half2me commented on #8199
I understand. Still I think there could be a case where I would like to check if a key in the header has been set, without asserting the entite header. UTF-8 testing is out of the scope of the particular unit test I was running. I would simply like to test if the json key was set. Maybe we could have a function which can test for the presence of a key in the semicolon separated list of header key-

[2016-02-07 22:44] dereuromark commented on #8199
That is too specific for your headder, and will not fit to any other header types.
Adding `assertHeaderContains()` should suffice. Do you want to make a PR?

[2016-02-08 03:04] Dismounted opened #8201 "[2.8] Validator::uploadedFile() fails on key checking"
The fix in #4567 needs to also be backported to 2.8.

The validator expects the format to be:
[code]

While (at least in my installation on Ubuntu 14.04) provides:
[code]

Hence validation fails.

[2016-02-08 03:12] Dismounted commented on #8201
Also began to port the fix for this, but not sure where to branch from? 2.x doesn't seem to contain 2.8 code, and 2.next has already been bumped to `2.9.0-dev`?

[2016-02-08 05:02] markstory commented on #8201
The `2.x` branch should have 2.8.0 now. I think I forgot to push a branch last night. Sorry about that.

[2016-02-08 05:22] Dismounted commented on #8201
Do you want me do the port? Not sure if you're already working on it.

[2016-02-08 08:20] Kepro opened #8202 "Cell $this->template not working any more"
Hi cakephp team,
in older version like 3.0.x i have class

[code]

but in 3.2.x is not working any more they still want to load Load.ctp

[2016-02-08 08:29] ADmad commented on #8202
Duplicate of #8163 fixed in #8182. Wait for next 3.2 release.

[2016-02-08 08:29] #8202 closed

[2016-02-08 08:30] ADmad commented on #8202
Also use `$this->viewBuilder()->template()` instead of `$this->template`.

[2016-02-08 08:32] Kepro commented on #8202
@ADmad thanks!

[2016-02-08 08:55] AD7six commented on #8197
@mohsen-ekhtiari that might work in your given example but a better solution would be to (as I mentioned previously) simply not use `Inflector::slug`. That method is being used to get a filename-safe string - it is IMO a better idea to use a method specifically designed to take a string and make it a "safe" filename; the characters that are not safe in a url (a slug) are not the same characters th

[2016-02-08 10:22] half2me commented on #8199
@dereuromark alright, assertHeaderContains() sounds good. I'll submit a PR.

[2016-02-08 10:36] mohsen-ekhtiari commented on #8197
@AD7six You're right. It's generally better to use another method for generating filename-safe strings. That method may even decode the url in order to generate more readable filenames probably in unicode.

[2016-02-08 11:07] #8199 closed

[2016-02-08 12:53] HavokInspiration commented on #8076
PR #8204 opened.

[2016-02-08 12:53] #8076 closed

[2016-02-08 13:38] dereuromark commented on #5145
Due to accidental BC breaks ( https://github.com/cakephp/cakephp/pull/7883#issuecomment-181370693 ) I am still very much in favor of doing this the symfony (etc) way and suffix

- infoCommand: cake shellname info
- indexAction: /controller-name/index

Refs https://github.com/cakephp/cakephp/issues/4741 as mentioned above.

[2016-02-08 18:08] markstory commented on #8201
I can take care of it tonight.

[2016-02-08 19:56] jadb commented on #8189
Closing this, PR #8206 opened to address it.

[2016-02-08 19:56] #8189 closed

[2016-02-09 03:38] markstory commented on #8201
Pull request up now.

[2016-02-09 03:38] #8201 closed

[2016-02-09 09:23] lorenzo commented on #8112
Using the subquery strategy for the association may also help

[2016-02-09 11:38] ndm2 opened #8210 "How about a database specific connection interface?"
Whenever I'm working with connection objects retrieved from a table object, I need to type hint the returned object in order to get proper code completion, since `\Cake\Datasource\ConnectionInterface` doesn't include all the methods of the `\Cake\Database\Connection` class, which by default is being used for table objects.

The table class itself relies on the connection to be of type `\Cake\Datab

[2016-02-09 17:33] markstory commented on #8210
Any reason you don't hint on `Cake\Database\Connection`?

[2016-02-09 17:38] ndm2 commented on #8210
That's exaclty what I do, using an inline type hint, or a doc block hint for an overridden `connection()` method in a base table class, both of which I'd like to avoid if possible.

Or did you ment changing the typehint for `Table::connection()` to `Cake\Database\Connection`?

[2016-02-09 21:15] mvdriel opened #8225 "getMockForModel uses default datasource when cacheMethods are disabled"
When cacheMethods are disabled in CakePHP 2.7.* getMockForModel makes atleast once use of default datasource instead of test datasource.

[2016-02-09 21:31] lorenzo commented on #8210
in my mind, changing the typehint in `Table::connection` makes sense. Adding another interface is also a good option, if you want to take care of it :)

[2016-02-10 02:05] markstory commented on #8225
What is special about when cacheMethods is off?

[2016-02-10 07:49] stmeyer commented on #7765
Any news here?

[2016-02-10 08:13] tersmitten commented on #8225
If I'm correct (@mvdriel) `Model::_setSource` behaves differently

[2016-02-10 08:49] lorenzo commented on #7765
No, I don't have access to a SQL Server instance and will be difficult for me to change the code around. You seemed close to getting there... did you figure out how to run the select statement?

[2016-02-10 09:19] stmeyer commented on #7765
So, i found it:
[code]
this is working fine for me.

[2016-02-10 10:42] ndm2 commented on #8210
Sure, I can give it a shot :)

[2016-02-10 11:47] ndm2 commented on #8210
Despite also being kind of a fix, this would also be kind of a breaking change, signatures would change in any case, so I guess the earliest that this could target would be the next 3.x release? Or maybe even later?

[2016-02-10 11:52] lorenzo commented on #8210
This is one reason I don't like type hints a lot :(

I guess we will need to do it in a 3.x release and write the migration steps

[2016-02-10 13:16] incredibleX opened #8228 "Cake Bake Plugin gives controller not found even if controller is baked."

[2016-02-10 13:17] #8228 closed

[2016-02-10 13:20] incredibleX opened #8229 "Cake Bake Plugin gives controller not found even if controller is baked."
This is just because in cake php 3 the plugin named should always start with a capital letter, for example:
cake bake plugin contacts -> wrong
cake bake plugin Contacts is right
This is not written anywhere in the documentation, it took me 2 weeks to figure out whats wrong I'm doing.

[2016-02-10 13:23] lorenzo commented on #8229
Would you like to add that yourself to the docs?

[2016-02-10 13:24] ADmad commented on #8229
The examples in [manual](http://book.cakephp.org/3.0/en/plugins.html#creating-a-plugin-using-bake) already use CamelCased names.

[2016-02-10 13:25] incredibleX commented on #8229
Yes, can i do that?

[2016-02-10 13:26] incredibleX commented on #8229
Yeah but its not mentioned that it is not allowed to not to use smaller letters, I wasn't able to figure out what i'm doing wrong as i was following everything in the docs except i was using my name instead of ContactManager

[2016-02-10 13:28] ADmad commented on #8229
Well the manual would become pretty bloated if we go about mentioning various cases which don't work :)

[2016-02-10 13:34] dereuromark commented on #8229
But we could easily support underscored by inflecting the plugin input. I think we should do that as we do it for other cases like `cake PluginName.ShellName`.
It does not hurt and reduces friction.

[2016-02-10 13:36] ADmad commented on #8229
@dereuromark Sure, a patch for bake would be welcome.

[2016-02-10 13:43] incredibleX commented on #8229
Yeah you're right but don't you think the documentation should also take care of some pretty novice users? I've started learning it and right now I'm trying to figure out developing a theme and seriously the docx sucks. I can't figure out where to start first. There should also be a tutorial going through each phase developing a theme step by step.

[2016-02-10 13:47] dereuromark commented on #8229
@incredibleX What part of `bin/cake bake plugin ContactManager` is not understable?
It clearly shows to use CamelCase. Why are you trying to use something else than documented?

Please open a ticket or PR in https://github.com/cakephp/bake to also support under_scored via Inflection as mentioned, this should solve the issue and we can close this ticket here.

[2016-02-10 13:50] incredibleX commented on #8229
okay

[2016-02-10 14:01] #8229 closed

[2016-02-10 14:09] lorenzo commented on #7765
@stmeyer That's great news!

We could add that to another compiler class and inside the driver we could detect if replication is enabled. Depending on replication we can select one compiler or the other. What do you think?

[2016-02-10 14:10] lorenzo commented on #7765
@stmeyer Also, since we only need the primary key column of the table, we could spare creating a temporary table with all the columns and inserting all values. I guess that would make it a bit faster

[2016-02-10 14:59] stmeyer commented on #7765
@lorenzo Writing a different compilier sounds good to me. With the following SQL one can check if there are enabled trigger on a table:
[code]
Additionally I changed the method, so that only the primary key columns are added to the variable:
[code]

[2016-02-10 18:40] janriokrause commented on #7171
Thank you @chinpei215. Your plugin solves the problem. Unfortunately it produces syntax errors when using a table prefix given in `app/Config/database.php`. Maybe you could check that, please.

[2016-02-10 22:04] HavokInspiration commented on #8187
PR #8232 opened.

[2016-02-10 22:04] #8187 closed

[2016-02-11 05:06] markstory commented on #8177
@Smetje Thank you for the patch it was helpful. Closing now as a pull request is up.

[2016-02-11 05:06] #8177 closed

[2016-02-11 06:02] chinpei215 commented on #7171
@janriokrause Thank you very much for your feedback. I have just fixed the problem and created a new release. If you find anthoer problems, feel free to open issues in my repository. Thanks!

[2016-02-11 06:55] stmeyer commented on #7765
Instead of checking by query if there are enabled triggers to one table, it could be an option to make the compiler configurable. If no compiler is configurated, the standard compiler `\Cake\Database\SqlserverCompiler` is used. If the `\config\app.php` one can insert somethink like:
[code]
This should be faster than allways running the query, to check, if there are enabled triggers on the table.

[2016-02-11 10:20] dereuromark commented on #8229
I looked into it and the error message already says:

    <error>You must provide a plugin name in CamelCase format.</error>

As such I dont think there is any need for action here, either way.

But what's strange: It already camelizes in PluginTask:

    $plugin = $this->_camelize($name);

So it should have worked. And I tried myself and can confirm it works just fine:

    bin/cake bake plugin f

[2016-02-11 13:00] K4T opened #8234 "Wrong WHERE conditions in generated query (v3.1.10)"
Looks like wrong WHERE conditions are generated in query (v3.1.10).

Please look at this example below:

[code]

[code]

[code]

[code]

[2016-02-11 13:59] vmiloshev commented on #7628
I had the same issue, check if some of the columns a sql command or reserved word

[2016-02-11 17:13] jdiefenbach83 opened #8239 "Problems to write in Session after upgrade cakephp from 2.7.9 to 2.8.0"
Hello, I'm facing a problem to write stuff in Session. My project is set to save all session in database, through the lines below:
[code]
It was ran sessions.php in Schema folder. I'm not using Customized classes for holding sessions.

I was using 2.7.9 version before upgrade it to 2.8.0.

The erros has being shown:

Warning (2): Unknown: Failed to write session data (user). Please verify that the

[2016-02-11 17:38] skie commented on #7534
What if we implement CastExpression that will handle everything relatated to value::type cast syntax. In this case ORM provide way for developers to define type casts. CastExpression should accepts Expression and type.

[2016-02-11 18:56] markstory commented on #7534
A CastExpression sounds like a nice solution @skie

[2016-02-11 19:10] markstory commented on #8234
Have you tried appending your conditions with `andWhere()` and using an or expression inside the andWhere builder? The orWhere() method takes the current conditions and ORs them with the contained expressions. At the point your code is called the conditions are likely the IN clause, which is being combined with OR as requested.

[2016-02-11 19:54] rfenner commented on #8148
I wrote a plugin for mongo back when 3.x was still in beta when i first started using it. It was based essentially a port of the existing system minus the sql pieces that didn't seem to need to be in there.
I felt at the time that the driver and connections and types could probably be generalized a little more to remove the SQL specific stuff but I didn't want to modify the source at the time so I

[2016-02-11 20:09] rfenner opened #8240 "AuthComponent::identify() should allow ArrayObject"
I recently updated to using the new mongodb php driver and library. After the update I was getting auth failures and tracked the problem to the returned data mongodb library returns a BsonDocument which extends ArrayObject. I could get around the issue by casting the returned result to array. The problem is
in identify in Authcomponent.php at line 765 this code
`            if (!empty($result) &&

[2016-02-11 23:13] KidA78 opened #8243 "[Cake 2.4] Find List with CONCAT Returns Empty Data"
For the following statement:

[code]

The result set shows something like this
[code]

Upon investigation, the Model `findList` method does a `Hash::combine` to assemble the return array, however, the `valuePath` is generated incorrectly:

[code]

Because in the actual result set, this key is nested under `0`, and the valuePath would have to be something like `{n}.0.Concat..` etc

We can work arou

[2016-02-11 23:44] rfenner commented on #8240
Apparently chanfgin that line isn't the only thing needing to be done.
setUser has a type hint for array so I got a warning when I tried the above fix.
I also got a wanring in SessionStorage::write needing an array as well.

[2016-02-11 23:54] dereuromark commented on #8243
Did you try using the documented and recommended approach using virtual fields?
This approach should always work, as the field itself will be mapped to the right keys which are expected from find(list) to populate key/value pairs.

[2016-02-11 23:56] KidA78 commented on #8243
@dereuromark thanks for the reply, a virtual field on the Model is something that we would use, except in this case, the concat is for a specific case, where we are concatenating values between the main model's fields, and the data returned from the join in this specific query.

[2016-02-11 23:57] dereuromark commented on #8243
You can set virtual fields on the fly. But without that they end up being numeric indexed and not string field name indexed.

[2016-02-12 00:12] KidA78 commented on #8243
@dereuromark I did some more reading about virtualFields on the fly with joins, and the following DOES work with `find('list')`:

[code]

[2016-02-12 00:22] dereuromark commented on #8243
That is exactly how it is supposed to be done. So this is not a bug, as virtual fields like this are the only way really they can work in 2.x in combination with custom SQL snippets.

[2016-02-12 00:29] KidA78 commented on #8243
@dereuromark thanks.  It may be useful, to put something in the docs that in order to get a result from the `find('list')` function, something like this would return no values.  That wasn't clear.

Also the example I put above, involves the aliases of a join table.  It was a shot in the dark and I'm glad it worked.  Hopefully someone can come across this post and it can inform them as well.

Thank

[2016-02-12 00:29] #8243 closed

[2016-02-12 02:51] markstory commented on #8240
Except that all the `array_*` functions don't work on them.

[2016-02-12 03:25] #7889 closed

[2016-02-12 03:26] #6931 closed

[2016-02-12 03:27] #7621 closed

[2016-02-12 10:13] #8097 closed

[2016-02-12 14:38] kyleweishaupt opened #8246 "Missing virtual fields and getters on associated entities"
After upgrading my Cake 3.1.x project to 3.2.x, I can no longer get values besides (null) for virtual properties made through getter functions on my find() associated entities.

Here is a simple example of my problem using my `Patients` model finding their `Client` association.

Controller code:

[code]

Here is the virtual property I have set in my `Client` entity:

[code]

This is returning (nul

[2016-02-12 15:16] rfenner commented on #8240
Thats a good point. it's a shame that they haven't made array an alias for an ArrayObject had all of the array function be able to operate on the ArrayObject.

[2016-02-12 16:33] dakota commented on #8246
Ok, looks like what happened is that https://github.com/cakephp/cakephp/commit/6c5c6cb04ba59d2193b59e37298793e4b2013d83 started caching the accessor methods. However, it builds the cache using the underscored property names (Since that is the cakephp convention), using `$entity->list_id_name` will work in the mean time.

[2016-02-12 17:10] markstory commented on #8240
One day :rainbow:

[2016-02-12 17:15] dereuromark commented on #8240
Yes one day

[2016-02-12 17:15] markstory commented on #8246
I can take a look.

[2016-02-12 17:43] markstory commented on #8246
Pull request open now.

[2016-02-12 17:43] #8246 closed

[2016-02-12 20:58] ionas opened #8248 "3.2 Entity Virtual Fields missing in XmlView and JsonView"
Do I miss the point or why are virtual fields of cakephp3 entities missing in XmlViews and JsonViews?

I am using code like:
[code]

Entity:
[code]

Within some view template devices.ctp file
[code]
^... which works just fine.

However... the XML Result and JSON Result does not show the virtual entity field
<img width="764" alt="screen shot 2016-02-12 at 21 54 19" src="https://cloud.githubusercont

[2016-02-12 20:59] ionas commented on #8248
p.s.: is there a way to remove a field from external access (like XmlView) after transforming it within a virtual field? Like... simple unset is okay?

[2016-02-12 21:49] ionas commented on #8248
http://book.cakephp.org/3.0/en/orm/entities.html#exposing-virtual-properties thanks @Graziel on IRC.

[2016-02-12 21:49] #8248 closed

[2016-02-12 23:11] K4T commented on #8234
Hi, sorry @markstory, but could you provide me a sample code? I have tried all possible ways without success.

[2016-02-13 01:03] timhoeppner commented on #8148
@rfenner thanks for posting that, haven't had time to take a close look just yet but will soon.

[2016-02-13 01:06] ionas opened #8250 "3.2 __d() with {n} does not work where {n} is at the tail"
Broken, e.g. does not show the long title:
[code]

Working, e.g. does show the long title:
[code]
i.e. notice the space `'{0} '` (or any other character) behind {0} - only then the placeholder gets filled up.

Possibly a bug?

[2016-02-13 02:39] markstory commented on #8250
I will see if I can reproduce this.

[2016-02-13 03:08] markstory commented on #8250
I wasn't able to reproduce this. See 4d8a51f035becb5e289aaa5c4b2bec9b2867a4de. Could you help provide a failing test case/reproduction?

[2016-02-13 03:08] #8250 closed

[2016-02-13 03:47] Graziel opened #8251 "FrozenDate::createFromTimestamp doesnt use timezone correctly"
[code]
Gives:
[code]

but if im using
[code]
it gives correct result also while switching to \I18n\Date gives me

[code]

and again using
[code]

gives correct results

@markstory reminder "I bet I missed 'correcting' createFromTimestamp() then :)"

[2016-02-13 09:56] dhananjayve commented on #8234
try matching() instead of contain

[2016-02-13 10:51] chinpei215 commented on #7016
@Serginho For your information, I created a [plugin](https://github.com/chinpei215/cakephp-eager-loader) to solve this issue. I would be happy if you try it.

[2016-02-13 13:30] mirko-pagliai opened #8252 "Logs: request url and referer url"
I have noticed that in the logs:
1) the request url is relative, but not at the app;
2) the referer url is absolute.

An example. Suppose my app is `http://localhost/mysite`.
The request url will be something like `/mysite/mycontroller/myaction` and the referer url will be something like `http://localhost/mysite/referercontroller/refereraction`.

I believe that:
1) both should be relative to app u

[2016-02-13 13:41] ADmad commented on #8252
Referrer can be from external source so can't make it app relative nor in array syntax.

[2016-02-13 13:49] dereuromark commented on #8252
@mirko-pagliai We could maybe use [Request:.referer()](https://github.com/cakephp/cakephp/blob/master/src/Network/Request.php#L551) instead of env() that would fix it.

[2016-02-13 16:15] markstory commented on #8159
Pull request open now.

[2016-02-13 16:15] #8159 closed

[2016-02-13 16:18] markstory commented on #8251
I'll take a look. This might be an issue in cakephp/chronos.

[2016-02-13 16:30] K4T commented on #8234
Hi @dhananjayve, yes I tried matching() instead of contain() and SQL generated by matching() is ok. Also returned data was exactly what I wanted (even better than contain() because contain() also return rows without associated data - I do not want them in results). However there is one bad thing with results returned by matching() - order/format of returned rows in results array is wrong for me. L

[2016-02-13 16:50] markstory commented on #8234
The `matching()` method always includes the matched associations under the `_matchingData` key. I plan on looking into how you could generate the where clause you wanted this weekend.

[2016-02-13 18:14] markstory commented on #8251
This issue was moved to cakephp/chronos#81

[2016-02-13 18:14] #8251 closed

[2016-02-13 19:08] half2me opened #8254 "Strange error messages on matching() with HABTM"
I'm writing some Unit Tests
[code]
Websites HasAndBelongsToMany Products
Websites HasMany Reservations
Reservations HasMany Products
ProductInfo HasMany Products

I get the following error message on running the tests:

[code]

[2016-02-13 19:21] mirko-pagliai commented on #8252
Yes, I can do a pr, no problem.

Simply, I believe two things:
1) a relative url that is not relative to the app is simply useless. In this case, it appears to be related to the hostname. But what good is?
If I write a parser log or if I want to print my logs on screen, probably I'll want to use something like `TextHelper::autoLink()`. In this case, it does not work.
2) logs are often very long an

[2016-02-13 19:22] half2me commented on #8254
########## DEBUG ##########
object(App\Model\Table\WebsitesTable) {

	'registryAlias' => 'Websites',
	'table' => 'websites',
	'alias' => 'Websites',
	'entityClass' => 'App\Model\Entity\Website',
	'associations' => [
		(int) 0 => 'regions',
		(int) 1 => 'apimessages',
		(int) 2 => 'reservations',
		(int) 3 => 'products'
	],
	'behaviors' => [],
	'defaultConnection' => 'default',
	'connectionName' =>

[2016-02-13 22:05] markstory commented on #8254
You are calling matching() wrong. You have a wrapping array. You should use `matching('Products, function ($q) { .. })` instead.

[2016-02-13 22:05] #8254 closed

[2016-02-13 22:05] markstory commented on #8254
See the [API docs for Query::matching](http://api.cakephp.org/3.2/class-Cake.ORM.Query.html#_matching)

[2016-02-14 07:44] josegonzalez commented on #7166
Was this ever implemented? If not, it should be re-opened...

[2016-02-14 15:28] ionas opened #8259 "3.x (3.2.2) XmlView / Unauthenticated error"
# Summary
- If debug=true, unauthorized on XmlView fails to render.
- Works for default View / ctp. Works for JsonView.

Result when debug=false

[code]

## Example Requests

* If logged in all 3 requests render just fine
* If not logged in, however, only regular (standard view / ctp) and json render, xml throws an error
* URLs
  * http://devicesdbservices.dev/api/search/manufacturers
  * http://d

[2016-02-14 16:09] markstory commented on #8259
Why is the request being serialized? Is the error handler in the middle of serializing the stack trace?

[2016-02-14 16:16] ionas commented on #8259
I can't tell you, this is what happens if I request the URL via json and hit escape on authentication:
[code]

[2016-02-14 16:23] markstory commented on #8259
So yes - it is serializing a stack trace. Stack trace serialization has been removed in master because it causes problems with error response generation. Could you check `dev-master` and see if your problem is resolved?

[2016-02-14 16:35] saeideng commented on #8196
i think BelongsToMany::link()/unlink() just runs with a single transaction
in my code that work well

[2016-02-14 16:38] saeideng commented on #8196
why not use Table::save() ,Table::delete() for HasMany::link() or  unlink()?

[2016-02-14 16:42] dereuromark commented on #8259
Sounds like sth similar to https://github.com/cakephp/cakephp/pull/8131 - so should be resolved indeed.

[2016-02-14 16:43] ionas commented on #8259
:+1: @markstory that fixed it.
Will that be in 3.2.3.
❤

[2016-02-14 18:30] markstory commented on #8259
@ionas Yes it will be in 3.2.3.

[2016-02-14 18:36] markstory commented on #8196
@saeideng You're right it is only HasMany::link/unlink that are missing transactions.

Just using `save()` wouldn't let the old parent be updated in the same transaction.

[2016-02-14 21:11] saeideng commented on #8196
thanks @markstory
in `unlink()` should not be removed  its dependence?
now, It can not be removed
also 'Application Rules' no check

[2016-02-14 21:53] markstory commented on #8196
@saeideng I think of link() and unlink() are more advanced features. Much like `deleteAll()` and `updateAll()` advanced features can easily bypass the domain rules as they are intended to be used when normal record based updates are not efficient.

[2016-02-14 22:42] half2me commented on #8254
Thanks guys, sorry for the false issue. Is there any reason though why this uses different syntax? I mean instead of using `(['something' => function ($q) {}])` as we do for modifying queries, we use `('something', ($q) {})` Is there some reason for this? If not, wouldn't it be better to use one kind of notation/syntax for these kind of overrides?

[2016-02-14 23:09] half2me commented on #8254
@markstory I changed it, that part is working, but the query seems to be generating bad SQL:
ProductInfo.sku is selected, but the table is never JOINed... :(
[code]
And this is giving me:
[code]
My custom finder summarized is just:
[code]

[2016-02-15 00:57] jhonnynho opened #8261 "CakePHP ErrorHandler error"
I changue the cakePhp aplication to other server, and when I open the aplication in a browser set me a 500 error.

This in the log file

[code]

Any idea where I can change the name of folder?

Thanks.

[2016-02-15 03:42] biesbjerg commented on #8261
My guess is you need to clear the files in APP/tmp/*.

[2016-02-15 03:56] ADmad commented on #8261
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2016-02-15 03:56] #8261 closed

[2016-02-15 08:03] dhananjayve commented on #8234
try this
`$query = $modelA
  ->find()
  ->contain(
      'ModelB', function ($q) use ($subscriptions) {
          foreach ($subscriptions as $subscription) {
              foreach ($subscription['abos'] as $period) {
                  $q->matching()
                       ->orWhere(function ($exp, $q) use ($subscription, $period) {
                      return $exp
                          ->gte(

[2016-02-15 09:02] lorenzo commented on #8254
You cannot use `contain()` inside `matching()`

[2016-02-15 11:27] half2me commented on #8254
@lorenzo I tried adding it outside of matching as well. It still gives the same result

[2016-02-15 12:19] markstory commented on #8254
Depending on the associations you won't get a join. HasMany and BelongsToMany never generate joins when using contain().

[2016-02-15 12:20] markstory commented on #8254
@half2me The main reason that matching and contain have different syntax is that you generally only use one association in matching() but contain() many.

[2016-02-15 12:27] markstory commented on #8234
I had to use different model names, and conditions, but the following:

[code]

Results in SQL that gets what I think you're looking for:

[code]

[2016-02-15 12:27] #8234 closed

[2016-02-15 13:37] half2me commented on #8254
@markstory, then how do I get the ProduktInfo.sku field into the resultset?

[2016-02-15 14:23] mvdriel commented on #8225
It is not totally clear to me what is going wrong, but when I disable cacheMethods the following code in UserTest with autoFixtures disabled fails (and succeeds when cacheMethods is enabled):

[code]

with the following error:

`MissingTableException: Table users for model User was not found in datasource test.`

[2016-02-15 16:55] half2me commented on #8254
I need a query like the one I wrote. How can I change it to get the required fields into the result-set?

[2016-02-15 16:59] jadb commented on #7765
Closing, PR #8263 now opened.

[2016-02-15 16:59] #7765 closed

[2016-02-15 17:15] markstory commented on #8254
How is ProductInfo associated to the other models?

[2016-02-15 17:37] markstory commented on #7644
Pull request open now.

[2016-02-15 17:37] #7644 closed

[2016-02-15 18:09] lorenzo commented on #8240
Maybe we could remove the typehint for setUser()

If people wants so badly to have objects in the session we could just allow it.

[2016-02-15 21:20] markstory commented on #8240
@lorenzo I'm fine with that.

[2016-02-15 21:27] sdustinh opened #8264 "Tree behavior doesn't calculate lft/rght correctly on creation"
All of this is done with classes generated by `bake`. I thought may be it was something I had configured incorrectly but I have been able to replicate it with straight generated classes as well. Here is the setup...

[code]

[code]

[code]

[code]

There is a key overlap with the "Switch" and "Uplink"  records. I have also tried to fix this by using a transaction but it does the same thing. Runnin

[2016-02-15 22:08] markstory commented on #7933
Closing as without a way to reproduce this I don't think we can fix it.

[2016-02-15 22:08] #7933 closed

[2016-02-15 22:21] lorenzo commented on #8264
I believe this is an issue recently fixed in the master branch. Could you please verify?

[2016-02-15 22:44] sdustinh commented on #8264
It looks like this was fixed in #8245 and I just didn't find an issue for it. I pulled down 08e43f7cb8cd4ea37bf380da6b704c206fead6f0 to test it out and it seems to be fixed. Sorry for not pulling master first. I guess I just wasn't even paying attention. :smirk:

[2016-02-15 22:44] #8264 closed

[2016-02-15 22:45] lorenzo commented on #8160
Closing as we got no feedback after a couple weeks

[2016-02-16 01:08] challgren commented on #6051
This bug is also present in 2.8.0

[2016-02-16 01:10] challgren opened #8267 "Issue #6051 is present in CakePHP 2.8.0"
Existing issue #6051 is still present in CakePHP 2.8.0 branch

[2016-02-16 02:40] ADmad commented on #8267
Closing as related PR is opened.

[2016-02-16 02:40] #8267 closed

[2016-02-16 06:32] half2me commented on #8254
@markatory I wrote all the associations in the issue, a few lines up.

[2016-02-16 07:05] lukegithub23 commented on #8160
No feedback because nothing has changed from the above.

It's still a major problem - Cake 3 is essentially unusable with postgresql.

Sure I can turn debug off, but then I can debug while developing... with debug on it's painfully slow.

We might see if we can get some postgresql experts to optimise the query.

But if it's not being used in Cake2 is it absolutely necessary in Cake 3.x ? Maybe a c

[2016-02-16 07:19] ADmad commented on #8160
In the default skeleton [this](https://github.com/cakephp/app/blob/master/config/bootstrap.php#L81) line of code updates the model cache config duration to `1 year` when debug is off. So you can just move that line out of the `if` block to prevent model cache being regenerated even when debug is turned on.

[2016-02-16 07:33] lorenzo commented on #8264
Thanks for checking, and sorry for breaking the behavior :)

[2016-02-16 09:41] Sensetivity opened #8269 "CakePHP 3.1.10: ORM return different datetime in dependense from debug"
Hi all.
I've found an  interesting thing. When I disable debug ORM returns DATETIME field as string. When debug is enabled -  it returns DateTime object.

Other words, when you make site when debug enabled and you use something like this:

`$user->created->format('H:m:s'); `

Disabling debug mode causes  fatal error :"use property to non-object"

[2016-02-16 10:19] lorenzo commented on #8269
Can you provide a way to reproduce this issue? I just tried with a sample application and it worked as expected

[2016-02-16 15:32] sohail1050 opened #8270 "Authentication redirection"
I am using cakephp 2.7.9
I am using controller named 'DistributorController' with Auth component its working fine.
In AppController I am using

public $components = array(
    'Flash',
    'Session',
    'Auth' => array(
        'loginRedirect' => array('controller' => 'distributors', 'action' => 'index'),
        'logoutRedirect' => array('controller' => 'distributors', 'action' => 'login'),
		'a

[2016-02-16 15:53] ADmad commented on #8270
Use the 'loginAction' config key as stated in manual.

[2016-02-16 15:53] #8270 closed

[2016-02-16 19:27] markstory commented on #8254
Ok, so HasMany associations don't use joins unless they are used in matching() clause.

[2016-02-16 19:41] dcodadigital opened #8271 "Setting Cell Template Path Error"
I completed a plug-in sometime ago which has been working great until composer did a few updates today. It appears to me the view builder template path setting has to now be referenced in a different way? I did the usual Google searches, checked the cook book / API and searched the issues section on Github and I could not find anything related to this.

So to explain I have attached a screenshot w

[2016-02-16 19:51] half2me commented on #8254
@markstory So how can I write the equivalent of
"Select fields from a model MATCHING some other criteria on another mdoel. Select also fields from another third model associated to the first model"

For example: Select all articles and their associated authors, where the article has a comment by Dave.
How can I build this query?

[2016-02-16 20:13] ADmad commented on #8271
Sounds related to #8163, which was fixed in #8182. Are you sure you are using the latest 3.2.2 release?

[2016-02-16 20:23] skie opened #8272 "In cakephp 3.2 ORM\QueryTest::testNotMatchingNested fails on posgres 9.4"
Test case **ORM\QueryTest::testNotMatchingNested** is getting sql that considered as invalid at least for two databases: **postgres 9.4**, and **oracle 11g**.

Generated by test query looks like:

[code]

Problem located in ON clause for first join with articles.  tags table is not declared for this moment so more strict query analyzers are failing on such sort of query.

[code]

[2016-02-16 20:30] dcodadigital commented on #8271
Thanks for the response. Yeah the version I am using CakePHP v3.2.2

I spotted those tickets which do sound somewhat related to my issue.

So out of interested I rolled the CakePHP version back to v3.2.1 and I can confirm it does work in that version. It just seems to be an issue on the latest version if that makes sense?

[2016-02-16 20:38] lorenzo commented on #8254
Like this:

[code]

The matching is for the `from a model MATCHING some other criteria on another mdoel` part. The contain is for the `Select also fields from another third model associated to the first model`

[2016-02-16 20:45] ADmad commented on #8271
@HavokInspiration Any idea about this?

[2016-02-16 20:52] half2me commented on #8254
@lorenzo I just tried your code and I get:
PDOException: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'ProductInfo.sku' in 'field list'

SQL generated is:
[code]

ProductInfo table is never actually used :(

[2016-02-16 21:09] saeideng opened #8274 "Accessible Fields"
in my code

[code]

result

[code]

the `test` ignored
but `id` appear in result

i use Tags belong to many articles
i am not sure
but i think this is a bug

in other associations i dont see this bug

[2016-02-16 21:49] lorenzo commented on #8274
It would be useful to see the full entity class code and the full entity dump (including the classname at the start of the debug)

[2016-02-16 21:51] lorenzo commented on #8254
Where is `ProductInfo.sku` coming from? Did you select the field manually?

[2016-02-16 21:54] half2me commented on #8254
@lorenzo from my custom finder method:
[code]

[2016-02-16 21:56] lorenzo commented on #8254
yeah, don't do that. Add the selected fields for ProductInfo in the contain instead

[2016-02-16 21:57] lorenzo commented on #8254
You will also need to select the fields that are needed for matching ProductInfo and Product (the primary key and foreignKey)

[2016-02-16 22:00] half2me commented on #8254
@lorenzo is there a way to use the fields needed for matching Models without having them put into the resultset by implicitly calling select() on them? I would like to keep the result clean without having to filter out the extra data all the time...

[2016-02-16 22:05] lorenzo commented on #8254
No, not currently, you are currently required to select those fields.... You can use the $_hiddenFields property in your entity for automatically removing those fields

 That said, if I recall correctly, you can tell contain to use the `subquery` strategy and in that case having the foreign keys selected will not be a requirement... But I cannot recall if that is how it works

[2016-02-16 22:12] half2me commented on #8254
@lorenzo I see. Do you think selecting the foreign key fields is something which could be done automatically in a future release? For example when I call a contain() on a HABTM model. These autoselected fields could be added to the $_hiddenFields by default if autofields is disabled, and only removed, when the user calls a select() on the foreign key field.
Or is this not something that we want to

[2016-02-16 22:14] lorenzo commented on #8254
@half2me possibly. I have been opposed to it for some time since adding more fields can alter the meaning of a query for certain types of queries

[2016-02-17 00:44] xhs345 opened #8277 "[2.5.0] "Undefined index" in "Datasource/DboSource.php""
Hello,

The issue occurred to me when trying to update my application from version 2.4 to 2.5. It seems to be closely related to [https://github.com/cakephp/cakephp/issues/4246](issue 4246). The setup in my application is a bit different to the one in the linked issue, so I wasn't able to fix it yet. The application is a bit more complex so I tried cutting down the code as much as possible.

The e

[2016-02-17 02:18] markstory commented on #8277
2.5.0 is no longer maintained. Could you try upgrading to a current release and see if your issue is still present?

Composite primary keys are not well supported in 2.x. However, you might be able to set `$primaryKey = false` to avoid the notice error.

[2016-02-17 02:27] markstory commented on #8274
Looks like the Entity you're getting back has

[code]

Because you're using `id` when marshalling records you are going to get existing records from the database, instead of 'new' records.

[2016-02-17 02:30] markstory commented on #8271
I have a good idea on why this is failing.

[2016-02-17 02:42] markstory commented on #8271
Pull request up now.

[2016-02-17 02:42] #8271 closed

[2016-02-17 03:32] markstory commented on #8114
Pull request up now.

[2016-02-17 03:32] #8114 closed

[2016-02-17 06:58] sohail1050 commented on #8270
Thanks its working :)

[2016-02-17 12:46] kicaj opened #8281 "DataSource in CakePHP 2.8.0"
At line 371: https://github.com/cakephp/cakephp/blob/2.x/lib/Cake/Model/Datasource/DataSource.php#L371
sometimes I get error like this:
`Illegal offset type in isset or empty [APP\Vendor\cakephp\cakephp\lib\Cake\Model\Datasource\DataSource.php, line 371]`

Problem is when $assocData from one line before is empty.

I think `if` statement at line 371 shoud look like this:
`if (!empty($assocData) &&

[2016-02-17 16:12] saeideng commented on #8274
@lorenzo
Entities:
[code]
tables:
[code]
controller:
[code]
debug result:
[code]
query:
[code]
`'A new tag1'` & `'A new tag1'`  exist in database

[2016-02-17 16:17] saeideng commented on #8274
@markstory
in my code
[code]
accessible `id` is false
i dont change accessible property in other place
i dont know why `'*' => true` appear in debug result

[2016-02-17 16:35] xhs345 commented on #8277
I forgot to mention. I did actually upgrade all the way to 2.8 and then tried to fix all the issues that occurred. This one I couldn't, so I backtracked it to the specific upgrade 2.4->2.5. So yes, I'm testing with the latest 2.x release.

Regarding your advise: When I use `$primaryKey = false` then I get a different notice: `Undefined offset: 0`, which is still referencing the same part in the co

[2016-02-18 02:21] markstory commented on #8277
Hmm. Because you're loading records on a HasMany the datasources are going to really want a primary key. Composite keys will not fare well in 2.x unfortunately.

[2016-02-18 02:29] markstory commented on #8281
How can someone reproduce the issue you're having?

[2016-02-18 08:30] kicaj commented on #8281
Hmm, problem is when I work with Oracle driver (https://bitbucket.org/gregnuj/cakephp-2.x-oracle-datasource.git), with my a little modification to work with 2.8.

When line 371 show error, my data look like this:

$stack:
[code]
array_reverse($stack):
[code]

My relation is Product HABTM ProductCategory

I thinks the line 371, should look like:
`if (is_string($assocData) && !empty($assocData) && i

[2016-02-18 11:30] Zehir opened #8286 "Method integer does not exist"
Hello,

since last update or more, when I use the bake pages I get this error;

Cakephp Version: 3.2.2
PHP_VERSION:7.0.3-5+deb.sury.org~trusty+1

Stacktrace:
[code]

[2016-02-18 11:45] Zehir commented on #8286
I looking why I get this error and I think that this commit fix my problem;
https://github.com/cakephp/cakephp/commit/32ee1d72ed8d0170d3491ef9d0d9424817672d6a#diff-b13ca847d0ea573e5909a8284f726a1b

[2016-02-18 12:10] lorenzo commented on #8286
@Zehir Can you please share the validation code you have in your Table class?

[2016-02-18 12:12] Zehir commented on #8286
It's was generated by bake plugin
[code]

[2016-02-18 12:19] Zehir commented on #8286
I remove my bake template and now I get other rules;
[code]

[2016-02-18 12:27] lorenzo commented on #8286
Ok, so it seems like you need to update your bake template

[2016-02-18 12:29] rohan-mishra-sf commented on #7628
I am also having this issue. Attempting the save method on my REST API, the entity returned has no errors. When proceeding to save, it throws this error. Nothing gets captured in a try catch block either

[2016-02-18 12:39] Zehir commented on #8286
I just updated my bake template and now I dont have any problems.

Thank

[2016-02-18 12:39] #8286 closed

[2016-02-18 12:48] rohan-mishra-sf commented on #7628
Well, while debugging i observed that one of the request parameters in my JSON object had a key  named "long", when i change the key name to anything else, the save method works like a charm.

[2016-02-18 15:03] ayman-alkom opened #8287 "[3.x] paginate component friendly not Found error"
Hi all

**The case:** the link has `page=x` and the x page not found, [ the link may be old ]
**The result :** break the app by `Cake\Network\Exception\NotFoundException`
**Suggest:** process this case with just a `Flash` error message like the authentication error, at least in the production case where `debug=0`.

just suggestion

[2016-02-18 15:07] lorenzo commented on #8287
You can also catch the exception and do this in your code. I do prefer the exception as the user is requesting a URL that does not exist

[2016-02-18 18:03] xhs345 commented on #8277
I haven't finished testing yet, but I think I might have fixed it!

Here is what I did:

1. Defined a 'virtual' field `id` for the view by concatenating the composite keys
2. Manually set the correct foreignKey for the hasMany association of the view to StructureValidation

Thanks for the help, much appreciated!

[2016-02-18 18:03] #8277 closed

[2016-02-18 19:03] codercms opened #8289 "3.x Trailing slash at the end of URL"
How to force certain route without a trailing slash at the end correspond to 404 Not Found page?
The code below doesn't work
[code]

[2016-02-18 21:10] lorenzo commented on #8289
Use a DispatcherFilter where you check for a trailing slash and throw a NotFoundException

[2016-02-18 21:10] #8289 closed

[2016-02-18 21:11] lorenzo commented on #8289
Create a DispatcherFilter where you check for the trailing slash and throw a NotFoundException

[2016-02-18 22:18] jeffblack360 commented on #4589
@markstory Just curious: Why do you change the milestone when a patch has been supplied?

[2016-02-19 01:42] #4192 closed

[2016-02-19 01:45] markstory commented on #4589
@jeffblack360 That referenced commit never found its way into our repo. It only exists in @chinpei215's fork.

[2016-02-19 02:00] markstory commented on #8287
Catching the error in application code and doing the 'right' thing is something we leave up to developers as introducing default behavior means we have to take on more options/configuration to turn it off when people don't want it.

[2016-02-19 02:00] #8287 closed

[2016-02-19 02:09] chinpei215 commented on #4589
@jeffblack360 Sorry to confuse you. The patch can solve this issue, but I notice that it changes the `fields` option. That would break some applications that handle the beforeFind event and check the `fields` option. So I didn't make PR.

I came up with another fix at that time, but it is more complex. So I didn't make PR after all.
Now I have only the code snipet. I forgot where I used it though.

[2016-02-19 02:18] #8281 closed

[2016-02-19 02:18] markstory commented on #8281
Fixed in 7a59070

[2016-02-19 04:31] jeffblack360 commented on #4589
@chinpei215 Thanks for educating me! :+1:

[2016-02-19 05:29] chinpei215 commented on #4589
@jeffblack360 You are welcome.

[2016-02-19 09:08] codercms commented on #8289
@lorenzo but I want to make Router::url or $this-Url->build output like /simple/, not /simple. Or I should every time when I building route add trailing slash to the end manually?

[2016-02-19 09:13] lorenzo commented on #8289
You will need then a custom route class. This class will return the value of `parent::match()` after appending a trailing slash.

You can register the default route class to use using `Router:: defaultRouteClass()`

[2016-02-19 09:14] kicaj opened #8290 "Number currency input"
In CookBook about `Number::currency` (http://book.cakephp.org/2.0/en/core-libraries/helpers/number.html#NumberHelper::currency) is wrote two different information about first argument `$number`. First in arguments is `mixed`, but line below is `float`.

When I put in first param `Number::currency('12,34')` then I get `12,00`. Works fine with float.

This is only problem in documentation or maybe I

[2016-02-19 09:15] lorenzo commented on #8290
You should not input strings to that function. It is a problem with the docs... Would you like to submit a pull request to fix it?

[2016-02-19 09:42] kicaj commented on #8290
https://github.com/cakephp/docs/pull/3764

[2016-02-19 09:54] dereuromark commented on #8290
PR open.

[2016-02-19 09:54] #8290 closed

[2016-02-19 16:52] ADmad commented on #8240
I too am fine with removing the typehint but that could potentially throw errors for someone who has overridden `setUser()`. Are we ok with that in a bugfix release?

[2016-02-19 16:55] dereuromark commented on #8240
This should go into the next minor IMO.

[2016-02-19 17:03] lorenzo commented on #8240
I agree with @dereuromark

[2016-02-19 17:37] ADmad commented on #8240
Closing as related PR is opened.

[2016-02-19 17:37] #8240 closed

[2016-02-19 18:57] saeideng commented on #8274
you need other sample or information?
id or primary key should be appear in result even with setting false in  $_accessible property in belongsToMany association?

[2016-02-19 22:11] curtisgibby opened #8295 "Allow options to be passed into Auth finder methods"
Now that BaseAuthenticate's config option `scope` has been deprecated, there needs to be a way to pass options from the Controller into the Table's find method (whether that's the standard `all` or a custom finder method like the suggested `findAuth`). (In my case, I need to limit the User find conditions based on the `project_id` of the API token who's calling the UsersController::validate method

[2016-02-19 22:57] markstory commented on #8274
The id properties haven't changed on your entities though? I'm obviously missing something here though.

[2016-02-19 23:01] markstory commented on #8295
What kind of options do you need to from the controller into the authentication finder?

[2016-02-19 23:09] curtisgibby commented on #8295
In this case, I need to pass conditions, like the old `scope` provided. I have a `project_id` that the Users Table doesn't know about that needs to be added to the Query.

[2016-02-20 04:24] chrisjohnson opened #8296 "RedisEngine clearGroup doesn't seem to do anything related to clearing a group of keys"
Perhaps I am misunderstanding how cache engines are supposed to work. So let me start there.

I have a cache config created called 'short', it uses the Redis engine and there are no groups defined in the config.

I create a bunch of Cache entries as such: `Cache::write('foo_bar_123456', $data, 'short');`

I run `Cache::clearGroup('foo_bar', 'short');`, and I would expect it to do something roughly

[2016-02-20 04:31] chrisjohnson commented on #8296
It seems to me the body for clearGroup should actually be:

[code]

[2016-02-20 04:51] markstory commented on #8296
What you've described is not how groups work. You can only clear groups if you have groups configured. Using `keys` is not something I would be comfortable in adding either.

[2016-02-20 04:57] markstory commented on #8295
Thanks. Are those options the kind of things that could become finder options? For example:

[code]

[2016-02-20 04:57] chrisjohnson commented on #8296
Ok, can you explain a bit more on how the groups are meant to work then? Because I read through the entire RedisEngine file and the only other mention of group is in the function 'groups'. There is nothing else that reads, writes, or deletes based on the group in the file.

And even if we're pre-defining groups, I don't see how the current body of clearGroup actually does what it advertises, which

[2016-02-20 05:01] chrisjohnson commented on #8296
Also, according to the docs here: http://book.cakephp.org/2.0/en/core-libraries/caching.html#using-groups

It makes it sound as though the 'groups' setting is more about applying groups to an entire Cache config, not for declaring which groups the cache entries are allowed to exist in. In the example, it says:

[code]

So how do I configure a new group without applying it to every key entered thro

[2016-02-20 05:05] markstory commented on #8296
You don't.

Groups are intended to make clearing data _across_ multiple configurations easier. For example if you have multiple cache durations you can use groups to clear keys in both configurations without needing to know the configuration names ahead of time. For example a `short` cache with a 1 min duration, and a `long` cache with a 5 day duration, can share a group, which can then be 'invali

[2016-02-20 05:14] chrisjohnson commented on #8296
Got it. I still don't quite get the last bit, and it doesn't appear to actually work for me (I apply a group of 'foo' to my config 'short', I save a key with config 'short', then I call clearGroup('foo') and go to read the key again and it's still there), but I assume I just don't understand the system well enough to see why the key isn't invalidating when I call Cache::clearGroup

[2016-02-20 07:07] saeideng commented on #8274
no
i dont change anything
my code is very simple ,i just created a new entity and degug it
however my entity and table class created by bake shell :)

[2016-02-20 07:37] ADmad commented on #8295
`PaginatorComponent` uses the finder name as key like `'finder' => ['author' => ['author_id' => 1]]` for [finder options](https://github.com/cakephp/cakephp/blob/master/tests/TestCase/Controller/Component/PaginatorComponentTest.php#L160). So would be better to use similar to `AuthComponent` too for consistency.

[2016-02-20 10:54] dereuromark commented on #4589
@chinpei215 Does the patch have any side-effects or failing tests?
Because if not, this is a valid solution to the issue IMO, as complex as it may be, current functionality is broken without it from what I understand.

[2016-02-20 12:41] chinpei215 commented on #4589
@dereuromark If I remember correctly, both patches would pass the test. But the second patch is also not good for the following reasons:

1. Not a perfect fix. If the `joins` option is specified, it is difficult to guess whether the field is virtual or not (because users can specify arbitrary aliases of the tables). Then it doesn't contain virtual fields.
2. Has a big effect because the patch is f

[2016-02-20 15:10] curtisgibby commented on #8295
I had not heard of the `PaginatorComponent` custom finder options that @ADmad referenced, but  :+1: for consistency. His additions to BaseAuthenticate work basically exactly how I would have imagined.

[2016-02-20 15:30] markstory commented on #8295
@ADmad I like a consistent solution :+1:

[2016-02-20 15:30] markstory commented on #8295
Closing as there is an open pull request.

[2016-02-20 15:30] #8295 closed

[2016-02-20 15:37] ADmad commented on #8295
Some say I might have psychic abilities :stuck_out_tongue:

[2016-02-20 16:16] ionas commented on #8295
:+1: for CakePHPForce

[2016-02-20 17:41] dereuromark commented on #7724
This can probably be closed as a plugin solution is available and no one yet produced a PR for the core.

[2016-02-20 18:44] #7724 closed

[2016-02-20 22:11] QuanticPotato opened #8302 "Caching static assets"
#### Preamble
* [x] bug
* [x] feature-discussion (RFC)

## How to cache static assets
CakePHP Version: 2.2
Platform : Apache 2

Is it wanted that caching static assets (in the /webroot directory, not in plugins !) using CakePHP is impossible ?

Indeed, it seems that src/Routing/Filter/AssetFilter.php only handle assets of plugins :
[code]
This function can't handle files like /css/style.css ...

M

[2016-02-20 22:47] ADmad commented on #8302
The `AssetFilter` is only meant for serving plugin assets, that too primarily during development. When deploying your app to production, it's recommended to copy / symlink your assets into the webroot folder as stated in [manual](http://book.cakephp.org/3.0/en/deployment.html#improve-your-application-s-performance) so that they can be directly served by your webserver, since serving static assets

[2016-02-20 22:47] #8302 closed

[2016-02-21 10:36] lorenzo commented on #8296
Cake relies on redis for evicting the keys from memory. What clearGroup() guarantees is that the following reads will not return that value.

[2016-02-21 15:52] chrisjohnson commented on #8296
@lorenzo:

If I do:

[code]

I get the same result twice. That's why I'm confused because it doesn't appear to work as you are suggesting. However if I explicitly delete the key, that works fine, or if I wait 24 hours, that works fine too. Am I missing something?

[2016-02-21 20:39] lorenzo commented on #8296
That seems to be a bug, then

[2016-02-21 20:49] lorenzo commented on #8296
Ok, I figured it out. You need to specify the config name where you want to clear the groups:

[code]

[2016-02-21 20:49] #8296 closed

[2016-02-21 21:08] chrisjohnson commented on #8296
Ok, I promise I'm not trying to be difficult, just understand. But if that's true, then what Mark said about how groups behave is not. He suggests that groups are applied to all keys within a given cache, and that clearGroup is for mass-invalidating multiple caches at once, that match the specified group. Having to specify a specific cache would defeat that purpose, imo.

What you suggest makes it

[2016-02-21 21:13] lorenzo commented on #8296
No, it works as he suggested. It will invalidate the keys in the same server... do you have the 'default' cache config in redis as well?

[2016-02-21 21:27] chrisjohnson commented on #8296
No, default is not in redis.

Let me provide an example following that logic:

[code]

I still end up with the same two results both times. So then I change it to be: `Cache::clearGroup('mygroup', 'myconfig');`

And *only* the keys from myconfig (not myconfig2) are removed. Which suggests that I'm not able to use Cache::clearGroup for clearing keys across multiple caches. And really what benefit d

[2016-02-21 22:33] nilsonpena opened #8307 "Cakephp 3.2.2 Response not forcing browser to cache image"
In my menu, I have an action that shows the user´s avatar, that is outside my webroot.
usesrs/show-avatar
Everything works well, except the fact that the browser does not caches the image. I can see in firebug the the image is  always re-downloaded, every time a page get refreshed.

This is  my action:
[code]

bellow there is the response header that shows up in firebug:
Accept-Ranges	bytes
Cache-

[2016-02-21 22:58] lorenzo commented on #8296
In your specific case, the problem is the different prefixes. The groups will work only on the same "keyspace", that is, keys with the same prefix in the same server.

I understand what you are saying, and perhaps it may be better to open a new ticket and suggest how the groups could work better. I for one was surprised that groups were taking prefixes in consideration.

That said, it is also diff

[2016-02-21 22:59] lorenzo commented on #8307
What were the request headers?

[2016-02-21 23:05] nilsonpena commented on #8307
Here it is:

Accept	text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Encoding	gzip, deflate
Accept-Language	pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3
Cache-Control	max-age=0
Connection	keep-alive
Cookie	CAKEPHP=g860plbq1hohqr773eosoln516; toolbarDisplay=hide
Host	 192.168.88.10
User-Agent	Mozilla/5.0 (Windows NT 10.0; WOW64; rv:44.0) Gecko/20100101 Firefox/44.0

[2016-02-21 23:07] lorenzo commented on #8307
your request is missing a If-Modified-Since

[2016-02-21 23:26] chrisjohnson commented on #8296
Ok, I understand now. Group and prefix are linked, basically. If I change my test to use identical prefixes for both configs and use `clearGroup('mygroup', 'myconfig');` it deletes all entries from both configs. If I use `clear('myconfig'),` it only clears elements from myconfig, not myconfig2. So it does work after all, it's just not obvious that you have to ensure identical prefixes to both.

[2016-02-21 23:37] nilsonpena commented on #8307
Am I generating the links in the wrong way on the menu template?
[code]

[2016-02-21 23:52] nilsonpena commented on #8307
But if I use Chrome, I can see the if-Modified-Since

Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding:gzip, deflate, sdch
Accept-Language:pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4
Cache-Control:max-age=0
Connection:keep-alive
Cookie:CAKEPHP=4a1spmv65po4fude0uad2qegu6
Host:192.168.88.10
If-Modified-Since:Sun, 21 Feb 2016 23:49:56 GMT
Upgrade-Insecure-Requ

[2016-02-22 01:49] anyway111 opened #8308 "Should update comment of method find() in Model"
I see the comment of method find() in Model as bellow.<br>
I think it's should not give sample with recursive => 2, because in CakePHP only include recursive(-1,0,1)
Eg:

[code]

[2016-02-22 03:42] markstory commented on #8308
Fixed in ee2d222b85efe5c8de4c49a44b34661ff0bcb357

[2016-02-22 03:42] #8308 closed

[2016-02-22 04:08] danieldesbesel opened #8309 "[3.2] - Router and Session"
In cakePHP3.2 how can I identify whether a user is logged in router.php?
The goal is to leave www.mysite.com -> forwarding the user which not logged in to a login page. But if he is logged in the user is redirected to a page with news. But the URL remains the same, instead of having /login or /news ...
In Cake2 I used the following:
https://gist.github.com/anonymous/a12028c2d7876e13f9f7
If someone

[2016-02-22 06:03] markstory commented on #8309
You can't. Route connection doesn't have access to the request object. Instead, you could make your controller do different things based on whether the user is logged in or not.

[2016-02-22 06:03] #8309 closed

[2016-02-22 07:28] lorenzo commented on #8307
And what was the response for that chrome request?

[2016-02-22 08:10] danieldesbesel commented on #8309
But I do not see how give the same result.
Continue generating /login or /news

An example of what I want to accomplish: Visit www.facebook.com logged out and logged in.

[2016-02-22 08:20] ifunk opened #8311 "Expose $_className in Association class"
Feature request for public getter method to access protected `$_className` value in `Cake\ORM\Association` instances.

[2016-02-22 08:38] jhli commented on #8309
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2016-02-22 08:41] danieldesbesel commented on #8309
OK, sorry, you can close.

[2016-02-22 08:52] lorenzo commented on #8311
What is your use case?

You can get the full class name using `get_class($table->MyAssociation->target())`

[2016-02-22 09:41] ifunk commented on #8311
I am trying to get the unaliased table name from a plugin model.

Given my association
[code]

I want to extract the above className `Tank.Assets`
[code]

`get_class()` will result in `Tank\Model\Table\AssetsTable` which means I need to do some string manipulation to transform to `Tank.Assets`

[2016-02-22 09:45] lorenzo commented on #8311
The manipulation you need is `App::shortName($longClassName)`

[2016-02-22 09:50] ifunk commented on #8311
OK that's great to know! Thanks.

[2016-02-22 10:45] nilsonpena commented on #8307
This the chrome response:
HTTP/1.1 200 OK
Date: Sun, 21 Feb 2016 23:51:10 GMT
Server: Apache/2.2.15 (CentOS)
X-Powered-By: PHP/5.5.32
Expires: Tue, 31 May 2016 23:51:10 GMT
Cache-Control: public, max-age=244444
Pragma: no-cache
Accept-Ranges: bytes
Content-Length: 41164
Last-Modified: Sun, 21 Feb 2016 23:50:10 GMT
Connection: close
Content-Type: image/jpeg

[2016-02-22 11:01] nilsonpena commented on #8307
Now I get the 304 status!!
The problem was on:
[code]
I commented this line and put this one:
[code]
And it worked.
No matter the value I put at  '-1 min' place, the If-Modified-Since in request was allways greater than that! So the image was always downloaded with 200 status

[2016-02-22 11:41] lorenzo commented on #8307
Nice you figured it out :)

[2016-02-22 11:41] #8307 closed

[2016-02-22 15:27] stmeyer opened #8313 "Fixture could not be created in SQL Server when using schema"
#### Preamble
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

## Fixture could not be created in SQL Server when using schema
CakePHP Version: 3.2.3
Platform and Target: IIS 7.5, SQL Server 2014, PHP 5.6

### What you did
I wrote a fixture with a different schema than 'dbo':
[code]
The table fixture could not be created, due to schema. Writing a fixture, w

[2016-02-22 15:34] jeremyharris commented on #8313
@steefaan for future fun with PRs, you can create a new branch (say, `other-issue` from `master`) and PR that branch as a separate PR against `master`. Changes to `other-issue` branch will only show up to that PR, likewise for the other. Think of PRs like branches (because they are, essentially!).

Not saying you need to do that here, but just wanted to let you know! (Also, if your git skills aren

[2016-02-22 15:41] steefaan commented on #8313
@jeremyharris Why you mentoined me here? :)

[2016-02-22 15:45] jeremyharris commented on #8313
@steefaan because I'm a dummy that believed Github's autocomplete would be smarter than it is :P sorry man

[2016-02-22 16:03] curtisgibby commented on #8295
How awesome that I could open this issue on a Friday afternoon, and on Monday morning come into work to find that the code to resolve it is waiting for me in a new release. Excellent! (I know that things don't always work this fast, but kudos to @ADmad for jumping on this issue.)

[2016-02-22 16:18] damianoporta opened #8314 "Paginator COUNT() throw "Invalid parameter number..." exception"
#### Preamble
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

## DESCRIPTIVE TITLE HERE
CakePHP Version: 3.2.3
Platform and Target: Nginx 1.9.3, Mysql 5.6.28, PHP 5.6.11

### What you did

I have this custom finder:

[code]
The finder works good with the following tests:

[code]

[code]
No problem.

The problem is when i use this custom finder with the Pag

[2016-02-22 16:36] markstory commented on #8314
Looks like yet another query clone issue related to count queries.

[2016-02-22 16:37] markstory commented on #8309
@danieldesbesel For example couldn't a 'home' controller do different thing based on login state?

[2016-02-22 16:40] damianoporta commented on #8314
@markstory I do not know what the pagination is doing under the hood but the **->count()** is working good here. Only the count of the pagination has problem.

[2016-02-22 16:58] kyleweishaupt commented on #8246
Still having this issue as of 3.2.3 with the same code. The schema I'm forced to use isn't camel cased, but title cased. i.e. ClientId, PatientId, FirstName, etc...

[2016-02-22 18:36] lorenzo commented on #8314
@damianoporta can you please show the debug($query) before paginating it?

[2016-02-22 18:39] lorenzo commented on #8313
@stmeyer would you mind sending a pull request with your fix?

[2016-02-22 19:00] damianoporta commented on #8314
@lorenzo it is a big query, however this is the debug:

[code]

[2016-02-22 19:41] markstory commented on #8313
I can take care of a pull request for this. @stmeyer Mentioned he was a bit stuck as he's already made changes to his `master` branch that haven't been merged in.

[2016-02-22 19:45] markstory commented on #8311
Given that there are existing ways to do what you want, I'm not sure we need another way to do it.

[2016-02-22 22:41] burzum opened #8316 "I18n extract task doesn't catch namespaced domains"
#### Preamble
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

## I18n extract task doesn't catch namespaced domains
CakePHP Version: 3.2

### What you did
I have a translation like `__d('burzum/user_tools', 'message');`. This is *required* in this form because it's coming from a namespaced plugin. See my PR https://github.com/burzum/docs/commit/d5efab42cd9

[2016-02-22 22:58] ifunk commented on #8311
Yeh, I guess it works, but it's pretty verbose.

    $className = \Cake\Core\App::shortName(get_class($association->target()), 'Model/Table', 'Table');

vs

    $className = $association->className();

[2016-02-22 23:36] #7259 closed

[2016-02-23 02:16] xavier83ar commented on #7974
I've found a similar issue trying to test a controller action that should returns a file. After a little research I think that the problem is [here](https://github.com/cakephp/cakephp/blob/master/src/Network/Response.php#L1565).
It seems that in this line cakephp is closing buffers that it should not, I'm not sure about that, but if I remove that line, test runs as expected.

It seems that when ra

[2016-02-23 02:17] xavier83ar commented on #7974
Oh, I forgot to mention that this was for version 3.x.

[2016-02-23 02:59] markstory commented on #8311
@ifunk Would you expect that Association::className() returned the original input, or would it normalize to the short form?

[2016-02-23 03:17] ifunk commented on #8311
@markstory I think original input would make sense? Is it even possible to consistently normalize to short form?

[2016-02-23 04:11] davehensley opened #8319 "A fixture configured to use a "test_xxx" connection will actually connect to "xxx" instead."
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 1162121f1e8b8d0f1df0fb65ddf8ace5af8693d0 (3.1.5)
* Platform and Target: phpunit 3.7.28, Ubuntu Linux 14.04.3 LTS, phpunit 5.5.9-1ubuntu4.14 (cli)

### What you did
Hello, I've got 4 database connections defined in config/app.php: default, stats, test, and test_stats. Some fixtures don't hav

[2016-02-23 09:45] lorenzo commented on #8319
@ADmad do you remember the reason for this change?

[2016-02-23 11:03] ADmad commented on #8319
The previous code was also generating errors for someone. I'll try and find the reference.

[2016-02-23 11:38] ADmad commented on #8319
@lorenzo Refs #7693 and friendsofcake/crud#341  You yourself have confirmed on the crud's tracker that previous issue was a bug :)

[2016-02-23 12:21] huhwatnou opened #8322 "Email Address Validation issue and SmtpTransport issue"
This is a (multiple allowed):
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)
### Versions
- CakePHP Version: 2.8.0
- MTA used: Exim version 4.86 (currently latest version)
### Issues

Two related issues:
- CakePHP's email validation allows non-ASCII letter characters, e.g. á, in the  local part of the email address (by the \p{L} unicode category construct in https://github.com/cakephp/

[2016-02-23 12:38] dereuromark commented on #8322
I stated back then:

But maybe the core code should be as allowing as possible.

So in any case you can further validate and limit the allowed input here in your own application.
It might be difficult for the core itself to always be up to date to the current valid spectrum of email domains (e.g. every year there are tons of new TLDs) and local parts.
But if it currently allows too much even beyon

[2016-02-23 15:57] ypnos-web opened #8323 "Improve Cake\Validation\Validation::date()"
I am referring to the method in 3.2:
`public static function date($check, $format = 'ymd', $regex = null)`

Use case: I use a string form input for my dates so I can use bootstrap-datetimepicker.
`echo $this->Form->input("date", ['type' => 'text]);`

This results in a localized version of the date being inserted into the field by the ORM. Also the user expects a localized version and edits it acco

[2016-02-23 16:06] huhwatnou commented on #8322
Thank you @dereuromark for your reply, labeling and adding to the 2.8.1 milestone.

I agree that it might be hard to keep up with the changes in this domain. That said a practical solution is needed i.m.h.o. to prevent CakePHP applications to run into issues.
- Currently, because IDN domains are widely supported and becoming popular, it is important to support them.Thus the SmtpTransport should be

[2016-02-23 18:30] markstory commented on #8323
Having a localizedDate validator would be handy.

[2016-02-23 18:31] markstory commented on #8311
Returning the original input would be more transparent, so I like that. I think adding a method is reasonable. Do you want to put together a pull request for this?

[2016-02-23 19:07] mirko-pagliai opened #8325 "Validation::extension() with composed extensions"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2

The `Validation::extension()` method doesn't work with composed extensions.
Example:

	$validator->add('filename', ['extension' => [
		'rule'	 => ['extension', ['sql', 'sql.gz', 'sql.bz2']]
	]])

This fails with `sql.gz` or `sql.bz2` values.

This happens because the method uses the `p

[2016-02-23 19:19] thisispaulcyr opened #8326 "HTML: <section> used incorrectly in Template Layouts"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.1.11
* Platform and Target: Apache/2.4.6 (CentOS) PHP/5.4.16 PostgreSQL/9.4.5

### Problem
In the default Template Layout files, an HTML element is incorrectly used.

The `section` element is repeatedly used to organize various parts of the webpage into sections, such as navigation areas

[2016-02-23 19:35] mirko-pagliai commented on #8325
This works:

	->add('filename', 'validExtension', [
		'rule' => function ($value, $context) {
			$extensions = ['sql', 'sql.gz', 'sql.bz2'];

			$extensions = array_map(function($v) { return preg_quote($v, '/'); }, $extensions);

			return (bool) preg_match(sprintf('/\.(%s)$/i', implode('|', $extensions)), $value);
		}
	])

What do you think about?

[2016-02-23 19:39] ionas commented on #8326
:+1:

[2016-02-23 19:41] ionas commented on #8326
Note 1: this should probably go into https://github.com/cakephp/bake
Note 2: this will most likely be a non BC change - but I am fine doing it anyway - the templates still need *a lot* of non-BC work anyway.

[2016-02-23 19:44] thisispaulcyr commented on #8326
Sorry, I literally joined GitHub an hour ago. BC?

[2016-02-23 19:46] ionas commented on #8326
BC = Backwards compatible - here if someone re-styled the bake outputs and used `section {}` as a selector it is not backwards compatible. But as cakephp/cakephp is decoupled form cakephp/bake I don't see much of an issue, for now.

Please close and reopen this ticket in https://github.com/cakephp/bake, then add `Ref: https://github.com/cakephp/cakephp/issues/8326`

[2016-02-23 19:47] ionas commented on #8326
Wait... wrong... it is https://github.com/cakephp/app as you are talking about the layout.

[2016-02-23 20:42] Qrokqt commented on #8041
This seems like a defect as previously both @markstory [here](https://github.com/cakephp/cakephp/issues/1757#issuecomment-57561339) and @lorenzo [here](https://github.com/cakephp/cakephp/issues/4671#issuecomment-56265170) seem to have made the assumption that this could be done within the Type class. It also seems spatial fields are the perfect use case for the Type class.

[2016-02-23 20:50] lorenzo commented on #8041
It is a missing feature. I will be working on this soon

[2016-02-23 21:19] ifunk commented on #8311
Can do. Does it make sense for it to be a setter as well? If so, would you want it to clear `$_targetTable` when `$_className` is changed?

[2016-02-23 21:48] CodeBlastr opened #8327 "Error Message Discussion"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [x] feature-discussion (RFC)

* CakePHP Version: 3.2.
* Platform and Target: nginx, mysql.

### What you did
Tried to install a skeleton plugin using composer and get a hello world.  I added the correct info to the apps `composer.json`, and ran `composer update`.  The plugin downloads successfully into the vendor/[username][pluginname] di

[2016-02-23 22:40] hdogan commented on #8325
I think the current behaviour is correct. File extension of `sample.sql.gz` is just `gz`. It could be easily done by custom validator as you wrote, no core validator behaviour change needed imho.

[2016-02-23 23:00] lukegithub23 commented on #8160
Is the recommendation not to use Cake3 if you have postgresql databases?

[2016-02-23 23:00] markstory commented on #8326
This issue was moved to cakephp/app#340

[2016-02-23 23:00] #8326 closed

[2016-02-23 23:03] markstory commented on #8160
@lukegithub23 Or have someone who is more fluent in postgres help optimize the queries we're using. I know that our testsuite is not orders of magnitude slower on postgres, could this issue be related to specific versions of postgres?

[2016-02-23 23:04] markstory commented on #8311
A setter might be problematic, as the instances related to className() would need to change, and that gets more complicated with BelongsToMany associations.

[2016-02-23 23:05] markstory commented on #8325
Yeah the last extension is the actual 'extension'. Stuff in the middle is just for humans.

[2016-02-23 23:05] #8325 closed

[2016-02-23 23:07] markstory commented on #8327
We can't actually know if the file exists and the namespace is wrong. All we can know is that the class is missing. Perhaps we could update the MissingController error page to include some common namespace related gotchas?

[2016-02-23 23:14] markstory commented on #8322
Doing puny code conversion on hostnames before sending them across the SMTP socket seems pretty reasonable to me. I suspect removing non-ascii email addresses will cause issues for folks in europe/asia that rely on that behavior.

[2016-02-24 02:01] markstory commented on #8313
Pull request open.

[2016-02-24 02:01] #8313 closed

[2016-02-24 02:06] markstory commented on #8327
Taking a look at the error page, it includes a code sample of what your file should look like. Would a bulleted list of suggestions on how to fix the error have helped?

[2016-02-24 03:19] CodeBlastr commented on #8327
thinking out loud, something like...

[code]

I'm sure I'm not using the right syntax, hopefully it's clear that I'm just trying to communicate the concept.  I mean I'm assuming that since the namespace change is made inside of SkeletonController.php **only**, then it must be looking in that file even when the namespace is incorrect.

[2016-02-24 03:29] CodeBlastr commented on #8327
Being totally honest, as soon as I saw "MissingController", I immediately assumed that it was in fact "missing" and didn't read the rest.  (I've seen that error a million times and am probably mind-blind to it a bit).  Not saying I'm right but that was my actual behavior so to me it feels like it would be the typical reaction.

[2016-02-24 07:06] felixmaier1989 opened #8330 "Parsing headers in HttpSocketResponse"
I ran into an issue while parsing headers in HttpSocketResponse

* CakePHP Version: 2.6.10
* Platform and Target: Apache/2.2.29

Trying to parse HTTP response header (\HttpSocketResponse::_parseHeader):

[code]

results in this array:
`[
    'Date' => 'Wed, 24 Feb 2016 06:35:43 GMT',
    'Link' => 'X-Total-Count: 19',
]`
whereas I would have expected:
`[
    'Date' => 'Wed, 24 Feb 2016 06:35:43 GM

[2016-02-24 09:37] huhwatnou commented on #8322
Points taken @markstory.

So if everybody agrees, we are waiting for wide SMTPUTF8 support and meanwhile will be doing puny code conversion on domain names before sending them across the SMTP socket. Maybe add a remark/warning in the documentation on email address validation? (E.g.: it allows utf8 letters in the local part which may not be supported by SMTP servers, but you can always do your own

[2016-02-24 09:50] dereuromark commented on #8322
@huhwatnou Sounds like a good approach to me.

[2016-02-24 10:59] KillermenBE opened #8331 "RSSHelper elem-function bug"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: Local CakePHP (cake server), MariaDB-server

### What you did
I wan't to make a Media RSS-feed of contents of my database. I'm trying to make a media:content-element. It fails on `$this->Rss->elem('media:content',['title'=>...]);` When I add the array of attribu

[2016-02-24 11:19] codercms opened #8332 "3.2.x UTF-8 routing"
Hello, i have a following route
[code]
So, when i trying to access this URL - `/test/слог` or `/test/bla-blan-тест`
I get an error - `Error: A route matching "/test/%D1%81%D0%BB%D0%BE%D0%B3" could not be found.` or `Error: A route matching "/test/bla-bla-%D1%82%D0%B5%D1%81%D1%82" could not be found.`

So, maybe router should `urldecode` URL before parsing?
P.S. I am using DashedRoute

[2016-02-24 11:29] KillermenBE commented on #8331
Already trying to fix it myself, it has something to do with the ':' i'm using in the element <media:content/> and these lines of code:

[code]

[2016-02-24 11:36] dereuromark commented on #8331
The RSS helper has a few other minor deficiencies, as well, particularly around using namespaces.
You might want to look into the [RssView ](https://github.com/dereuromark/cakephp-feed) class if you need more advanced RSS feeds.
Not sure if the mentioned bug would also be present here, too, though.

[2016-02-24 11:37] KillermenBE commented on #8331
@dereuromark check updated comment above

[2016-02-24 11:41] dereuromark commented on #8331
You can open a PR with your suggested fix and a test case. That would be great.

[2016-02-24 11:47] eryw opened #8333 "Failed to update the database table if datetime type to be part of primary key"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: PHP 7 cli

### What you did
Create a model using `bake` base on test table
[code]
Then I added this to the test code

`App\Test\TestCase\Model\Table\TestsTableTest`
[code]
### Expected Behavior
Successfully passed test

### Actual Behavior
Test failed with the f

[2016-02-24 12:43] ndm2 commented on #8332
The URL already is being URL decoded, but it's being passed unencoded to the exception.

The actual problem is more likely your `А-я` range. Not sure whether and how PCRE is ment to support this when not using the `u` flag, but given that it works fine with the `u` flag, and that `A-я` for example seems to work (where `A` is ASCII), I'd guess that such ranges simply cannot be relied on when not us

[2016-02-24 12:49] davidyell opened #8334 "2.8 isUnique validation with beforeSave"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.8.0
* Platform and Target: Nginx, MySQL, Chrome

### What you did
I installed the [CakeDC/Utils](https://github.com/CakeDC/utils) plugin and implemented the SoftDelete behaviour. Then I added an `isUnique` validation rule to my `Content` model validation. Then I tried to save an item with

[2016-02-24 13:00] codercms commented on #8332
@ndm2
[code]
Returns - 1.

[2016-02-24 13:20] ndm2 commented on #8332
The final regex for your route will look like

[code]

The problem starts to appear when using start and ending delimiters, which again leads me to suspect an unicode problem, which might even depend on the PCRE version in use.

The following should fail

[code]

while this may work (ASCII A)

[code]

[2016-02-24 14:24] davidsteinsland opened #8336 "Backport CsrfComponent from 3.x"
This is a (multiple allowed):
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: Any
- Platform and Target: Irrelevant
### What you did
1. Open Chrome
2. Open preferences, `On startup` –> `Open a specific page or set of pages` -> `Set pages`
3. Add two (identical) URLs to a form with Security CSRF enabled
4. Close and re-launch Chrome
5. Focus is now on tab no. 1
6. Fill

[2016-02-24 14:30] markstory commented on #8336
You might want to consider not using one-time tokens, or using a session store that supports atomic writes. By using as multi-use CSRF token you'll avoid race conditions around session writes. It also seems like your users are getting multiple session tokens, and I don't think there is anything we can really do to make sure that never happens.

[2016-02-24 14:32] ADmad commented on #8336
AFAIK multiple tabs in a browser will end up using the same session even if you get 2 different session ids initially. Don't think there's anything we can do about that.

[2016-02-24 14:33] davidsteinsland commented on #8336
Perhaps you did not read close enough, but what happens is that:
- Chrome receives two different session IDs (since it opens two tabs)
- When you send the form (in tab no. 1), chrome suddenly *changes* the sessionID to whatever tab no. 2 got

Since CakePHP is solely relying on sessions for CSRF protection, what about a second (opt-able) approach?

See here: https://www.owasp.org/index.php/Cross-Si

[2016-02-24 14:34] markstory commented on #8327
@CodeBlastr The issue is that the dispatcher has no way of knowing where on the filesystem a controller might be. Only the autoloader knows that.

Given that we can't really find the file and give different errors based on the file's existence, if you had read the error page, is there something that could be improved on it?

[2016-02-24 14:36] markstory commented on #8336
@davidsteinsland No I understood that. I don't think there is a way for CakePHP to should solve a browser asking for multiple sessions and then only using one. Given that each page can only know about the session that it had when it was rendered, how would you propose we solve this problem?

[2016-02-24 14:36] Graziel opened #8337 "[3.2] po file parser throws fatal when dealing with translation comments"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: php7 nginx.

### What you did
got translation from .po file with this content:
[code]

### Expected Behavior
while the example isnt best case, po file parser should handle it like firstfile having msgctxt - note if i add it to firstfile or remove from secondfile

[2016-02-24 14:41] davidsteinsland commented on #8336
Yes, I don't believe this is a CakePHP bug per sè, but check out the link I referred to. If user chooses to, via settings, SecurityComponent should render a CAPTCHA field, check the `Origin` header or something.

One *could* also use another form for storage of the tokens (file, DB, keyvalue-db, ...), but this would cause tokens to be "shared" among the users (I'm of course assuming that tokens in

[2016-02-24 14:41] SplicePHP opened #8338 "No method available to check if new Configure engine file exists"
This is a (multiple allowed):
- [x] bug
- [x] enhancement
- [x] feature-discussion (RFC)
- CakePHP Version: 3.x.
- Platform and Target: Mamp, PHP 7
### What you did

I have a plugin that runs some installation functions.
This plugin needs to create a directives.json file in the app/config to keep track of what is installed and how global variables are configured. The problem with the Configure cla

[2016-02-24 14:42] CodeBlastr commented on #8327
I suppose you could generalize the name of the exception so that it's more inclusive of all the issues it covers.  Just thinking out loud.... ControllerException

[2016-02-24 14:48] davidsteinsland commented on #8336
... to add a third option:
Set the hidden form field to a HMAC message, with secret only known to server. If the server can verify the authenticity of the message, the request is accepted. No need to do stateful checking here, and the same approach is also widely used all over.

[2016-02-24 14:48] markstory commented on #8338
Having an exists method seems reasonable to me. We won't be able to update the interface for backwards compatibility issues, but we can add implementations to each of the core engines.

[2016-02-24 15:00] markstory commented on #8336
Generating captchas is non-trivial and not something we'll ever include in CakePHP. Your other suggestions are all feasible, but change the behavior and requirements around SecurityComponent. While I agree they would offer more flexibility, I would rather see us adopt the cookie based solution we used in CakePHP 3.x.

Backporting the CsrfComponent from 3.x is an option that would help solve this p

[2016-02-24 17:07] markstory commented on #8323
Closing as there is a pull request to add the discussed validator.

[2016-02-24 17:07] #8323 closed

[2016-02-24 17:08] markstory commented on #8327
We can't really change the exception class name as people could be depending on it. We can however change the contents of the error pages that is rendered.

[2016-02-24 17:10] markstory commented on #8331
Closing as a pull request is open now.

[2016-02-24 17:10] #8331 closed

[2016-02-24 17:44] garethellis36 opened #8341 "2.x model layer returning empty string for TINYINT(1) column with zero value"
This is a:
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.7.7
* Platform and Target: IIS, MySQL

### What you did
I have a `TINYINT(1)` column on a table as follows;
`'column_name' tinyint(1) NOT NULL DEFAULT '0',`

I have some code which pulls a record from the database and then checks it against the set of validation rules (we have had some weird edge-cases of i

[2016-02-24 17:51] CodeBlastr commented on #8327
Okay I'll just agree to disagree :100: .

[2016-02-24 17:52] #8327 closed

[2016-02-24 18:09] garethellis36 commented on #8341
Not a Cake bug, I managed to track it down to something weird that a previous developer had done in an afterFind callback :+1:

[2016-02-24 18:09] #8341 closed

[2016-02-24 18:39] dereuromark commented on #2108
Reopening due to discussion @ https://github.com/cakephp/cakephp/pull/8335

Voting to deprecate because the limitations outweigh the benefits, and a plugin solution seems totally sufficient.

[2016-02-24 19:04] pedrofs opened #8342 "Form->postLink with block option doesn't work from inside a Cell"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3

### What you did
I'm trying to use the `postLink` passing `'block' => true` from inside a `Cell` and fetching the block from outside it.

### Expected Behavior
Be able to fetch the block from outside the cell display.ctp

### Actual Behavior
I created a dummy test app for reproducing

[2016-02-24 19:14] pedrofs commented on #8342
FYI: If the fetch occurs inside the `display.ctp` from the cell it works.

[2016-02-24 19:23] markstory commented on #8332
Given that a bare PCRE pattern doesn't work, I don't think this issue is specifically caused by CakePHP.

[2016-02-24 19:24] markstory commented on #8327
Changing the exception class name would break backwards compatibility which is why I said we couldn't change it. I'm more than happy to update the error page contents/title but it sounds like you don't think that would have helped you.

[2016-02-24 19:33] ADmad commented on #8342
This is expected behavior. Cells are self contaibed and don't share context with outside template / layout.

[2016-02-24 19:33] #8342 closed

[2016-02-24 19:41] ionas commented on #8342
It should at least work for `Html::meta()`, `Html::script*()`, `Html::css()`

[2016-02-24 19:45] ADmad commented on #8342
The self contained behavior of cells won't change for any case as it they use their own View class instance.

[2016-02-24 19:50] ionas commented on #8342
Did-not-test™ but loading additional css, javascript and html-head ressources should be possible - is it not? Beyond that I think the isolation is a great thing.

[2016-02-24 19:51] ndm2 commented on #8332
@markstory Since it works fine with the `u` modifier, maybe the core should make use of it?

Putting aside whether the non-unicode mode behavior is correct or not, it would generally offer users more freedom in defining route element patterns.

There may also be further problems even when the pattern doesn't contain any unicode, for example when using `.` it seems to match only the first byte of a

[2016-02-24 19:59] codercms commented on #8332
@ndm2 Yes, it returns 1.

[2016-02-24 22:49] sukihub commented on #8105
@markstory thanks, very good points :-) fixed here https://github.com/sukihub/cakephp/commit/4ac6a375c04ef4b56cf9e9b7744456aed94b12d7

And simplified before/after filter controller API is here https://github.com/sukihub/cakephp/commit/4521a943ba78624cfd72c60e692c9af2bba7afff. Not tested yet though. I went for (Rails inspired) before action / after action names, but I have no problem sticking with

[2016-02-25 01:48] chinpei215 commented on #2108
@dereuromark As linked pages are not found, I cannot see the issue well. How difficult is it to fix in the `RssHelper`?

[2016-02-25 02:14] markstory commented on #8105
Looking good @sukihub  I don't think if/unless need any arguments. The callables can be defined with the correct scope imo.

[2016-02-25 02:17] markstory commented on #8334
Disabling callbacks can trigger other bugs and break code in existing apps. I think you're stuck living with this.

[2016-02-25 02:17] #8334 closed

[2016-02-25 02:18] markstory commented on #8332
@ndm2 Enabling unicode mode sounds reasonable.

[2016-02-25 02:27] markstory commented on #8332
Pull request up to add multibyte pattern support.

[2016-02-25 02:27] #8332 closed

[2016-02-25 02:28] #8311 closed

[2016-02-25 02:34] markstory commented on #8333
Pull request up now.

[2016-02-25 02:34] #8333 closed

[2016-02-25 03:27] markstory commented on #8330
Pull request up now.

[2016-02-25 03:27] #8330 closed

[2016-02-25 08:05] sukihub commented on #8105
Then I probably misunderstood you when you said:

The only way to get event as an argument is to pass all the arguments of event handler.

[2016-02-25 09:17] dereuromark commented on #2108
I do not know about how difficult it would be to fix, but for me a helper here does not make sense either way. And on top, it is a very old relict that does not fully cover the current use cases (as you can see from the latest PR, and there will be more coming in of course).
So I think, extracting that from the core code for 4.0 makes sense.
We can deprecate it in 3.3.

[2016-02-25 09:22] bancer opened #8346 "Caching in _readDataSource() - unexpected behavior"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.7.10
* Platform and Target: Apache, MySQL, Linux

### What you did
Caching as explained on http://api.cakephp.org/2.7/class-Model.html#__readDataSource

### Expected Behavior
Different queries should have different `$cacheName`.

### Actual Behavior
When a model has conditions array in as

[2016-02-25 09:34] davidyell commented on #8334
Fair enough. I'll keep this custom validation function saved somewhere for the future.

[2016-02-25 10:47] ravage84 commented on #8322
:+1:

[2016-02-25 12:03] lorenzo commented on #8346
Not sure I understand the problem. What is the error you are getting?

[2016-02-25 12:11] bancer commented on #8346
No error message but the result stored in cache is wrong. When `$this->MyModel->find('all');` is called first without binding model the result contains all records and it is written to the cache. If after that `find()` is called with bound model then no new SQL is executed and the cache value is used. So `'AnotherModel.my_column_id' => $value` condition is ignored.

[2016-02-25 13:03] lorenzo commented on #8346
Ok, so it seems more like a documentation issue. If you already have a working solution for the caching, please send a PR with the fix for the documentation block.

I would personally vote for removing that part of the docblock, as I think caching all queries is a bad idea

[2016-02-25 13:49] 2ndGAB opened #8348 "How to delete associated is not clear"
* [x] feature-discussion (RFC)
* [x] CakePHP Version: 3.x
* [x] Platform and Target: apache mySQL.

I spent few hours to try to understand why I couldn't delete correctly my entities (Thanks ndm, Jose)
I wanted to delete an entity and its 2 associated levels.
So I declared my hasOne/hasMany with `dependent` because the doc says:

Cool, but that doesn't work.

Thanks to ndm and jose, I understood t

[2016-02-25 16:51] saeideng commented on #8348
do you use `delete()` ?

[2016-02-25 16:52] markstory commented on #8348
Enabling `dependent` does delete associated rows. However, they are deleted with a single DELETE command. This means that row callbacks are _not_ fired. Enabling `cascadeCallbacks` triggers entity deletion that emits N DELETE commands, one for each associated record being deleted.

I'm not really clear on what the 'problem' here is. Did you find the documentation unclear? Or did you have an issue

[2016-02-25 16:53] markstory commented on #8105
Oh yeah. Getting the event object would be handy. :+1:

[2016-02-25 16:54] markstory commented on #2108
Deprecating the RssHelper sounds reasonable to me.

[2016-02-25 16:57] ravage84 commented on #2108
Side note: This issue needs a milestone adjustment, it should target a **2.9.0**, I guess.

[2016-02-25 17:13] Erwane opened #8349 "Resources routes name not available ?"
This is a (multiple allowed):
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: 3.2.3
- Platform and Target: apache 2.4 + php 5.6.11
### What you did

config/routes.php

[code]

Cake Command:

[code]

Template/Customers/index.ctp :

[code]
### Expected Behavior

the route display in var_dump :
/customers/index
### Actual Behavior

Error: A route matching "customers:inde

[2016-02-25 17:53] ionas opened #8350 "4.x Move Single/Tuple Attribute Validations from Table to Entity"
This is a (multiple allowed):
- [x] feature-discussion (RFC)
- CakePHP Version: 3.2.3
### What you did

Wanted to explain where to put validations and why.
### Expected Behavior

For the ORM model validations should only be in entities and model rules should only be in the table (latter already the case).
### Actual Behavior

For the ORM model validations are possible within the table class.
### S

[2016-02-25 18:09] dereuromark commented on #8350
For me Table validation is basically the "DB part" of the validation after basic validation is done and before they are actually patched into the entity.
I would not like to remove those.

[2016-02-25 18:43] 2ndGAB commented on #8348
As I explain in my post, the doc says:

So for me, **cascade** means that the operation will be done up to the last level.

So we should understand that if I declare:

    class SitemessagesTable extends Table {
	    public function initialize(array $config) {

		$this->hasMany('Sitemessagetitles', [
                    'dependent' => true,
		    ]);
        }

And then:

    class Sitemessagetitl

[2016-02-25 19:37] Erwane commented on #8349
Router::url() call RouteCollection::match().

if '_name' is set, match() check in RouteCollection::$_named array BUT RouteBuilder::resources() forgot to give a name to routes.

[code]
This last callback fail to fill correctly the RouteCollection::_named array().

[2016-02-25 19:53] Erwane commented on #8349
same thing with cakephp/cakephp (dev-master ca496e1)

[2016-02-25 21:17] markstory commented on #8346
The queries in both those cases are the 'same'. The cache key would also have to factor in the current state of associations to cover the scenario you're facing. Are you hoping to have the documentation updated to provide a more robust example?

[2016-02-25 22:48] markstory commented on #8350
If entities have validation rules, how do you plan on getting the table context/finders into the validation rules?

[2016-02-25 22:52] markstory commented on #8349
Resource routes have never connected a name. So I think this is more a missing feature vs. a broken existing feature.

Setting a name could overlap with other names defined in userland code. If there was an overlap the last route would win.

[2016-02-25 22:58] markstory commented on #8348
Ah ok. The docs on `dependent` could totally be clearer around the depth limitations they have. The goal of 'dependent' is to solve for the case where you don't have deep trees of associations that are dependent on each other.

Cascading through all associations would require knowing that there was deeper data to be deleted, which requires that data to be loaded. The current behavior of dependent

[2016-02-26 01:58] lukegithub23 commented on #8160
On investigating this more I do not think this is an optimisation issue. I think the query is straight up wrong.

As an example: comparing mysql vs postgresql database with exactly the same table/field structure and same constraints:

The MYSQL equivalent query returns 5 rows, the constraints related to the one table in question.

Postgresql returns over 6000 rows, it returns all constraints relat

[2016-02-26 02:04] markstory commented on #8160
Are we missing a condition on a join clause that is causing too many constraints to be included? I'm not well versed in  the postgres' information_schema.

[2016-02-26 03:10] lukegithub23 commented on #8160
We'll see what we can discover and report back.

[2016-02-26 04:42] markstory commented on #8160
@lukegithub23 Thank you :+1:

[2016-02-26 05:12] markstory commented on #5939
Closing as a Date type was added in 3.2.0

[2016-02-26 05:12] #5939 closed

[2016-02-26 05:14] markstory commented on #6426
Closing as this is implemented in 3.x and from the existing patches it is a fairly risky change in 2.x. I'm not sure the risk is worth the reward here.

[2016-02-26 05:14] #6426 closed

[2016-02-26 08:06] bancer commented on #8346
I fixed it with `$cacheName = md5(json_encode($query) . json_encode($this->hasOne) . json_encode($this->belongsTo));`. Perhaps updating the documentation would be enough.

[2016-02-26 08:18] 2ndGAB commented on #8348
But with `dependent `on first level, you mandatory load the second level and so, you know that there is a `dependent ` third level or no and so on...
I can understand that you can't remove an existing option but 'dependent' is really understandable and I wonder if its current behavior is not dangerous enough to not consider to change it. We currently don't ensure DB integrity because we let orphea

[2016-02-26 08:24] Erwane commented on #8349
Ok thanks.

The weird thing is the shell returning a route name for resources.

Until resources routes have a name, i think it's better to remove name from the shell to avoid misunderstandings.

[2016-02-26 09:30] btaens opened #8353 "CakePHP 3: Association should have Table mixin typehinted"
This is a (multiple allowed):
* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.2
* Platform and Target: Apache2, MySQL, Arch Linux

### What you did
I was trying to retrieve an associated table's alias field name through its aliasField() method.
Specifically, in `UsersTable.php`:
[code]

### Expected Behavior
The IDE I'm using (PHPStorm) should recognize that the

[2016-02-26 11:33] lorenzo commented on #8350
One downside of doing this change is that the validation builder functions will need to be static functions in the entity classes.

[2016-02-26 11:33] davidyell commented on #8350
:-1:

Perhaps I've misunderstood the ticket, but I don't see any benefits to making this change.

As an entity is an instance of data, I'd like the repository to know if it's able to be persisted. I don't understand why the object itself should know if it can be persisted to the repository or not.

I'm in favour of keeping entities as stupid as possible.

[2016-02-26 11:39] ionas commented on #8350
As far as I understood things I am not. The entity should know about field constraints.
This will also make it possible to easily create entities to pass around without utilizing the table at all. They could be validated as "being okay as themselves" - which would not mean that they would automatically fit into the schema (associations / foreign keys, unique, primary keys)

The table should know a

[2016-02-26 12:10] ravage84 commented on #8334
How about adding a parameter ``$noCallbacks`` to ``Model::isUnque()``?
http://api.cakephp.org/2.8/class-Model.html#_isUnique

This way one could decide for himself what's best in the current situation?

[2016-02-26 12:15] lorenzo commented on #8353
Do you want to send a pull request with this?

[2016-02-26 12:23] chinpei215 commented on #8350
@ionas Taking into consideration, perhaps, it is impossible in the Data Mapper pattern.
[code]

[2016-02-26 12:38] davidyell commented on #8334
That was my hope @ravage84

[2016-02-26 12:47] ionas commented on #8350
@chinpei215 it seems I fail to understand the implementation problem that @markstory, @lorenzo and you (seemingly) point at.

It should not and need not know about it?

What we call application rules are, AFAIU, referential integrity constraints: primary Keys, foreign Keys, association existence, unique constraints. These belong into the table and the entity should and can't know about these.

Wha

[2016-02-26 12:58] btaens commented on #8353
Alright, created the pull request.

[2016-02-26 13:01] #8353 closed

[2016-02-26 13:34] chinpei215 commented on #8350
@ionas

Probably. But I have not understood 3.x well yet. Maybe, I am wrong.
I don't know it is a correct usage, but perhaps, I can also use entities in the following way:
[code]
In this case, entities cannot have any validations.

[2016-02-26 13:38] ionas commented on #8350
Why not?

[2016-02-26 13:39] chinpei215 commented on #8350
@ionas The length of `username` field might be different users table and external_users, for example. Or I misunderstand something?

[2016-02-26 13:39] dereuromark commented on #8350
Entities are basically smarter arrays, DTOs (Data Transfer objects) of an always valid state (or at least with errors() then to report why they are not valid, if we can't support "always valid" ones).
Adding all this in them as proposed by you makes them more than DTOs and afaik couple them too much to the actual persistence layer, especially if you do SQL queries here for some validation rules.
T

[2016-02-26 13:41] ionas commented on #8350
@dereuromark If you need to do SQL queries for validation it is NOT validation in cakephp3 but instead application rules.

[2016-02-26 13:42] dereuromark commented on #8350
That is not always true, especially with the Cake way of how validation works this is not something to be easier done than said.

[2016-02-26 13:42] ionas commented on #8350
@chinpei215 yes, but the length definition in the entity takes precedence and if stuff does not fit in it should throw an exception / crash.

[2016-02-26 13:42] ionas commented on #8350
@dereuromark Is that not? I am on IRC for that.

[2016-02-26 14:10] ionas commented on #8350
This may also be relevant as a reference for giving control to "how far" validations will run:
http://auraphp.com/framework/1.x/en/filter/

[2016-02-26 14:37] halhead opened #8356 "Inflector::classify singularizes the input string"
This is a bug

* CakePHP Version: 3.1
* Platform and Target: N/A

### What you did
echo Inflector::classify('user_profile_settings');

### Expected Behavior
Expected to see 'UserProfileSettings' aas in the docs (http://book.cakephp.org/3.0/en/core-libraries/inflector.html#Cake\Utility\Inflector::classify)

### Actual Behavior
Output was 'UserProfileSetting'

Should the result be singular or plural

[2016-02-26 14:41] K4T opened #8357 "Add flag which allow to turn off escaping in input labels"
Hi,

now there is no easy way to create form with checkbox which contain label with link inside because label content is always escaped. For example let's say you want to create registration form with checkbox labeled with text: "I agree to <a href="/terms-of-service">the terms of service</a>". Almost every registration form have such a checkbox so there should be an easy way to create it in CakeP

[2016-02-26 15:05] chinpei215 commented on #8357
Sorry if I am wrong, but you need to specify `'text'` instead of `'value'`.
[code]

[2016-02-26 15:16] K4T commented on #8357
Thank you.

[2016-02-26 15:16] #8357 closed

[2016-02-26 15:44] halhead commented on #8356
Accepting that the result should be singular, I have proposed a change to the docs.

[2016-02-26 15:44] #8356 closed

[2016-02-26 17:03] markstory commented on #8334
@davidyell That would work. All it needs is a pull request.

[2016-02-26 17:07] markstory commented on #8349
Yes, the shell shows the generated names, but generated names are not referencable when generating URLs. This was a precaution as multiple routes can end up with the same generated name.

[2016-02-26 17:21] markstory commented on #8348
No we don't. The associations that support dependent deletes [simply emits a deleteAll](https://github.com/cakephp/cakephp/blob/master/src/ORM/Association/DependentDeleteTrait.php#L53-L54).

The issue with cascading down to lower levels, is that it can dramatically change the performance characteristics of an application. In order to cascade down each level, we first need to load all the data, and

[2016-02-26 17:31] 2ndGAB commented on #8348
Ok, why not, but the developper should guess the job impacted by cascading deletes and should know if it could result in thousands of individual deletes.
In that case, as the job MUST be done, he should mark the main entity as 'toBeDeleted' and do the real job next night.
But ok, just clarify the doc maybe.

[2016-02-26 17:39] markstory commented on #8346
@bancer Thanks! I've updated the docs.

[2016-02-26 17:39] #8346 closed

[2016-02-26 22:10] markstory commented on #8348
I don't think deferred jobs is within the ORM's scope, but I might be misunderstanding you.

[2016-02-27 03:05] ah8r opened #8360 "QueryInterface count() causes Database Error"
I believe this is a bug, introduced in either the 3.1.x or 3.2.x versions.

I'm using CakePHP 3.2.3, but previously this code worked on 3.0.x or 3.1.x (not entirely sure which version I was using).

I have a rather complex query which uses matching with multiple depths:

[code]

This worked perfectly before I upgraded to the latest version of CakePHP, however now the code returns the following err

[2016-02-27 03:18] markstory commented on #8360
Likely related to #8314

[2016-02-27 03:21] markstory commented on #8360
In your situation, what does `$query->sql()` generate? I'm not sure that nested `matching()` calls have worked properly ever. Have you tried `matching('Users.UserTypes', function ($q) { ... })` ? That is the recommended way to do matching on deeply nested associations.

[2016-02-27 03:33] markstory commented on #8337
The issue here is that only some of the matching `msgid` elements have a context. Because of how messages are stored internally if some message values have context, they all need context. While its possible to suppress the notice error, I don't think its possible to retain both the context-less and context-inclusive message without breaking changes.

[2016-02-27 03:39] markstory commented on #8337
Closing as there is a pull request up to fix the notice error.

[2016-02-27 03:39] #8337 closed

[2016-02-27 04:45] markstory commented on #8316
Pull request open now.

[2016-02-27 04:45] #8316 closed

[2016-02-27 04:49] daVinciWanaB opened #8364 "reading any negative number with Cache::read causes unserialize error"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.8.0
* Platform and Target: Redis via ObjectRocket

### What you did

[code]

### Expected Behavior
-1

### Actual Behavior

[code]

[2016-02-27 05:12] markstory commented on #8364
Pull requests for 3.x and 2.x up now.

[2016-02-27 05:12] #8364 closed

[2016-02-27 09:52] lorenzo commented on #8360
Yeah, nested matchings have a big number of limitations it is much better to use 'Table1.TAble2'

[2016-02-27 12:53] dashrat opened #8368 "Url validation returns false when emoji is used in url"
This is a (multiple allowed):
- [x] enhancement
- CakePHP Version: I am using 3.0.8 but I checked github for latest implementation in Validation.php and validation implementation is still same. So I think its not updated yet to accept emoji in valid url.
### What you did
## In controller I am using validator as :

[code]

---
### Expected Behavior

http://hashtrax.com/👹 should be a valid url in va

[2016-02-27 13:23] 2ndGAB commented on #8348
You are perfectly right, it's not what I wanted to say. I just mean that I think that ORM must ensure DB integrity but that should cause long job, particularly in the case we are talking about.

So, in that case, I just rely on the doc about `cascadeCallbacks`:

But basically, I just want to say that specifying `dependent` on a hasOne/hasMany association which is not took in account (i.e. on 2nd l

[2016-02-27 16:37] ah8r commented on #8360
@markstory The sql() function generates the following:

I've converted the code to use the recommended way of doing deeply nested associations and it seems to work.

[2016-02-27 21:11] markstory commented on #8368
Wouldn't the emoji be URL encoded, and then be able to pass validation?

[2016-02-27 21:12] markstory commented on #8360
@ah8r Are you ok with this being closed now that you have a working solution? nested matching() calls are very problematic and should be avoided.

[2016-02-27 21:15] markstory commented on #8348
I'm hesitant to change the semantics of existing options as historically that has resulted in a number of upset users and bug reports. I think the documentation updates that have been done are the best option we have outside of adding more options.

[2016-02-27 21:15] #8348 closed

[2016-02-27 23:11] ah8r commented on #8360
@markstory I'm happy with it being closed if it's expected behavior. I would suggest updating the documentation to make it clear that nested matching() is not recommended: http://book.cakephp.org/3.0/en/orm/query-builder.html#filtering-by-associated-data

The way the examples are written, I assumed that the $q variable could be used as a regular query builder.

[2016-02-27 23:18] ah8r commented on #8360
Just to make sure I'm certain, if I want to match on specific Users and UserTypes in the same query, I can just string together the matching() calls?

Like so:

[code]

[2016-02-27 23:55] markstory commented on #8360
It would be something like:

[code]

[2016-02-27 23:58] ah8r commented on #8360
Awesome, that's what I'm currently using and it appears to work. Thanks for the help.

[2016-02-28 00:01] #8360 closed

[2016-02-28 09:18] ndm2 commented on #8368
@markstory Not necessarily, that would only be realiably true for the current request URI. Data retrieved via GET/POST, or generally from external sources, doesn't necessarily have to be encoded.

[2016-02-28 12:05] Erwane commented on #8349
I understand the reason BUT i don't understand why displaying something wrong.
Resources routes have no name, shell should display nothing in name column (i can PR if sound good).

[2016-02-28 15:33] markstory commented on #8349
The route classes don't give you a way to determine if a route has a user supplied name though. The generated names are used to do internal bucketing to optimize route lookups when we're doing reverse routes.

I agree that having the RouteShell indicate whether or not a route has a generated name or not would be helpful. I'm also going to look into fixing resource routes so they are given names, a

[2016-02-28 17:09] Xymanek opened #8372 "Returning response on beforeFilter"
This is a (multiple allowed):
* [x] enhancement

* CakePHP Version: 3.1.5
* Platform and Target: apache + mysql

### What you did
My goal was simple - redirect user to another page from a `beforeFilter` in a component.
[code]

### Expected Behavior
As per docs, I expected that the page would instantly redirect with further code execution halted

### Actual Behavior
I kept getting errors from `befo

[2016-02-28 17:25] ADmad commented on #8372
I guess the docs could be made clearer. But returning a response instance shouldn't automatically stop event propagation. Doing so would prevent other listeners from for e.g. modifying redirect url.

[2016-02-28 19:18] Xymanek commented on #8372
The way it looked to me is the following:

- If I **return** anything, it means that I want the whole event to end up with that (eg. like in case with `false`)
- If I **need to work** (in other words, I'm not finished and other listeners should do something as well) with subject or the result, I should use `$event->subject()` or `$event->result` accordingly

The point here is that while Events sys

[2016-02-28 21:24] arneefreeman opened #8373 "Russian locale plural forms"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: Linux/Osx PHP 5.6, nginx, cake server

### What you did
If you set locale to Russian:

`ini_set('intl.default_locale', 'ru_RU');`

..and for some some reasons have not yet translated cake built-in strings (cake.po) or have not yet created cake.po file under src/

[2016-02-28 21:28] lorenzo commented on #8373
Do you have a translation file in russian for the Time class messages?

[2016-02-28 21:32] arneefreeman commented on #8373
Nope, composed new cakephp project and did what mentioned above.

[2016-02-28 22:28] lorenzo commented on #8372
What if you had another event adding CORS headers, or cache headers to the response. Would returning a response there mean that you don't want those headers added?

Whatever you return in the callback becomes the value in `$event->result`

[2016-02-28 23:49] donkeyx commented on #8160
I am working on the query now and just wanted to confirm what you needed/wanted from the postgresql database.

* Exactly what you are getting from the mysql query OR
* Just the items in the select list from your postgres version.

This will need to come from the catalog tables, as there is no way to do a valid join on the "referential_constraints" view. Anyway, if you respond with the answer to th

[2016-02-29 02:36] markstory commented on #8160
@donkeyx The postgres version needs to get the equivalent metadata to what it fetches today. It does not need to be the same as the MySQL version, only similar with the current data used in the postgres adapter.

[2016-02-29 02:38] markstory commented on #8372
@Xymanek Where would you have expected the additional information in the documentation? Would it have been under the events docs, or under the controller hook method documentation?

[2016-02-29 02:44] markstory commented on #8021
I wasn't able to reproduce this in 3.2.3. I did the following

1. Added a `starred BOOLEAN` column to my table.
2. Added `$validator->requirePresence('starred');` and `$validator->add('starred', 'bool', ['rule' => 'boolean']);` to my validator class.
3. Added an input for the boolean field.

The generated field did not have the required attribute set.

[2016-02-29 02:44] #8021 closed

[2016-02-29 09:00] Xymanek commented on #8372
@lorenzo My point is that `return false` and `return $response` behave differently

@markstory I think it's best to clarify the events docs and add a note in controller hook method documentation (returing a response doen't send it straight away, but allows all listeners to run) with link leading to event docs which explain it in more detail

[2016-02-29 20:59] odan opened #8374 "PDOStatement with default fetch mode"
* [ ] bug
* [x] enhancement
* [x] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: not relevant

### What you did
Getting results out of a query
[code]
### Expected Behavior

I need 'assoc' as default.
Passing 'assoc' all the time is redundant code and hard to change in the future.
I want to set a default fetch style for all statements (like in PDO).
http://php.net/manual/

[2016-03-01 01:37] chinpei215 opened #8377 "Cake\I18n\Time::timeAgoInWords() fails to format 'about a month ago' or 'in about a month'"
This is a bug.

* CakePHP Version: 3.2.3
* Platform and Target: PHP 5.6.15 x32, Windows10

### What you did
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

[2016-03-01 13:00] bancer opened #8378 "Inconsistent json in unit tests"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.7.10
* Platform and Target: Linux, MySQL

### What you did
[code]

### Expected Behavior
I would expect the test to pass.

### Actual Behavior
The test passes when unit tests are run from shell but fails when run from test.php.

[2016-03-01 13:52] dakota commented on #8378
What is the result you get when running through the web runner?

[2016-03-01 13:54] dereuromark commented on #8378
Sounds to me like in one case you have debug mode on and in the other not => different output based on that (human readable vs. compact).

[2016-03-01 14:03] bancer commented on #8378
Debug mode is different indeed. But the result of the controller action should not depend on that, shouldn't it?

[2016-03-01 14:07] ionas commented on #8259
The same error still appears in 3.2.3.
Going HTTP GET on .json triggers a login dialog, on .xml triggers `Warning (4096): Object of class Cake\Network\Request could not be converted to string [CORE/src/Utility/Xml.php, line 338]` etc (see above).

[2016-03-01 14:08] dereuromark commented on #8378
Debug is enviroment, you are responsible for making sure you are using the same env for both when running it from CLI and non CLI.

[2016-03-01 14:12] ADmad commented on #8378
With debug on the output of JsonView is pretty printed for better readability and easy debugging.

[2016-03-01 14:12] #8378 closed

[2016-03-01 14:13] bancer commented on #8378
That means that the same test will always fail when debug is on but will pass when debug is off. Sounds not too good.

[2016-03-01 14:17] dakota commented on #8378
@bancer That means that you need to update your test to not care about the result formatting. Maybe json_decode it as assert on that.

[2016-03-01 14:48] BassemN opened #8379 "Issue with blowfish after updating from 2.8.0 to 2.8.1"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.8.1.
* Platform and Target: Apache/2.4.18 (Ubuntu), MySQL 5.6.28, PHP Version 5.5.32

### What you did
[code]

### Expected Behavior
I expect to check the current password without any warning.

### Actual Behavior
I'm getting the below waning after updating to 2.8.1
`Warning (512): Invali

[2016-03-01 14:59] ionas opened #8380 "3.2.3 ORM Allow nesting of innerJoin/with() and not/Matching()"
This is a (multiple allowed):
* [x] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: Vagrant Server version: Apache/2.4.16 (Ubuntu) PHP 5.6.14-1+deb.sury.org~trusty+1 (cli)

### What you did
Wanted to re-use a query build in one table in another one.

### Expected Behavior
Being able to re-use the query across different tables via innerJoinWith

[2016-03-01 15:11] chinpei215 commented on #8377
Pull request up now.

[2016-03-01 15:11] #8377 closed

[2016-03-01 17:08] markstory commented on #8373
Number formatting is also missing plural forms. See cakephp/app#345

[2016-03-01 19:27] AnderWeb opened #8382 "3.2.3 Migrations: Crash with Phinx version 0.5.2"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3.
* Phinx 0.5.2 (updated with composer)

Trying `./bin/cake migrations status` (or any other migrations command) causes the following crash:
`PHP Fatal error:  Class Migrations\CakeAdapter contains 1 abstract method and must therefore be declared abstract or implement the remaining met

[2016-03-01 20:00] CodeBlastr commented on #8382
This is a duplicate of https://github.com/cakephp/migrations/issues/202

[2016-03-01 20:16] josegonzalez commented on #8382
Closing as duplicate (and in the wrong place). We'll try and get this fixed up soon!

[2016-03-01 20:16] #8382 closed

[2016-03-01 20:35] testaj opened #8385 "Multiple Select Check Boxes with Grouped Options"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.1.10
* Platform and Target: PHP 5.4.28/MySQL 5.5.48.

### What you did
First, I've successfully implemented a Multiple Select box with option groups based on providing an providing a group of options structured like this:

[code]

This is straight from the Cookbook at: http://book.cakephp

[2016-03-01 22:28] BassemN commented on #8379
@markstory I got It and sorry for reporting this as a bug into 2.8.1 release.
I got this warning if the stored password hash(sha1) into database is checked against blowfish hash. I think it shouldn't fire a warning and the result should be `true` or `false` if we are going to check the hashes if they are equal or not.

[2016-03-01 23:28] markstory commented on #8379
I disagree. If there wasn't an error figuring this out would have been very hard. This error represents developer error and that is something the framework can help with.

[2016-03-01 23:28] #8379 closed

[2016-03-01 23:31] markstory commented on #8380
Are you trying to inner join with a subquery? If what you were trying to do did work that's the query I would expect. Based on the complexity of findExport() I'm not sure that how well that would perform.

[2016-03-01 23:33] waspinator opened #8386 "ORM Slow - Cake 3.2.3 MySQL"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target:
Apache 2.4.12 (Win32)
PHP 5.6.11
MySQL 5.6.25

The database tables are the following sizes
- applications: 120 000 rows X 45 columns
- transactions: 500 000 rows X 13 columns
- letter_histories: 520 000 rows X 29 columns

### What you did
I'm trying to query the

[2016-03-01 23:34] markstory commented on #8259
@ionas Are you still getting a stack trace in your exception responses?

[2016-03-01 23:46] markstory commented on #8386
I don't think that is a 'fair' comparison. For example your basic PHP example is not doing the following:

* Value casting - All data out of PDO is strings. If you want booleans or integers you need to handle that yourself.
* Object hydration - If you want anything other than stdClass you'll need to implement that your self.
* Joined record creation - You're getting flat arrays. The ORM handles ne

[2016-03-01 23:57] markstory commented on #7747
Having different message strings for past/present tense sounds reasonable to me. Could we have different message lookup 'dictionaries' for past/future tense?

[2016-03-02 00:01] markstory commented on #8385
I don't see where in the docs it indicates that `checkbox=multiple` and grouped options would work. You're right that this feature has not been implemented.

[2016-03-02 00:03] markstory commented on #7862
Closing as I'm pretty sure this has been implemented.

[2016-03-02 00:03] #7862 closed

[2016-03-02 00:04] markstory commented on #7743
Closing as I think this was resolved in #7564

[2016-03-02 00:04] #7743 closed

[2016-03-02 00:09] testaj commented on #8385
Hi Mark, it's included in the docs at this link:

http://book.cakephp.org/3.0/en/views/helpers/form.html#creating-select-pickers

It's under the title Creating Select Pickers.  Here's what it says:

It's kind of pointless to argue bug vs enhancement.  It's a feature that would help some, and I noticed wasn't functioning as outlined in the docs.

Thanks for helping!

[2016-03-02 00:12] markstory commented on #8385
Interesting. I don't remember fieldset generation for multiple-checkboxes. I'll update the docs so they aren't misleading at the very least.

[2016-03-02 00:14] testaj commented on #8385
That's perfect, just hoping to reduce confusion for others and maybe get something in the pipeline.  Thanks again.

[2016-03-02 00:16] markstory commented on #8385
I did some digging into the 2.x code and the documented behavior _did_ work in 2.x. However, there isn't a single test documenting the behavior. When I re-wrote the FormHelper for 3.x I relied on the test cases which is why this use case was missed. I'll look into getting it fixed for 3.3

[2016-03-02 01:50] MarkusBauer opened #8387 "FormHelper::postLink's "block" option interferes with Security component"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.8.1 (also reproducible with 2.7.6, possibly down to 2.5)
* Platform and Target: Apache 2.4, PHP 7.0.3, Windows 10

### What I did
FormHelper's `postLink` method has the parameters `inline` and `block`, which allow to use this method within another form (without getting nested `<form>` ele

[2016-03-02 02:53] markstory commented on #8372
Docs pull request up now.

[2016-03-02 02:53] #8372 closed

[2016-03-02 04:09] waspinator commented on #8386
After looking into this some more, it seems there was an issue with the database. It was imported using a csv file and some int fields were set to text accidentally. After changing them to int the query performed normally.

[2016-03-02 04:09] #8386 closed

[2016-03-02 07:16] greew opened #8389 "Problem in HasMany::_unlink when using replace save strategy"
This is a:

* [x] bug
* [x] enhancement

* CakePHP Version:
  * Composer selected version: 3.1.x
  * Commit: 2930c3c0aeba6150cdbb67bf75bb31597efd614c
* Platform and Target:
  * System: OS X 10.11.3
  * PHP:
[code]
  * MySQL: `Server version: 5.7.10 Homebrew`

### What you did
The following is a very simplified version of our setup, but it should give you an idea of the bug:

I have the following t

[2016-03-02 07:57] greew commented on #8389
PS: I have tested it on both version 3.1.11 and 3.2.3.

[2016-03-02 08:08] lorenzo commented on #8389
Would you like to send a pull request with your proposed fix?

[2016-03-02 10:36] greew commented on #8389
Aaaand, there it is.. sorry for the confusion with lots of references above :)

[2016-03-02 10:41] dereuromark commented on #8389
PR is now open.

[2016-03-02 10:41] #8389 closed

[2016-03-02 13:05] ionas commented on #8380
There is no sub-querying going on here. Maybe - however, that's a practical interim solution!

What I am trying to do is re-using a query holding innerJoin/With() and not/Matching() calls in ManufacturersTable that (the query/calls) got previously defined in ProductsTable.

The joins should be resolved. Maybe @lorenzo can say more about it.

I think I can reduce the "foreign" query to this:

[code

[2016-03-02 13:18] ionas commented on #8259
# `'debug' => false`
Login attempt via .json AND .xml shows the login window
Hitting ESCAPE shows this JSON/XML:

JSON
[code]

XML
[code]

# `'debug' => true`

### Login attempt via .json:
<img width="1372" alt="screen shot 2016-03-02 at 14 08 37" src="https://cloud.githubusercontent.com/assets/106845/13461219/724f8390-e080-11e5-909b-fdf5e40df20b.png">

### Hit ESCAPE on login attempt via .json:
<

[2016-03-02 14:47] ionas commented on #8380
Edit: Added comments in the initial ticket declaring where code snippets reside to make the use case clearer.

[2016-03-02 15:16] ionas commented on #8380
# Interim solution:
[code]

# Concern
The only drawback is that WHERE pk IN (subquery-here) might be slower than using inner joins.

# Suggestion
Maybe for now we should add above practice to the docs? I can setup a PR to the docs, for that if you @markstory and/or @lorenzo agree.

[2016-03-02 17:34] markstory commented on #8380
This depends entirely on the database vendor, data being loaded, and query structure. So I don't think we should be making a recommendation other than "know what queries you're making"

[2016-03-02 17:35] markstory commented on #8380
Am I right in thinking you were expecting that the query returned by the innerJoinWith() query builder would be 'merged' into the original query? That is not how it works, nor should it imo.

[2016-03-02 17:40] jhli commented on #8380
This issue php-errors out in nesting (foreign) table class queries that utilize joins.

Am I unclear, still?

[2016-03-02 17:40] markstory commented on #8259
Ok. The trace output was supposed to have been removed in 3.2.2, but has snuck its way back in. As the current master branch shows the trace still being serialized. Looks like the changes in #8131 never found their way onto master. I'll get that fixed.

[2016-03-02 17:44] markstory commented on #8259
New pull request up.

[2016-03-02 17:44] #8259 closed

[2016-03-02 17:51] jhli commented on #8380
You are right. I spoke to @lorenzo on IRC yesterday, and in case I got that across to him correctly, his words where 'then we have a bug' and 'I may get to fixing that' (correct me if wrong).

I suggest that for the way I am doing things@above to use a subquery (for now only?) and want to document that to achieve Dont-repeat-yourself.

[2016-03-02 17:52] jhli commented on #8380
Is the docs thing good for you?

If you use a finder call nested within innerjoin in the same table class - should it recommend the same (=subquery)?

[2016-03-02 17:56] jhli commented on #8259
Thanks for takjng care <3.

[2016-03-02 20:26] qdkid opened #8395 "cakephp postgresql driver fail when adding index with table_prefix"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.6.4

### What you did
when table prefix is defined in database.php,  create index will fail because the postgresql driver only use the original table name without prefix.

### Expected Behavior
CREATE INDEX xxxx on {table_prefix}.{table_name} ....

### Actual Behavior
CREATE INDEX xxxx on

[2016-03-03 01:36] rchavik commented on #8395
I edited ticket to wrap for the diff chunk with ``` (triple quotes).

[2016-03-03 02:06] donkeyx commented on #8160
I have re-written the query to use the catalog tables and its very fast. It does not have the full names for constraint type etc.. as i was not sure if you do the conversion in the framework libs or the query, but just let me know either way. Also, I am still testing to be sure, but it seems ok so far:

`SELECT  c.conrelid::regclass::text AS table_name,
        c.contype AS constraint_type, --c =

[2016-03-03 02:19] markstory commented on #8160
We can do constraint action conversion in php code as the results are converted to arrays.

[2016-03-03 02:30] markstory commented on #8395
Can you try upgrading (temporarily) to 2.8.1 and see if that solves your issue?

[2016-03-03 03:14] markstory commented on #8112
I'm not able to reproduce this issue. The following test case passes. Am I missing something?

[code]

[2016-03-03 03:26] donkeyx commented on #8160
Coolies, so that should be good then and just needs a bit of testing. Do you need/want anything else form me or we we good?

[2016-03-03 07:53] chinpei215 opened #8397 "RFC: Stop using empty() as much as possible?"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [x] feature-discussion (RFC)

### What you did
I saw #8396 ([diff](https://github.com/cakephp/cakephp/pull/8396/files))

### Expected Behavior
The build should fail if an undefined value is used.

### Actual Behavior
The build passed.

### My Suggestion
I know Scrutinizer says that it's the best practice to use `empty($value)` instead of

[2016-03-03 07:55] chinpei215 commented on #8397
I totally mistake a title :D

[2016-03-03 07:57] dereuromark commented on #8397
I think you are right. That would help to prevent these hidden spelling issues.

[2016-03-03 08:10] Phillaf commented on #8397
:+1: Spotting these in phpunit is more robust than relying on scrutinizer.

[2016-03-03 08:10] jhli commented on #8397
Restrict emtpy to be used against nullish (is there something better) or array index not existing?

[2016-03-03 08:33] lorenzo commented on #8397
What to do with optional arguments/options? You you need to call `isset()` first, which is almost the same as calling `empty()`

[2016-03-03 08:36] dereuromark commented on #8397
I dont think he meant those cases, he only means the ones where we "know" that this variable or key must exist.

[2016-03-03 08:37] lorenzo commented on #8160
@donkeyx If you want to contribute the code as a pull request that would be appreciated :)

[2016-03-03 08:38] chinpei215 commented on #8397
@lorenzo That is the case we should use `empty()/isset()` as @dereuromark mentioned.

[2016-03-03 08:47] jhli commented on #8397
Can we formulate it positive; e.g use empty only on optional variables / keys? Is that it?

[2016-03-03 09:01] chinpei215 commented on #8397
@jhli Probably, but I might not understand small nuance :p
I mean we shouldn't use `empty()` if the expression has no possibility to raise any notices (except for user's mistake).

[2016-03-03 09:24] dereuromark commented on #8397
@chinpei215 We could start small PRs to fix the obvious ones and go from there.

[2016-03-03 09:50] chinpei215 commented on #8397
@dereuromark  OK. I would start to fix a typical example that using `empty()` against an existing property like a #8396. And note that I don't suggest to cause big changes in existing code. So I milestoned as Future :)

[2016-03-03 14:15] greew opened #8398 "Missing traverse option in UnaryExpression"
This is a (multiple allowed):
* [x] bug

* CakePHP Version: master

### What you did
Tried to traverse a `QueryExpression` that contained a `UnaryExpression`.

### Expected Behaviour
`UnaryExpression` values should've been traversed.

### Actual Behaviour
It didn't happen.

### Solution
Change `traverse` function in https://github.com/cakephp/cakephp/blob/master/src/Database/Expression/UnaryExpres

[2016-03-03 16:09] lorenzo commented on #8398
Yes, please

[2016-03-03 19:40] markstory commented on #8397
I'm :+1: for not using empty() on properties. Like others I think it is still necessary to use array keys.

[2016-03-03 19:41] markstory commented on #8398
Closing as a pull request is open now.

[2016-03-03 19:41] #8398 closed

[2016-03-03 20:40] HavokInspiration commented on #8397
I'm also ok on the idea. I remember a few case where using ``empty()`` caused troubles.

[2016-03-04 01:36] chinpei215 commented on #8397
Thank you for your comments, everyone.

I am guessing that everyone also ok for not using `empty()` in other typical cases. I discovered good examples in the `Cake\ORM\Entity` class.

1. Using `empty($var)` against a known variable - [line 66](https://github.com/cakephp/cakephp/blob/ad386871f27abcdc35e8d2b170637d01d4d790c2/src/ORM/Entity.php#L66)
The `$properties` will never be undefined because i

[2016-03-04 02:18] markstory commented on #8397
@chinpei215 Those look like good opportunities to not use empty().

[2016-03-04 02:34] markstory commented on #8373
Pull request up now.

[2016-03-04 02:34] #8373 closed

[2016-03-04 02:43] markstory commented on #8160
Closing as a pull request is open now.

[2016-03-04 02:43] #8160 closed

[2016-03-04 08:23] jacintoo commented on #7628
I have the same issue when i have the key "start_time", when i changed it to something else it worked.

[2016-03-04 09:53] Bahhous opened #8404 "corn jobs"
i need to create corn jobs for sending emails in an interval cakephp 3

[2016-03-04 11:00] ADmad commented on #8404
This is not a help forum. The ticket tracker is reserved for possible
bugs and feature enhancements to the CakePHP framework. If you are
looking for help on how to implement a feature or to better understand
how to use the framework correctly, please visit one of the following:

[The CakePHP Manual](http://book.cakephp.org)
[The CakePHP online API](http://api.cakephp.org)
[Stackoverflow](http://st

[2016-03-04 11:00] #8404 closed

[2016-03-04 12:46] chinpei215 commented on #8397
OK, then I think we reach a consensus on what we should do. Thanks everyone. Closing.

[2016-03-04 12:46] #8397 closed

[2016-03-04 13:24] dario86 opened #8405 "matching() is not working with hasMany (through) associations"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: nginx 1.8, php 5.6.11

### What you did

I have a table AgentsTable.php with this association:

[code]

TagsTable.php with

[code]

TagsAssociations.php with

[code]

### Expected Behavior

There is not inner join with Tags and Tags.scope is not set to 1 automat

[2016-03-04 21:02] markstory commented on #8405
The hasMany association doesn't support the `through` option. Perhaps you intended to use a `belongsToMany` association? Your query needs to contain() or matching the correct associations. Right now your query is not working because you've created an invalid query.

[2016-03-04 21:02] #8405 closed

[2016-03-04 22:25] calubrious opened #8406 "Cakephp 2 and Cakephp 3 return database data differently"
This is a (multiple allowed):
* [x] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.2 and 2.6.3
* Platform and Target:
Apache 2.2.31
MySQL 5.5
Database table:
Col=InnoDb
Engine=latin1_swedish_ci

### What you did
So here is the story
http://stackoverflow.com/questions/35801011/cakephp-2-and-cakephp-3-return-database-data-differently

So after alot of silence i started

[2016-03-04 22:47] lorenzo commented on #8406
Just configure the charset for your connection in your app.php file.

The default there is is UTF8 which you are apparently not using.

[2016-03-04 22:47] #8406 closed

[2016-03-05 00:01] calubrious commented on #8406
That's the problem that does not work even if i put utf8 config as encoding in the config it stil returns different data see md5 hashes like the post on Stack says. The problem comes from the init var in conjunction with the charset encoding.

[2016-03-05 02:28] markstory commented on #8406
So by removing the charset your issue goes away? What is the connection charset if you're not defining one? What happens if you define a charset/encoding in the 2.x application? Are the columns binary or are they text? How can someone reproduce this issue?

[2016-03-05 02:52] markstory commented on #8385
Pull request up now.

[2016-03-05 02:52] #8385 closed

[2016-03-05 12:12] calubrious commented on #8406
So by removing the charset your issue goes away?: Yes and also removing the init SET NAMES utf8 array

What is the connection charset if you're not defining one?: According to phpmyadmin utf8 (also shoudlnt it default to what the database uses if none is given?)

So my thought proccess was if i leave all in default on v3 i get the same results/output, but that is not happening.

[code]

As you can

[2016-03-05 13:20] markstory commented on #8406
Storing encrypted data into a latin1 encoded table is likely a source of your problem here. Using a binary column would solve this problem as you're aware, another solution would be to base64 encode the data before it goes into the database to prevent these encoding issues.

Given your specific requirements you might be best off creating an in-app modification of the Mysql Driver that removes the

[2016-03-05 13:45] calubrious commented on #8406
Totally agree with your comment about my setup not being super but.

Is there any small change that you can acctually add an extra option via the database config
so that i can like force the above shown working config to get the data like i want?
(Knowing fullwell it's not the best setup but i can atleast expect the data to return like i thought it would)

All be it an extremly rare case it would

[2016-03-05 14:41] lorenzo commented on #8374
Would you like to provide the code for this change? I think it is a good idea

[2016-03-05 14:43] lorenzo commented on #8314
I'm going to close this issue as it is currently a side-effect of us not actually supporting nested matching() calls and we already have an issue for tracking that enhancement request.

I will try to work on that

[2016-03-05 14:43] #8314 closed

[2016-03-05 14:45] lorenzo commented on #8269
Closing as a way to reproduce the issue was not provided.

[2016-03-05 14:45] #8269 closed

[2016-03-05 14:45] damianoporta commented on #8314
ok @lorenzo !

[2016-03-05 14:48] lorenzo commented on #4093
I think this can be closed already

[2016-03-05 14:48] #4093 closed

[2016-03-05 14:49] #4101 closed

[2016-03-05 14:51] lorenzo commented on #6127
Closing as the related pull requests were closed too.

[2016-03-05 14:51] #6127 closed

[2016-03-05 14:52] #6652 closed

[2016-03-05 14:54] lorenzo commented on #6909
This was in another similar ticket ticket some time ago

[2016-03-05 14:54] #6909 closed

[2016-03-05 14:56] lorenzo commented on #7171
This has been a very long-lived bug and changing the behavior of the code could break applications. Givent that there is a plugin available to overcome the issue, I think this can be safely closed now.

[2016-03-05 14:56] #7171 closed

[2016-03-05 14:57] #7792 closed

[2016-03-05 14:59] lorenzo commented on #7856
Closing as implementing bulk inserts in a database-agnostic way is actually difficult and already done for cake 3. Replicating this work for cake 2 would be a significant amount of time.

[2016-03-05 14:59] #7856 closed

[2016-03-05 15:01] lorenzo commented on #7858
Cake does not allow having model with the same alias. You need to post-proces the results to merge the fields from the two models

[2016-03-05 15:01] #7858 closed

[2016-03-05 15:07] lorenzo commented on #8112
This is a duplicate of #6606

[2016-03-05 15:07] #8112 closed

[2016-03-05 15:09] lorenzo commented on #8274
I think thi is the expected behavior for new entities, when you provide an id

[2016-03-05 15:10] lorenzo commented on #8336
@davidsteinsland would you like to backport the csrf component from 3.x?

[2016-03-05 15:57] bancer commented on #7858
It does allow. The only problem is virtual fields that are not fetched properly. I do not need to merge the fields from two models as `find()` is called only on one model.

[2016-03-05 17:32] #7968 closed

[2016-03-05 18:43] #8164 closed

[2016-03-05 20:43] #7974 closed

[2016-03-05 21:52] markstory commented on #8406
Wouldn't a subclass of the Mysql driver in your application let you configure the connection string exactly as you need it? If you have a change in mind that would be compatible with the existing implementation and allow you to cover your use case I'd be open to merging it.

[2016-03-05 22:30] #6606 closed

[2016-03-06 08:38] odan commented on #8374
Thank's! I provide code for this change.

[2016-03-06 09:08] mehdi-fathi opened #8413 "dosen't show error on find treeList"
This is a (multiple allowed):
- [ ] bug
- [x] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: 3.0.0
- Platform and Target: Local Apache 2.4 Windows 8
### What you did

i was working by tree today.I found a inconsistency this part.if you write wrong name of cloumn in valuePath on treeList then you will don't see any errors.indeed this return null. for example
 `$list = $this->Acos->fi

[2016-03-06 14:57] lorenzo commented on #8272
Are you actually getting any errors in postgres? I just tried this in postgresql 9.5 and this test did not fail

[2016-03-06 15:04] #8272 closed

[2016-03-06 15:33] lupuswwww opened #8416 "Cakephp 3 - Translate behavior does not work for the default language"
Sorry for my english, but I hope you will understand me. Simplified code looks like this:
//in bootstrap.php

// MainMenusTable.php

//in controller - THIS WORKS

// **in controller BUT THIS DOESN'T WORK!!! 'Title' field has not been saved.**

I have the same problem when I read the record:
//in controller - THIS WORKS!

// in controller **BUT THIS DOESN'T WORK:**

For 'deu' I manually entered rec

[2016-03-06 15:42] lorenzo commented on #8416
The behavior assumes that you store the records in the default language. If the current locale is the same as the default language, then it will just return the records in the database instead of fetching from the translations table

[2016-03-06 15:49] lupuswwww commented on #8416
I have removed I18n::locale('deu');  , but still does not work for the default language. The 'title' is not saved in the i18n table. It works for all other languages.

[2016-03-06 15:56] lorenzo commented on #8416
The title will not be saved in the i18n table for the default language, that is only done for other languages.

[2016-03-06 15:59] lupuswwww commented on #8416
Thanks:) I thought the multilingual field is saved in the i18n for all languages, even for default.

[2016-03-06 16:00] lorenzo commented on #8416
No problem :)

[2016-03-06 16:00] #8416 closed

[2016-03-06 18:15] markstory commented on #8319
Closing as a pull request is open now.

[2016-03-06 18:15] #8319 closed

[2016-03-06 22:46] saeideng commented on #8274
@lorenzo , no, this is not expected behavior
even in `patchEntity()` , `id` is appear
however this bahavior just seen in `belongsToMany`
in `belongsTo` or `hasMany` , the id discarted

[2016-03-07 00:48] CodeBlastr commented on #6908
I know this issue is closed and old, but I've just got to voice my opinion because the headache this has caused me and continues to cause me is absolutely ridiculous.  Because Mac has PHP installed with the OS, and CLI uses one PHP and the local server stack can use another, it's an crazy nightmare to try and get cake to recognize that php-intl is installed.  I've probably spent at least 20 hours

[2016-03-07 01:56] markstory commented on #8374
Closing as #8415 has changes for this.

[2016-03-07 01:56] #8374 closed

[2016-03-07 02:04] markstory commented on #6908
Have you considered using homebrew to install a PHP binary that is easier to get php-intl working with?

[2016-03-07 02:21] CodeBlastr commented on #6908
Sorry I meant to add the "no reply necessary" on the end of that message.  I have tried homebrew, and numerous other things (I've spent 20 hours working on it, so I've pretty much tried everything).  I have it working, and don't need help, I just wanted to voice my opinion that CakePHP would be a better easier to use framework without it being a requirement.

It's just not as easy as you all think

[2016-03-07 06:41] lorenzo commented on #6908
Do you need help setting it up? I can help you

[2016-03-07 08:33] simkimsia opened #8419 "Nested Resource Routing does not work with DashedRoutes"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: Nginx, MySQL and Ubuntu 14.04

### What you did
I used nested resources like this:

[code]

and DashedRoutes like this

    Router::defaultRouteClass('DashedRoute');

and my url was:

     example.app/payment-types-with-values/2/payments-by-members

### Expected

[2016-03-07 09:59] jhli commented on #6908
As he said twice - he did it bit considers it a major hurdle to get started with CakePHP.

I can't judge on that, as I moved my development into vboxes and then vagrant long time ago. Maybe an official dev-only vbox that has everything to run composer and cakephp3 could help?

[2016-03-07 10:35] bravo-kernel commented on #6908
cakebox?

[2016-03-07 13:41] jadb commented on #6908
@bravo-kernel include link!

@CodeBlastr, his suggestion will help https://github.com/alt3/cakebox

[2016-03-07 14:20] davidyell commented on #7657
I can confirm that this is happening to me also. Using Cake `3.2.3` and trying to read from the Steam API. `http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/`

[2016-03-07 15:58] bancer commented on #7856
If you would like reconsider I fixed it this way :
[code]

[2016-03-07 18:58] steinkel commented on #8179
Then I guess the best approach would be adding a note in the documentation?

[2016-03-07 20:39] markstory commented on #7657
@davidyell What would we document? That the server has to not reply with invalid HTTP responses?

[2016-03-07 20:46] markstory commented on #8419
With your connected routes, what does `bin/cake routes` output? Does it show the inflected routes you're expecting or something else?

[2016-03-07 20:47] markstory commented on #8419
Also I forgot to ask do you set the default route class before or after you connect the resource routes?

[2016-03-07 20:50] davidsteinsland opened #8420 "Add option to ignore certain URLs with Auth.redirect"
This is a (multiple allowed):
- [ ] bug
- [x] enhancement
- [x] feature-discussion (RFC)
- CakePHP Version: 2.*
### Expected Behavior

`Auth.redirect` should not be filled with current URL for any action, it should be possible to ignore certain actions.

[code]

`AuthComponent.php`:

[code]
### Actual Behavior

Let's say a session timeout causes the user to be logged out. While this happens, the b

[2016-03-08 09:04] davidyell commented on #7657
I would document that the Cake HTTP client doesn't work with this format of return. It's the first time using the framework that I've hit an issue!

Perhaps I misunderstand, as I was pointed to this issue from irc.

[2016-03-08 09:26] blieb commented on #7657
The problem is that the server does not sent the chunked parts right, The number you are seeing is the length of a chunk.
My solution was to use the secure connection (https) this makes the internet a little bit saver, and it does not works in chunks. :)

I your api is also available on https:
https://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/

I think this should be fixed in php (or

[2016-03-08 09:45] Xegara opened #8423 "CakePHP - leftJoinWith method with HABTM relationship results to a wrong query."
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: Apache2, MariaDB, Windows Machine.

### What you did
I have three tables having HABTM a relationship:

    Equipment ---< EquipmentTasks >--- Tasks

Now, I wish to execute this code in my custom finder:

    $query->leftJoinWith('Tasks');

But it produces this q

[2016-03-08 13:32] Techbrunch opened #8424 "Notice: Undefined index when using TreeBehavior::verify()"
This is a:
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: tested with 2.6.12 & 2.8.1
* Platform and Target: Apache / MySQL

### What you did

I'm writing a simple shell to verify and recover a tree.

[code]

### Expected Behavior

[code]

### Actual Behavior

Notice are thrown when using `TreeBehavior::verify()`.

[code]

Otherwise the function appears to work corre

[2016-03-08 14:11] ADmad commented on #8424
Does your model or some attached behavior have a `beforeFind()` which manipulates query fields?

[2016-03-08 14:18] Techbrunch commented on #8424
No but I do have a `beforeValidate()`:

[code]

[2016-03-08 15:46] boindil opened #8425 "Prepared statements combined with subqueries results in wrong params"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: apache 2.4 / nginx / mariadb 5.5

### What you did
I have 2 nice subqueries build with standard `$table->find()` and a main query built with `$table->find()`.

I have multiple conditions in subqueries 1 and 2 (each one has two arguments). I have three conditions

[2016-03-08 16:01] boindil opened #8426 "Allow ValueBinder to bind multiple placeholders in one method call"
This is a (multiple allowed):
* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: apache 2.4 / nginx / mariadb 5.5

### What you did
Use `$table->find()->bind()`

### Expected Behavior
I would like to use
[code]
but the actual behavior of the ValueBinder is more like
[code]

I think it would improve the ValueBinder if one can bind multiple va

[2016-03-08 16:58] markstory commented on #7657
@blieb I agree, there is nothing we can do about remote servers being bad at HTTP. The chunked decoding _does work_ when the server correctly implements chunked encoding.

[2016-03-08 17:12] boindil opened #8427 "Contains doesnt use correct alias if set manually"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: apache 2.4 / nginx / mariadb 5.5

### What you did
[code]

### Expected Behavior
Contain using correct alias on `ON` (`... LEFT JOIN ... othertable.id ON SomeAlias.foreign_id ...`)

### Actual Behavior
Contain using old alias (query created: `... LEFT JOIN ... o

[2016-03-08 18:29] markstory commented on #8427
Can you give a more concrete example?  Is the `contain()` call referencing an existing association or one that was renamed. Right now I'm not clear on how to go about reproducing this issue.

[2016-03-08 18:32] markstory commented on #8423
I think your suggested query won't work in postgres. Instead the join clauses would need to be

[code]

[2016-03-08 18:42] boindil commented on #8427
Hi,
this (simplified) example should (not) work.

[code]

Without the contain everything works fine and the query is using the alias `NeatAlias`. The generated `ON` statement however is not aware of this alias and uses the standard Alias `MyTables` instead.

Btw: I tried to avoid this by using `foreignKey => false` and creating my own `queryBuilder`. However I'm not sure on how to generate the ON

[2016-03-08 20:36] patrickconroy opened #8429 "3.2.4 - $routes->redirect not working as expected"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: PHP 5.6.10, MAMP running Apache on port 80

### What you did
[code]

### Expected Behavior
A request to `http://localhost/foo` should be a 302 to `http://google.com`

### Actual Behavior
A request to `http://localhost/foo` is a 404, no redirect

[2016-03-08 20:49] patrickconroy commented on #8429
I went back in time, and looks like it was working in 3.1.11 tag but became broken in 3.2.0. Looking at https://github.com/cakephp/cakephp/compare/3.1.11...3.2.0 it seems like https://github.com/cakephp/cakephp/commit/93668043e7d044ec55587f1618792d3d49fdb434 *might* be related, but I'm not sure what that change was for.

[2016-03-08 21:55] ravage84 commented on #8179
:+1: for the documentation approach.

[2016-03-08 23:10] lorenzo commented on #8426
You can bind array arguments for IN clauses if you pass the $type argument as string[] or integer[] o whatever type it is and appending []

[2016-03-08 23:22] lorenzo commented on #8427
Changing the table alias on the fly is actually not allowed. I think we should add an exception when the alias is set after the table has been built

[2016-03-08 23:25] lorenzo commented on #8425
What are you using bind() for anyway? :)

[2016-03-08 23:45] jhli commented on #8427
So it is allowed on construct and inintialize (and any events before those)?

[2016-03-09 01:27] boindil commented on #8427
Well, everything else is working just fine ... and actually I like the way of modifying the alias :+1:

[2016-03-09 01:33] markstory commented on #8427
@lorenzo Raising an exception sounds like the best option we have here.

[2016-03-09 01:36] markstory commented on #8425
How can someone reproduce this issue?  Is there a small bit of code that reproduces the issue?

[2016-03-09 01:36] boindil commented on #8426
Hi @lorenzo, yes you're totally right, it works! Thanks! I've searched my way through the Docs but didn't find a hint for that....

Still I'm correct on the point that binding multiple params at once (as in the example) isnt possible, am I?

[2016-03-09 01:39] markstory commented on #8426
Yes there isn't a way to bind multiple parameters on a single method call currently.

[2016-03-09 01:43] markstory commented on #8429
That commit was part of #8072 which made it possible for dispatcher filters to interact with redirect routes, and made it possible to write tests for redirect routes.

I will take a look as I thought I checked this all working back then.

[2016-03-09 01:43] boindil commented on #8427
@markstory so how would I get my table object correctly?
Using `TableRegistry::get('MyTables', ['alias' => 'NeatAlias']);` doesnt work as Cake throws `You cannot configure "MyTables", it already exists in the registry.: You cannot configure "MyTables", it already exists in the registry.`

[2016-03-09 01:46] markstory commented on #8427
`TableRegistry::get('NeatAlias', ['className' => 'MyTable']);` should work.

[2016-03-09 01:47] boindil commented on #8425
Well I didn't plan on using bind() in the first place. bind() is only the workaround for this problem.

@markstory I'll add some code tomorrow, gotta get some sleep now :)

[2016-03-09 01:52] boindil commented on #8427
@markstory sadly it does not. I'm getting the same error as above.

[2016-03-09 01:55] boindil commented on #8427
@markstory yes that does work ...

[2016-03-09 02:38] markstory commented on #8429
I just tried this on a fresh app install and the redirect routes _did_ work as expected. Do you have a custom `RoutingFilter` or other Dispatch filters that augment responses?

[2016-03-09 02:43] markstory commented on #8419
When you connect resource routes you need to use the `'inflect' => 'dasherize'` option to get dasherized resource routes. This is necessary because resource names need to be inflected outside of the route class so the controller names can be used in static portions of the route template.

[2016-03-09 02:43] #8419 closed

[2016-03-09 03:16] Xegara commented on #8423
Ohh. Sorry about that. I mistyped the correct query. It should have been like what you indicated.

[2016-03-09 09:32] chinpei215 opened #8431 "__xn() and __dxn() functions return singular form of message always"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4 (master)
* Platform and Target: PHP 5.6.15 x32, Windows10

### What you did
I created a .po file for testing context dependent translation,
[code]
and tried to use __xn() function.
[code]

### Expected Behavior
Returns plural form of message.
[code]

### Actual Behavior
Returns singul

[2016-03-09 10:12] lupuswwww opened #8433 "CakePHP 3 showing white blank page"
I have successfully installed CakePHP 3 on my local machine. I use WAMP server (http: // localhost /). Everything works fine.
When I have transferred the same files to a web server via FTP  http://example.com/ cakephp 3 does not work, it shows the white blank page.
Web server (example.com) uses php 5.6 version.
Where is the problem? What's wrong?

[2016-03-09 10:29] Draniu opened #8434 "CorsBuilder don't add header in response"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: PHP : 7.0.4-3+deb.sury.org~trusty+4

### What you did
here is my controller

[code]
### Expected Behavior
action `ok` works well
I expect that action `sample` have header `Access-Control-Allow-Origin:*`

### Actual Behavior
in action `sample` in response there i

[2016-03-09 11:02] lupuswwww commented on #8433
These are my steps:
1. Download composer.phar in wamp/www/
2. Composer create-project --prefer-dist cakephp/app cakephp3
3. http://localhost/caketest/ - I received a welcome message. Everything works fine.
4. After successful installation I transferred the same files to a web server via FTP http://example1.com/
5. Cakephp 3 shows the white blank page.
6. I tried to do the same thing with other web

[2016-03-09 11:11] lupuswwww commented on #8433
this is my 107 line: (new ConsoleErrorHandler(Configure::read('Error')))->register();

[2016-03-09 13:01] lupuswwww commented on #8433
It seems to be a problem in the version of PHP. PHP version should be greater than 5.4. It seems that the server example1.com not using version 5.6. I made a test on the third server example3.com. Cakephp 3 is installed successfully. Php version is 5.6

[2016-03-09 13:01] #8433 closed

[2016-03-09 13:05] boindil commented on #8425
Hi,
here's my example

[code]

I'm migrating a plain SQL query to cake style. Yes I know the possibility to execute plain SQL exists, but I would like not to to that.

While rewriting I needed the subqueries with their conditions, but they were ignored when combining everything.
@lorenzo I ended up using `bind()` as you noticed from my other opened issue to solve this problem, but of course its no

[2016-03-09 13:08] ionas commented on #8433
**Can you confirm** that you had something lower than 5.5.9 on your other server?

Cause this is from cakephp/app's composer.json:
[code]

[2016-03-09 13:18] lupuswwww commented on #8433
Yes, **I confirm** that the problem was in the version of PHP.

[2016-03-09 13:20] ionas commented on #8425
Two suggestions:
* You want to setup multiple associations, those should setup aliases correctly. AFAIK you can even setup associations on the fly.
* You can use `->from('aliasname' => 'tablename')` explicitly in your sub-query building to circumvent alias collisions.
Hit me if I am wrong on any of those. Also you are welcome to join IRC for discussing implementation questions on Freenode IRC.

[2016-03-09 13:21] ionas commented on #8433
Which one.
On the server you had issues create a test.php with contents `<?php echo phpinfo() ?>` then check the php version. On the same server on the console type php -v
Same?

[2016-03-09 13:26] HavokInspiration commented on #8433
@ionas He installed Cake on a local machine which probably had a good enough PHP version and transferred everything through FTP on a server that probably did not have a good PHP version. No composer commands were ran on the server from what I can read.

[2016-03-09 13:28] ionas commented on #8427
http://book.cakephp.org/3.0/en/orm/table-objects.html#configuring-table-objects the className is fully namespaced. Should the docs be changed or is it good either way?

[2016-03-09 13:30] ionas commented on #8433
@HavokInspiration now that's not a good idea ;).
I did not find any documentation about it - http://book.cakephp.org/3.0/en/deployment.html

Is the best practice to have a git repository for your application. Then git pull (or capistrano or whatever) and then run composer install (which respects composer.lock) and would check for php version, then?

If so - worth adding to the docs? Should I setup

[2016-03-09 13:30] lupuswwww commented on #8433
http://localhost/ - Everything works fine (PHP 5.5).
http://example1.com/ - it does not work  (PHP 5.3).
http://example2.com/ - it does not work  (PHP 5.3).
http://example3.com/ - everything works fine  (PHP 5.6).
I tested three different web servers.

[2016-03-09 13:32] ionas commented on #8433
@lupuswwww that is to be expected!
Did you read @HavokInspiration 's comment - did you "FTP-deploy" your cake app?

[2016-03-09 14:02] lupuswwww commented on #8433
Yes, I have read @HavokInspiration's comment. I did just so. I made the installation locally and later I transferred all  files via FTP to server

[2016-03-09 15:54] markstory commented on #8427
@ionas The classname option accepts a shortname, fully qualified classname or a plugin short name.

[2016-03-09 15:55] markstory commented on #8434
Did your request include the `Origin` header? The CORS headers will only be set if the request includes an `Origin` header.

[2016-03-09 15:57] markstory commented on #8434
Also by using `echo` in your controller, the response object cannot send headers. Instead you should use `$this->response->body('{"status":"OK"}');`

[2016-03-09 15:59] markstory commented on #8431
Closing as a pull request is up now.

[2016-03-09 15:59] #8431 closed

[2016-03-09 16:04] patrickconroy commented on #8429
Hm yeah that seems to have been it. I was extending the cake `RoutingFilter`. I just changed mine to extend `DispatcherFilter` and added the normal ``DispatcherFactory::add('Routing');`` to my bootstrap and things look fine.
My `RoutingFilter::beforeDispatch` looked like this..

[code]

Is there anything I could do to that to make it work better with Cake's `RoutingFilter`? Or should it be finaliz

[2016-03-09 16:09] markstory commented on #8429
Doing `return parent::beforeDispatch($event)` should fix your issue. Closing this now as the core code is fine and the issue was in an application subclass.

[2016-03-09 16:09] #8429 closed

[2016-03-09 16:44] patrickconroy commented on #8429
Thanks! `return`ing made that work.

[2016-03-09 21:46] boindil commented on #8425
You're right on that, but I'm not sure how this helps on the params. This would fit more on #8427 I think - or am I missing something right now?

[2016-03-09 22:55] markstory commented on #8425
This will likely never work, as the string cast of query object will never be able to know that it is being added to another query. If you wanted to use the query builder, you'd need to make that subtraction expression out of objects. That would have a better chance of working as the value binders might share state.

[2016-03-09 23:14] lorenzo commented on #8425
I'm closing this ticket since the code you posted will never work. Please join us in the IRC channel so we can guide you.

[2016-03-09 23:14] #8425 closed

[2016-03-09 23:28] jhli commented on #8425
@ boindil - yes i mixed it up, it is an answer to your other ticket!

[2016-03-09 23:41] Graziel opened #8436 "3.2.4 complex conditions in addAssociations are ignored"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4

### What you did
i have belongsToMany association with condition:
[code]

### Expected Behavior
[code]
query with conditions

### Actual Behavior
[code]
the condition is being ignored

[2016-03-10 02:38] markstory commented on #8436
How are you creating the above query?

[2016-03-10 02:43] Graziel commented on #8436
nothing fancy ie. this gives me same result

[code]

[2016-03-10 10:06] Draniu commented on #8434
i know that i should not use echo in controller but i did this controller for testing purpose

when i change `echo` to `$this->response->body()` it works like a charm
but with `echo` even `$this->response->header()` wont work

[2016-03-10 10:31] berarma opened #8438 "debug() doesn't iterate Collection objects"
This is a minor bug or enhancement.

* CakePHP Version: 3.2.4
* Platform and Target: PHP 5.6.17, Debian Jessie

### What you did
[code]

### Expected Behavior
I expect to get a list of the items in the _Collection_, like I would get with _Query_ and _ResultSet_ objects.

### Actual Behavior
Current output:
[code]

The same behavior can be seen in DebugKit's variables pane making it useless for wat

[2016-03-10 10:55] AD7six commented on #8434
Because if you do that - you're provoking "Cannot modify header information - headers already sent by `echo`"

[2016-03-10 11:16] ADmad commented on #8434
Stop echoing content from controller and just return the response object with header and body set and you won't have any problems.

[2016-03-10 11:16] #8434 closed

[2016-03-10 11:58] Draniu commented on #8434
yes but why it  works for short strings? it should not work at all or it should work always...
And there is no think in log, no warning or anything

[2016-03-10 14:54] markstory commented on #8434
It has to do with server API output buffering. Apache and php-fpm will buffer a few hundred bytes before flushing. This is why a small response works fine but a large one does not.  A larger response body will cause an implicit flush which outputs headers.

[2016-03-10 15:02] markstory commented on #8438
I'm not sure it should iterate a collection. Iterating a collection can be destructive if the Collection is wrapping an immutable object.

[2016-03-10 15:16] lorenzo commented on #8438
I think I will give up on this: the most common case is not having destructive collections, and it makes sense to show the contents if people are debugging the object anyway.

[2016-03-10 15:37] Marlinc commented on #8438
Implementing something like this would for example break the streaming support in the Twitter plugin I've written. I general you won't debug the collection generated by it but doing so would cause debug to hang indefinitely.

[2016-03-10 17:22] patrickconroy opened #8440 "3.2.4 - Saving BTM as entities with joinData not working as expected"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.4
* Platform and Target: PHP 5.6.10, MAMP running Apache on port 80

### What you did
So, I know I've brought up stuff like this in the past and it usually came down to a user error, but I've been trying to get something to work for about 12 hours and I'm pretty sure it's a bug. I can't

[2016-03-10 18:16] glafarge opened #8441 "Transliteration utility"
This is a feature-discussion (RFC).

It can be useful to make a transliteration function to replace accented characters for example.
What do you think about this ?

[code]

I can make a PR if needed.

[2016-03-10 18:21] ionas commented on #8433
PR #2 https://github.com/cakephp/docs/issues/3815

[2016-03-10 21:17] markstory commented on #8440
So if I understand the issue correctly, when you are trying to update the `_joinData` on existing records that were loaded with `Table->get()` the joinData does not persist correctly?

The last example is probably your best option, but the `_joinData` property will need to be an Entity and not an array. The ORM won't persist array data that should be entities. Can you try:

[code]

instead of the

[2016-03-10 21:52] patrickconroy commented on #8440
Thanks @markstory.. That saves the `_joinData`, however you can only do it once. Running it twice fails my `user_id + crew_id` DB constraint since it's just trying to insert again.

[2016-03-10 21:57] markstory commented on #8441
Inflector::slug() does this to some degree.

[2016-03-10 21:59] Draniu commented on #8434
Thank you very much for your detailed explanation :)
I admire your work :)

[2016-03-10 22:03] markstory commented on #8440
I don't think we'll be able to fix the `_joinData` as an array case without causing a slew of other bugs. What does your code look like that does multiple updates?

[2016-03-10 22:15] patrickconroy commented on #8440
Hm, I don't think I explained everything then.. I'm not doing multiple updates in a single request. Right now in debugging this the only thing happening. I'm trying to save the BTM data with _joinData, and just once. This is my entire code right now to simplify things:
[code]
So, say the crew someone is linked to changes from primary=1 to primary=0 after a few hours. The next time I run the code,

[2016-03-10 22:15] CodeBlastr opened #8443 "Datasource not found"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2
* Platform and Target: Mac, Nginx, Not relevant

### What you did
Created a file at plugins/Wholsalify/src/Datasource/Connection.php with the following content

[code]

Added the following to config/app.php

[code]

Added the following to config/bootstrap.php

``Plugin::load('Wholsalify

[2016-03-10 22:18] ionas commented on #8443
http://book.cakephp.org/3.0/en/orm/database-basics.html#configuration Dot Syntax?

[2016-03-10 22:27] markstory commented on #8443
How did you configure the autoloader for you plugin?

[2016-03-10 22:46] CodeBlastr commented on #8443
I added ``, ['autoload' => true]`` to ``Plugin::load('Wholsalify');`` so that it looks like this ``Plugin::load('Wholsalify', ['autoload' => true]);`` and it works.  Closing the issue.

[2016-03-10 22:46] #8443 closed

[2016-03-11 00:10] AdamDomafoldi opened #8445 "Form url - controller action parameter issue"
This is a (multiple allowed):
* [x] bug

* CakePHP Version: 3.2.2

### What you did
I have some variables($category,$subcategory,$subsubcategory) which have been passed to the controller's action as a parameter. In the controller's action I pass these variables to the view again(They have value of course). When I create a form and place them there as parameters I receive a bug.
ProductsController/

[2016-03-11 02:09] markstory commented on #8443
You could also update your composer.json and regenerate you autoloader with `composer dumpautoload`.

[2016-03-11 02:11] markstory commented on #8445
What is in those variables? It looks like complex arrays of data. Given the context here I don't know what the right output is or how to reproduce your issue.

[2016-03-11 02:21] thinkingmedia opened #8446 "Add factory methods to the Cake\Collection"
This is an enhancement:

* CakePHP Version: 3.2.3
* Platform and Target: Apache, MySQL, PHP 7

### What you did

[code]

To use the Collection library it has to be instantiated and assigned to a variable.

This creates *used once* assignments of temporary variables. I think it just added extra lines of code.

Alternatively, you could write

[code]

The above is valid, but it doesn't read very well

[2016-03-11 02:23] markstory commented on #8440
Ah ok. I didn't understand, but now I do. If the joinData exists you would have update the existing _joinData entity. Replacing it with a new entity will cause the primary key error you're running into, as the new entity doesn't know about the database record.

[2016-03-11 02:24] markstory commented on #8446
Have you tried using the `collection()` function? It does the same thing as your proposed c() function.

[2016-03-11 02:27] thinkingmedia commented on #8446
@markstory I missed that one. It is in the docs but it's only in a few examples at the bottom. I can PR to update the docs for that.

[2016-03-11 02:38] jeremyharris commented on #8446
Oh cool, I never new about `collection()`.

[2016-03-11 05:39] ah8r opened #8448 "matching() multiple times on deep associations with aliased models only appears to JOIN the first alias"
This is a:
* [x] bug

* CakePHP Version: 3.2.4
* Platform and Target: Nginx, MySQL

### What you did

I have a Transfers model which belongsTo two different Accounts models:

[code]

Accounts belongsTo a single User.

I want to create a query which only returns Transfers where both the FromAccount and the ToAccount match a certain username (e.g. internal transfers). The following query is what I c

[2016-03-11 09:39] berarma commented on #8438
I created this issue without knowing there were destructive collections. I expected this issue to be a no-brainer since it already works for other related objects like _ResultSet_, but this breaks my expectations about collections. It's unfortunate we can't know which collections are destructive and which not, it makes hard to abstract functionality like the one here. :(

If this could be solved i

[2016-03-11 09:47] AdamDomafoldi commented on #8445
They are simple strings, but I set them more clearly:
controller
`$this->set('category','alkoholos-italok');
$this->set('subcategory','sor');`
view
`  <?php echo $this->Form->create('Product',['type'=>'GET','url'=>['controller'=>'products','action'=>'index',$category,$subcategory]]); ?>`

And the result is the above mentioned problem.

[2016-03-11 10:13] glafarge commented on #8441
Stripping accented characters can be useful to :
- treat filenames (with support of extensions)
- transform keys in associative arrays to keep a correct order when sorting with `ksort()` for example

I think it can be useful for people that deal with accents in their projects.
Let me know your opinion...

[2016-03-11 10:20] dereuromark commented on #8441
So you mean a `Inflector::transliterate()` as a lightweight form of slug() then?
I wonder if slug() itself would maybe already suffice here, too.

[2016-03-11 10:30] glafarge commented on #8441
Exactly. It would make this possible for those who need it when they want to keep a file extension or spaces and transliterate only special characters.
But I know it also add a kind of complexity to Inflector class...

[2016-03-11 10:52] lorenzo commented on #8448
This is probably just how it is supposed to work. Supporting the same association alias in the the same query for different paths would be actually very difficult, but I'll take a look at how this could be implemented.

The best solution I have for you now is to create another association for the users stable with a different alias. This way you would not have repeated aliases in the query, which

[2016-03-11 14:13] houseoftech opened #8450 "#8279 Inherited Permissions breaks inherits from denied parents in 2.8.1"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 2.8.1
* Platform and Target: LAMP

### What you did
Checked permission `check($aro, $aco, '*')` on an inherited (0) child ACO whose parent has everything denied (-1).

### Expected Behavior
The check should have returned `false` for denied.

### Actual Behavior
The check returned `true`.

S

[2016-03-11 14:16] ah8r commented on #8448
Thanks, that works perfectly.

[2016-03-11 15:58] markstory commented on #8450
I'll take a look, thank you for the test case :+1:

[2016-03-11 16:01] markstory commented on #8450
The third assertion

[code]

Shouldn't that be true? Jane was granted `create` on bizzaro_world, and bizzaro_town inherits the `ALLOW create` rule.

[2016-03-11 16:03] markstory commented on #8445
Ok. If you create a Form url using hardcoded strings do you have the same issue? From the previous dump those variables appear to be containing arrays.

[2016-03-11 16:10] patrickconroy commented on #8440
Hm, well doesn't that mean no one can do this in app code without first doing checks for the joint record? That seems like logic that the core should take care of.

It also doesn't explain why this doesn't work, not even worrying about `_joinData`:
[code]
You'd expect that to save a joint record in `users_crews`, but it doesn't. Only when you call `$crew->toArray()` will it save.

It seems like al

[2016-03-11 16:27] ah8r commented on #8448
On this issue, if it's too difficult to implement then I think at least there should be an exception thrown to let developers know, otherwise there may be instances where people are writing matching() statements like mine and assuming they are working when they don't.

The code in my case produces no errors; it runs fine and returns data, but the data itself is wrong, and I only noticed through te

[2016-03-11 16:30] patrickconroy commented on #8440
Is it that `patchEntity` doesn't work when patching with other `entities`? If I use `Table::set`, everything works.

Doesn't work:
[code]

Works:
[code]

If `patchEntity` isn't supposed to work, then there might be no bug (except I think the docs should probably be updated with my previous comment).

[2016-03-11 17:17] AdamDomafoldi commented on #8445
If I use hardcoded strings or declare these variables at the beginning of the view then it works fine.

That's why my solution was to declare additional variables and give them as a value the previously passed variables from the controller.

So In my controller:
`$this->set('category','alkoholos-italok'); $this->set('subcategory','sor');`
in my view:

In this case it works fine but if I want to ju

[2016-03-11 18:07] ADmad commented on #8440
Have you tried passing `['associated' => '_joinData']` in `patchEntity` options?

[2016-03-11 18:08] ADmad commented on #8445
Btw a string 'Product' is not a valid argument for 1st argument `FormHelper::create()`. Check API for valid value types.

[2016-03-11 18:34] ADmad commented on #8446
`collections()` is listed on the manual [here](http://book.cakephp.org/3.0/en/core-libraries/global-constants-and-functions.html#collection) but it's probably missing cross referencing on the [Collections](http://book.cakephp.org/3.0/en/core-libraries/collections.html) for greater visibility.

@thinkingmedia A PR to update the manual would be welcome.

Closing this PR as no code change is required

[2016-03-11 18:34] #8446 closed

[2016-03-11 18:41] rrd108 opened #8451 "phpunit code coverage fails with No whitelist configured, no code coverage will be generated error"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.1.11
* Platform and Target: Apache/2.4.12 (Ubuntu), PHP Version 7.0.4-1+deb.sury.org~wily+1

### What you did
bin/phpunit --coverage-html webroot/coverage tests

### Expected Behavior
PHPUnit supposed to cretae code coverage files

### Actual Behavior
I got this error messahe:
PHPUnit 5.2

[2016-03-11 18:49] houseoftech commented on #8450
Yes, you are correct. That should be `assertTrue`.

[2016-03-11 18:51] saeideng commented on #8451
`phpunit --coverage-html webroot/coverage` works for me
why use `bin/phpunit` ?

[2016-03-11 18:54] ADmad commented on #8451
[phpunit.xml.dist](https://github.com/cakephp/cakephp/blob/master/phpunit.xml.dist#L37) already has whitelist for coverage and coverage report is generated fine on [travis build](https://github.com/cakephp/cakephp/blob/master/.travis.yml#L76).

[2016-03-11 18:54] #8451 closed

[2016-03-11 19:00] markstory commented on #8445
Ok, but that takes me back to my original question. What _are those variables_? What comes out of `var_dump($category)` for example? Assigning a new variable name doesn't change the contents of a variable. My suspicion is that those variables contain types that don't fit into URLs nicely.

[2016-03-11 20:11] houseoftech commented on #8450
This looks like it might work.

	$allowed = $inherited = array();
	for ($i = 0; $i < $count; $i++) {
		$permAlias = $this->alias;

		$perms = $this->find('all', array(
			'conditions' => array(
				"{$permAlias}.aro_id" => $aroPath[$i][$this->Aro->alias]['id'],
				"{$permAlias}.aco_id" => $acoIDs
			),
			'order' => array($this->Aco->alias . '.lft' => 'desc'),
			'recursive' => 0
		));

		if (emp

[2016-03-12 02:37] markstory commented on #8440
Yes. patchEntity() is intended to apply array/request data updates to existing entities. You can't 'patch' objects together as the marshaller is for converting array/request data into entities. If your request data used the `['id' => 2688, '_joinData' => ['primary' => 0]]` form you wouldn't run into any issues (as you know).

[2016-03-12 04:20] markstory commented on #8450
Thanks for the diff @houseoftech. I took a slightly different approach with #8453. I figured that the root cause was that we were checking `$inherited` too early. Instead of on each permission node, it should be checked at the very end to ensure all the inherit/allow overrides are accounted for.

[2016-03-12 04:20] #8450 closed

[2016-03-12 09:30] AdamDomafoldi commented on #8445
All right so in my view I've made these:
`  var_dump($category);
  var_dump($subcategory);`
results:
`string 'tejtermekek' (length=11)
string 'tejek' (length=5)`

I corrected the argument of FormHelper::create() to NULL

[2016-03-12 16:54] thinkingmedia opened #8454 "HtmlHelper breadcrumbs do not work with cells."
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Platform and Target: Apache 2, MySQL, Windows 10, PHP 7

### Overview

HtmlHelper breadcrumbs do not work for cells.

### What you did

In template for controller's action.

[code]

In template for cell's action

[code]
### Expected Behavior

Should render the breadcrumbs for the `D

[2016-03-12 20:35] canon4o opened #8455 "Add support for nested translation domains, so plugins can contain domains"
- [ ] bug
- CakePHP Version: 3.2.4.
- Platform and Target: Ubuntu 14.04 Server / php5
### What you did

I baked new plugin and add custom locale file in folder 'plugin_name/src/Locale/bg/months.po'. In both AppController's I have I18n::locale('bg'); and when try to translate month in plugin template, it doesn't work.

I try to write __d('Administration.months', 3), but not work. Then I try to writ

[2016-03-12 21:19] CodeBlastr opened #8456 "Multisite support, any interest?"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [x] feature-discussion (RFC)

* CakePHP Version: 3.3?

Is there any interest in having CakePHP support multiple sites more easily out of the box?  I'm pretty close to wrapping up some customizations to make it happen and was curious if I should submit it as a pull request when I'm done.  Here's a code example to show you the direction I'm

[2016-03-13 01:36] markstory commented on #8454
This behavior is intentional. Cells are intentionally isolated and do not share state with the parent view.

[2016-03-13 01:36] #8454 closed

[2016-03-13 01:39] markstory commented on #8456
I think supporting multiple sites is a fairly squishy domain, as various applications will solve it in different ways. Are you are using different templates for each site, but sharing application code?

[2016-03-13 01:55] markstory commented on #8455
Each plugin _is_ a domain. We currently don't support nesting domains inside of plugins. Instead you'll have to use `Administration/src/Locale/bg/administration.po` as your file name, which will enable `__d('administration', 'a string')` to be correctly translated.

Given that nested domains are not something we currently support, we could possibly implement it in a future release.

[2016-03-13 02:03] markstory commented on #8445
Ok, I'm unable to reproduce your problem with the following code:

[code]

I decoded your 'bad' URL and it contains the following:

[code]

Which confirms my earlier suspicions that your variables did not contain strings, but contained array data. Since I cannot reproduce your issue I'm going to close it. I suggest you look at your view variables a bit more closely and ensure that you are not pass

[2016-03-13 02:03] #8445 closed

[2016-03-13 09:30] jippi commented on #8456
I personally think cake3 is flexible enough for this to be handled inside a plugin :)

[2016-03-13 11:27] ADmad commented on #8456
I too don't think this needs to be in core.

[2016-03-13 11:32] lorenzo commented on #8456
Can you explain how this works?

[2016-03-13 11:43] jippi commented on #8456
the code looks just expanding on the search paths for all files to include directories based on pre-set structure :)

[2016-03-13 16:25] thinkingmedia commented on #8454
@markstory yes, I understand that. The issue is that the HtmlHelper is being used to store data internally. That is counter to the helper pattern. Since helpers are recreated for each view. The feature of breadcrumbs pre-dates this change and was added when helpers were singletons.

I'm just asking that you think about that for a bit, or comment on it.

[2016-03-13 17:15] canon4o commented on #8455
Okay. I hope. Thanks.

[2016-03-13 20:06] markstory commented on #8454
Where should HtmlHelper store its data instead of on the class?

[2016-03-13 21:44] thinkingmedia commented on #8454
@markstory I've been thinking about this for a few days. I've run into other areas of CakePHP 3 where data is tightly coupled with a view and I don't think it should be like that. Another example would be `loadModel` in cells. The model factory is unique to each cell/view, but this results in the model not caching SQL queries like it did in CakePHP 2.

As an example, I have a cell that renders a p